{% extends "../index_single.twig" %}

{% set title = 'Single Post' %}
{% set posttags = 'true' %}


{% block content %}
	<div class="main__body main__content__body">
		{% include '../components/content_post_full.twig' %}
	</div>
{% endblock %}

{% block footer %}
	{% include "../components/single_footer.twig" %}
{% endblock %}