{% include 'components/head.twig' %}

<body>
	<div class="scroll-fix"></div>
	<div class="wrapper live-audio">
        <header class="header is_audio_header" id="header">
			<a href="javascript:void(0)" onClick="window.history.back()" class="sm_visible">
	            <svg class="icon deg270" aria-hidden="true" focusable="false">
	                <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
	            </svg>
			</a>

		    <form class="header__search" id="header-search-form" action="/search" role="search" onsubmit="return false;">
		        <div class="form__item">
		            <input class="form__control" id="header-search-input" name="blogsearch" type="search" dir="auto" autocomplete="off" aria-label="within mybusines.app" placeholder="Search">
		                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
		                    <span>Audio broadcasts</span>
		                </button>


			            <button class="header__search-submit" id="header-search-submit" type="submit" aria-label="Submit Search">
			                <svg class="icon" aria-hidden="true" focusable="false">
			                    <use href="/assets/sprite/sprite.svg#icon-search"></use>
			                </svg>
			            </button>

			                <div id="smartSearchInner" class="search__filter has-shadow has-border-radius-base is_small">
			                    <ul class="no_list_style intervalcheck">
			                        <li class="custom-radio edit_link"> 
			                            <label>
			                                <svg class="icon" aria-hidden="true" focusable="false">
			                                    <use href="/assets/sprite/sprite.svg#icon-community"></use>
			                                </svg>
			                                <input type="radio" name="search_from"  value="Audio broadcasts" checked> 
			                                <span>Audio broadcasts</span>                        
			                            </label>
			                        </li>
			                        <li class="custom-radio edit_link"> 
			                            <label>                   
			                                <svg class="icon" aria-hidden="true" focusable="false">
			                                    <use href="/assets/sprite/sprite.svg#icon-globe"></use>
			                                </svg>
			                                <input type="radio" name="search_from"  value="All over site"> 
			                                <span>All over site</span>
			                            </label>
			                        </li>
			                    </ul>
			                    <ul class="no_list_style liveCheck">
		                            <li class="form-check form-check-inline">
		                                <label class="form-check-label flex align-center">
		                                    <input type="radio" class="form-check-input" name="searchFrom" value="All">
		                                    <span>All</span>
		                                </label>
		                            </li>             
		                            <li class="form-check form-check-inline">
		                                <label class="form-check-label flex align-center">
		                                    <input type="radio" class="form-check-input" name="searchFrom" value="female">
		                                    <span>Live</span>
		                                </label>
		                            </li>             
		                            <li class="form-check form-check-inline">
		                                <label class="form-check-label flex align-center">
		                                    <input type="radio" class="form-check-input" name="searchFrom" value="male">
		                                    <span>In recording</span>
		                                </label>
		                            </li>                  
		                            <li class="form-check form-check-inline">
		                                <label class="form-check-label flex align-center">
		                                    <input type="radio" class="form-check-input" name="searchFrom" value="male">
		                                    <span>Planned</span>
		                                </label>
		                            </li>                    
		                        </ul>
			                </div>
		        </div>
		        <button class="header__search-cancel btn is-ghost" type="reset" data-role="search-cancel">
		            <span class="label is-bolder">Cancel</span>
		        </button>
		    </form>

			<ul class="header__menu" id="header-menu">
			    <li class="header__notify">
				  	<button type="button" data-bs-toggle="modal" data-bs-target="#modal-notify">	        
			        	<svg class="icon" aria-hidden="true" focusable="false">
					      	<use href="/assets/sprite/sprite.svg#icon-bell"></use>
					  	</svg>
					  	<span id="header__notify-count" class="header__notify-label active">1</span>
				  	</button>
			    </li>
				<li class="dropdown header__user is-on">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<div class="header_photo">
							<img src="/assets/images/avatar.jpg" alt="Владимир Никишин">
						</div>
						<div class="header__photo-is_online">	        
				        	<svg class="icon" aria-hidden="true" focusable="false">
						      	<use href="/assets/sprite/sprite.svg#icon-check"></use>
						  	</svg>
						</div>
					</a>
					{% include "components/profile.twig" %}
				</li> 
				<li class="has-search-button">
					<button class="header__search-toggle btn is-compact is-icon" type="button" aria-haspopup="true" aria-label="Отправить поиск">
                  		<svg role="img" class="icon">
                    		<use href="/assets/sprite/sprite.svg#icon-search"></use>
                  		</svg>
                	</button>
				</li>
			</ul>
        </header>

        <div class="main">
	        <main class="main__content">        	
	        	{% block content %}
				{% endblock %}
	        </main>
        </div>
        
        <nav class="primary-nav">
        	<div class="md_hidden">
        		{% include 'components/primary_nav.twig' %}
        	</div>
        	
        	<div class="md_visible">
				<ul class="menu">
					<li class="menu__item">
						<button class="is-ghost menu__link" type="button">
	                        <svg class="icon" aria-hidden="true" focusable="false">
	                            <use href="/assets/sprite/sprite.svg#icon-repposts"></use>
	                        </svg>
	                        <span class="label">Share</span>
	                    </button>
					</li>
					<li class="menu__item">
						<button class="is-ghost menu__link" type="button" data-target="#liveComments">
	                        <svg class="icon" aria-hidden="true" focusable="false">
	                            <use href="/assets/sprite/sprite.svg#icon-messenger"></use>
	                        </svg>
	                        <span class="label">chat</span>
	                    </button>
					</li>
					<li class="menu__item">
						<button class="is-ghost menu__link" type="button" data-target="#inviteFriends">
	                        <svg class="icon" aria-hidden="true" focusable="false">
	                            <use href="/assets/sprite/sprite.svg#icon-invite"></use>
	                        </svg>
	                        <span class="label">Invite</span>
	                    </button>
					</li>
					<li class="menu__item">
						<button class="is-ghost menu__link" type="button">
	                        <svg class="icon" aria-hidden="true" focusable="false">
	                            <use href="/assets/sprite/sprite.svg#icon-hand"></use>
	                        </svg>
	                        <span class="label">Speak</span>
	                    </button>
					</li>
				</ul>	
        	</div>
    	</nav>
        
        <div class="l-nav is_audio">
	        <div class="l-nav__tabs">
		        <ul class="tab-controls tabs_items">
					<li class="tabs_items__item active">
						<button class="btn is-ghost" type="button" data-target="#liveComments">
		        			<svg class="icon" aria-hidden="true" focusable="false">
			                	<use href="/assets/sprite/sprite.svg#icon-messenger"></use>
			                </svg>
						</button>						
					</li>
					<li class="tabs_items__item">
						<button class="btn is-ghost" type="button" data-target="#inviteFriends">
		        			<svg class="icon" aria-hidden="true" focusable="false">
			                	<use href="/assets/sprite/sprite.svg#icon-invite"></use>
			                </svg>
						</button>						
					</li>
				</ul>        	
	        </div>

	        <div class="l-nav__modals-wrap">
		        <div class="l-nav__modals" id="liveComments">
			        <div class="l-nav__modals__item l-item">
			        	<div class="l-item__header">
			        		<button class="btn is-ghost is_uppercase is_close">
			        			<span>Cancel</span>
			        		</button>

			        		<div class="title">Chat</div>

			        	</div>

			        	<div class="l-item__body">
			        		<div class="l-comments">
								<ul class="l-comments__items">
								    <li class="l-comments__thread l-thread">
								        <div class="l-thread__indent-l-0">
								            <div class="l-thread__comment l-comment">
								                <div class="l-comment__body">
								                    <div class="l-comment__header">
								                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay" style="background: #148016;">Д</a>
								                    </div>
								                    <div class="l-comment__text">
						                                <a href="#" class="l-comment__author">
							                                Душ Сантуш
							                                <span>(Special)</span>
						                                </a>
								                        <span class="l-comment__message">Where is everyone?</span>	
					                                	<a href="javascript:void(0)" class="l-comment__children-count"></a>
								                    </div>
								                </div>
								            </div>
								        </div>
								        <div class="l-thread__children"></div>
								    </li>
								    <li class="l-comments__thread l-thread">
								        <div class="l-thread__indent-l-0">
								            <div class="l-thread__comment l-comment">
								                <div class="l-comment__body">
								                    <div class="l-comment__header">
								                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay">
								                        	<img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
								                        </a>
								                    </div>
								                    <div class="l-comment__text">
						                                <a href="#" class="l-comment__author">
						                                	Юша Б
						                                	<span class="l-comment__status"></span>
						                                </a>
						                                <span class="l-comment__message">I'm here</span>
	                									<a href="javascript:void(0)" class="l-comment__children-count"></a>
								                    </div>
								                </div>
								            </div>
								        </div>
								        <div class="l-thread__children"></div>
								    </li>
								    <li class="l-comments__thread l-thread">
								        <div class="l-thread__indent-l-0">
								            <div class="l-thread__comment l-comment">
								                <div class="l-comment__body">
								                    <div class="l-comment__header">
								                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay">
								                        	<img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
								                        </a>
								                    </div>
								                    <div class="l-comment__text">
						                                <a href="#" class="l-comment__author">
						                                	Юлия Савельева 
						                                	<span class="l-comment__status"></span>
						                                </a>
								                        <span class="l-comment__message">Chat banned</span>
					                                	<a href="javascript:void(0)" class="l-comment__children-count">124 answers</a>
								                    </div>
								                </div>
								            </div>
								        </div>
								        
								        <div class="l-thread__children">
								            <div class="l-comments__thread l-thread">
								                <div class="l-thread__indent">
								                    <div class="l-thread__comment l-comment">
										                <div class="l-comment__body">
										                    <div class="l-comment__header">
										                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay">
										                        	<img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
										                        </a>
										                    </div>
										                    <div class="l-comment__text">
										                                <a href="#" class="l-comment__author">
										                                	Eli Bogdashina 
										                                	<span class="l-comment__status"></span>
										                                </a>
										                        <span class="l-comment__message">How is the weather with you, is it very hot?</span>
										                    </div>
										                </div>
								                    </div>
								                </div>
								            </div>
								        </div>
								    </li>
								    <li class="l-comments__thread l-thread is_primary">
								        <div class="l-thread__indent-l-0">
								            <div class="l-thread__comment l-comment">
								                <div class="l-comment__body">
								                    <div class="l-comment__header">
								                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay">
								                        	<img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
								                        </a>
								                    </div>
								                    <div class="l-comment__text">
						                                <a href="#" class="l-comment__author small">
						                                	Владимир Никишин  
						                                	<span class="l-comment__status small"></span>
						                                </a>
								                        <span class="l-comment__message">Hi everyone</span>
								                        <a href="javascript:void(0)" class="l-comment__children-count"></a>
								                    </div>
								                </div>
								            </div>
								        </div>
								        <div class="l-thread__children"></div>
								    </li>
								    <li class="l-comments__thread l-thread">
								        <div class="l-thread__indent-l-0">
								            <div class="l-thread__comment l-comment">
								                <div class="l-comment__body">
								                    <div class="l-comment__header">
								                        <a href="#" class="l-comment__avatar avatar is-md is-round has-overlay">
								                        	<img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
								                        </a>
								                    </div>
								                    <div class="l-comment__text">
						                                <a href="#" class="l-comment__author">
						                                	Толстая Тамада
						                                	<span class="l-comment__status"></span>
						                                </a>
						                                <span class="l-comment__message"> Vladimir, do you have any clients/acquaintances engaged in agriculture, farming in Montenegro? well, except for that woman in the video who has a cheese farm? tell them how they're doing)</span>
	                									<a href="javascript:void(0)" class="l-comment__children-count"></a>
								                    </div>
								                </div>
								            </div>
								        </div>
								        <div class="l-thread__children"></div>
								    </li>
								</ul>
			        		</div>	
			        		<div class="form__control-group">
	                            <button class="form__control-icon is-right button is-bare is-icon" type="button">
	                                <svg role="img" class="icon is-md">
	                                    <use href="/assets/sprite/sprite.svg#icon-send"></use>
	                                </svg>
	                            </button>
	                            <input type="text" class="form__control has-icon-right" required="" placeholder="Your comment">
	                        </div>
			        	</div>
			        </div>
		        </div>

		        <div class="l-nav__modals" id="inviteFriends">
			        <div class="l-nav__modals__item l-item">
			        	<div class="l-item__header">
			        		<button class="btn is-ghost is_uppercase is_close">
			        			<span>Cancel</span>
			        		</button>

			        		<div class="title">Invite</div>

	                        <button class="btn is-primary is_uppercase" type="button"> 
		            			<svg class="icon is-white" aria-hidden="true" focusable="false">
	                                <use href="/assets/sprite/sprite.svg#icon-send"></use>
	                            </svg>
							</button>
			        	</div>

			        	<div class="l-item__body">
			        		<div class="form__item">
	                            <input class="form__control"  type="text" placeholder="Find">
	                        </div>

			        		<div class="select_type flex align-center justify-between">
			        			<button class="btn is-ghost is_uppercase" type="button" aria-label="Viewers">
	                    			<span>Viewers</span>
	                			</button>
			        			<button class="btn is_uppercase" type="button" aria-label="Co-hosts">
	                    			<span>Co-hosts</span>
	                			</button>
			        		</div>

			        		<ul class="invite__list">
	                            <li>
	                                <div class="flex align-center">
	                                    <figure class="entety__avatar">
	                                        <img src="/assets/images/mybg.jpg" alt="" class="entety__avatar_img">
	                                    </figure>      
	                                    <label class="flex align-center">
	                                        <span class="invite__list__desc">
	                                            <span class="invite__list__desc__title">Anna Chernopyatova</span>
	                                        </span>
	                                        <input type="checkbox">
	                                    </label>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="flex align-center">
	                                    <span class="entety__avatar" style="background: #148016;">
	                                        E
	                                    </span>      
	                                    <label class="flex align-center">
	                                        <span class="invite__list__desc">
	                                            <span class="invite__list__desc__title">Eugene Potapenko</span>
	                                        </span>
	                                        <input type="checkbox">
	                                    </label>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="flex align-center">
	                                    <figure class="entety__avatar">
	                                        <img src="/assets/images/mybg.jpg" alt="" class="entety__avatar_img">
	                                    </figure>      
	                                    <label class="flex align-center">
	                                        <span class="invite__list__desc">
	                                            <span class="invite__list__desc__title">Anna Chernopyatova</span>
	                                        </span>
	                                        <input type="checkbox">
	                                    </label>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="flex align-center">
	                                    <span class="entety__avatar" style="background: #D42421;">
	                                        a
	                                    </span>      
	                                    <label class="flex align-center">
	                                        <span class="invite__list__desc">
	                                            <span class="invite__list__desc__title">Ana Pavicevic Makocevic</span>
	                                        </span>
	                                        <input type="checkbox">
	                                    </label>
	                                </div>
	                            </li>
	                            <li>
	                                <label class="flex align-center justify-center online_only">
	                                    <span class="flex">
	                                        <input type="checkbox"> 
	                                    </span>
	                                       
	                                    <span class="invite__list__desc__title">Search only online</span>
	                                </label>
	                            </li>
	                        </ul>

	                        <button class="btn is-primary is_uppercase" type="button"> 
		            			<span>Publication</span>
							</button>
			        	</div>
			        </div>
		        </div>	        	
	        </div>
    	</div>


		
		{% include "components/single_footer.twig" %}
		
    </div>


	{% include 'components/modals.twig' %}
</body>
</html>