{% include 'components/head.twig' %}

<body>
  <div class="scroll-fix"></div>
  {#<div class="wrapper is_aside single_entity">#}
  <div class="wrapper is_aside single_entity">
    <header class="header" id="header">
      <a class="header__logo logo" href="/">
        {% include 'components/content_logo.twig' %}
      </a>
      {% include './components/search_form.twig' %}

      <ul class="header__menu" id="header-menu">
        <li class="header__notify dropdown is-right">
          <button class="dropdown-toggle">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-bell"></use>
            </svg>
            <span id="header__notify-count" class="header__notify-label active"
              >1</span
            >
          </button>
        </li>
        <li class="dropdown header__user is-on">
          <a
            href="javascript:void(0)"
            class="dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="header_photo">
              <img src="/assets/images/avatar.jpg" alt="Владимир Никишин" />
            </div>
            <div class="header__photo-is_online">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <span>Владимир</span>
          </a>
          {% include "components/profile.twig" %}
        </li>
        <li class="header__language-toggle dropdown">
          <button
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <svg class="icon" aria-hidden="true" focusable="false">
              <use href="/assets/images/flags.svg#icon-flag-ru"></use>
            </svg>
          </button>

          {% include "components/languages_modal.twig" %}
        </li>
        <li class="has-search-button">
          <button
            class="header__search-toggle btn is-compact is-icon"
            type="button"
            aria-haspopup="true"
            aria-label="Отправить поиск"
          >
            <svg role="img" class="icon">
              <use href="/assets/sprite/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </li>
      </ul>
    </header>

    <div class="main">
      <main class="main__content">
        {% block content %}
        <ul>
          <li>
            <a href="/home/">home</a>
          </li>
          <li>
            <a href="/sign-in/">sign in</a>
          </li>
          <li>
            <a href="/sign-up/">sign up</a>
          </li>
          <li>
            <a href="/reset/">reset</a>
          </li>
          <li>
            <a href="/mypage/">profile</a>
          </li>
          <li>
            <a href="/friends/">profile friends</a>
          </li>
          <li>
            <a href="/community/">community</a>
          </li>
          <li>
            <a href="/community/single.html">community single</a>
          </li>
          <li>
            <a href="/organizations/">organizations</a>
          </li>
          <li>
            <a href="/organizations/single.html">organizations single</a>
          </li>
          <li>
            <a href="/events/">events</a>
          </li>

          <li>
            <a href="/profile_bookmarks/">profile Bookmarks</a>
          </li>
          <li>
            <a href="/events/single.html">event single</a>
          </li>
          <li>
            <a href="/promotions/">promotions</a>
          </li>
          <li>
            <a href="/promotions/single.html">promotion single</a>
          </li>
          <li>
            <a href="/advertising/">advertising single</a>
          </li>
          <li>
            <a href="/post/">Single post</a>
          </li>
          <li>
            <a href="/news/">Feed + stories</a>
          </li>
          <li>
            <a href="/profile_special/">profile special</a>
          </li>
          <li>
            <a href="/profile-photos/">profile photos</a>
          </li>
          <li>
            <a href="/friends/nearby.html">profile friends nearby</a>
          </li>
          <li>
            <a href="/live-video/">live video</a>
          </li>
        </ul>
        <br />
        <ul>
          <li>
            <a href="/market/index.html">market</a>
          </li>
          <li>
            <a href="/market/agreement.html">agreement</a>
          </li>
          <li>
            <a href="/market/buyer-category.html">buyer-category</a>
          </li>
          <li>
            <a href="/market/buyer-consumer.html">buyer-consumer</a>
          </li>
          <li>
            <a href="/market/capital-good.html">capital-good</a>
          </li>
          <li>
            <a href="/market/cart-and-checkout.html">cart-and-checkout</a>
          </li>
          <li>
            <a href="/market/cart-purchases.html">cart-purchases</a>
          </li>
          <li>
            <a href="/market/checkout-delivery.html">checkout-delivery</a>
          </li>
          <li>
            <a href="/market/checkout-payment.html">checkout-payment</a>
          </li>
          <li>
            <a href="/market/my-orders.html">my-orders</a>
          </li>
          <li>
            <a href="/market/order-page.html">order-page</a>
          </li>
          <li>
            <a href="/market/sign-up.html">sign-up</a>
          </li>
          <li>
            <a href="/market/thank-page.html">thank-page</a>
          </li>
          <br />
          <li>
            <a href="/market/add-product-main.html">add-product-main</a>
          </li>
          <li>
            <a href="/market/add-product-characteristics.html"
              >add-product-characteristics</a
            >
          </li>
          <li>
            <a href="/market/add-product-page.html">add-product-page</a>
          </li>
          <li>
            <a href="/market/add-product-description.html"
              >add-product-description</a
            >
          </li>
          <li>
            <a href="/market/add-product-files.html"
              >add-product-files</a
            >
          </li>
          <li>
            <a href="/market/add-product-delivery.html"
              >add-product-delivery</a
            >
          </li>
          <li>
            <a href="/market/edit-products.html"
              >edit-products</a
            >
          </li>
          <li>
            <a href="/market/import-product-choice.html"
              >import-product-choice</a
            >
          </li>
          <li>
            <a href="/market/import-product-correspondence.html"
              >import-product-correspondence</a
            >
          </li>
          <li>
            <a href="/market/import-product-details.html"
              >import-product-details</a
            >
          </li>
          <li>
            <a href="/market/seller-orders.html"
              >seller-orders</a
            >
          </li>
          <li>
            <a href="/market/seller-customers.html"
              >seller-customers</a
            >
          </li>
          <li>
            <a href="/market/seller-dashboard.html"
              >seller-dashboard</a
            >
          </li>
          <li>
            <a href="/market/seller-products-table.html"
              >seller-products-table</a
            >
          </li>
          <li>
            <a href="/market/seller-analytics.html"
              >seller-analytics</a
            >
          </li>
        </ul>
        <br />
        <br />
        <ul>
          <li><a href="/live-audio/">live audio</a></li>
        </ul>
        {% endblock %} {% include 'components/modals.twig' %}
      </main>

      <aside class="main__sidebar">
        {% block sidebar %}{% endblock %}
        <div class="main__sidebar__footer">
          <ul class="footer__meta-nav">
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">Feedback</a>
            </li>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">Agreement</a>
            </li>
            <li>
              <a href="#">Confidentiality</a>
            </li>
          </ul>
          <div class="footer__logo">
            <img
              src="/assets/images/logo/logomark.svg"
              width="48"
              height="48"
              alt="{% block title %}{% endblock %}"
            />
          </div>
          <div class="footer__site-credits">
            <div class="nottranslate">
              Copyright ©&nbsp;2022, <br />Social movement of
              entrepreneurs&nbsp;™
            </div>
            <a
              href="https://qwertynetworks.com/ru/create_social_networks"
              target="_blank"
              >Powered by Qwerty Social Network Engine</a
            >
          </div>
        </div>
      </aside>
    </div>

    <nav class="primary-nav">{% include 'components/primary_nav.twig' %}</nav>
  </div>
</body>
