{% include 'components/head.twig' %}

<body>
    <div class="wrapper home-wrapper">
        <header class="header is-default is-home">
            <div class="header__container container">
                <div class="header__row flex justify-between align-center">
                    <div class="header__col flex align-center">
                        <button type="button" id="showMenu" class="burger_btn">
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="/assets/sprite/sprite.svg#icon-burger"></use>
                            </svg>
                        </button>
                        <div class="is-logo">
                            <a class="logo" href="/">
                                <img class="logo__mark" src="/assets/images/logo/logomark.svg" width="48" height="48" alt="">
                                <div class="logo__copy">                    
                                    <div class="tagline">Social movement of entrepreneurs</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="header__col is-buttons">
                        <ul class="header__menu header__buttons" id="header-menu">
                            <li class="header__button">
                                <a href="/sign-up" class="btn is-outline">
                                    <span class="label is-bolder">Sign up</span>
                                </a>
                            </li>
                            
                            <li class="header__button">
                                <a href="/sign-in" class="btn is-ghost">
                                    <span class="label is-bolder">Sign in</span>
                                </a>
                            </li>
                              
                            <li class="header__language-toggle dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/images/flags.svg#icon-flag-ru"></use>
                                    </svg>
                                </button>
                                {% include "components/languages_modal.twig" %}

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <nav class="primary-nav-home primary-nav is-on-home" aria-label="Main">
            {% include 'components/primary_nav.twig' %}        
        </nav> 

        <section class="hero">
            <div class="container">

                <h1 class="hero__title hero-title">
                    Together we are busines<span>strength</span> 
                </h1>

                <p class="hero__text big">
                    Ecosystem "Business" - communication and business relations in the usual formats. Text, photo, multi-user video and audio chats, messenger
                </p>

                <a href="/sign-up" class="hero__button button is-primary">
                    <span class="label is-bolder">Sign up</span>
                </a>

            </div>
        </section>        
    </div>


        <footer class="footer">
            <div class="footer__container container">
                <nav class="footer__nav">
                    <ul>
                        <li><a href="#">Справка</a></li>
                        <li><a href="#">Обратная связь</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Соглашение</a></li>
                        <li><a href="#">Конфиденциальность</a></li>
                    </ul>
                </nav>

                <img src="/assets/images/logo/logomark.svg" alt="alt" class="footer__logo img-r">

                <div class="footer__language-toggle dropdown is-top is-languages">
                    <button class="button is-ghost dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-auto-close="outside">
                        <svg role="img" class="icon is-left">
                            <use href="/assets/images/flags.svg#icon-flag-ru"></use>
                        </svg>

                        <span>Русский</span>

                        <svg role="img" class="icon is-sm">
                            <use href="/assets/sprite/sprite.svg#icon-chevron-down-sm"></use>
                        </svg>
                    </button>
                    <div class="footer__languages languages dropdown-menu">
                        {% include "components/languages.twig" %}
                    </div>
                </div>

                <div class="footer__site-credits">
                    <p class="footer__copyright">Social movement of entrepreneurs ™</p>
                    <a href="#" class="footer__link">Powered by Qwerty Social Network Engine</a>
                </div>
            </div>
        </footer>

        <div class="mask"></div>
</body>
</html>