{% include '../components/head.twig' %}
<body>
	<div class="page-auth">
		<div class="page-auth__container container">

			<div class="flex">
				<div class="left">
					<div class="page-auth__logo-wrap">
						<a href="/"><img src="/assets/images/logo/logomark.svg" alt="alt" class="form-auth__logo img-r"></a>
					</div>
					<div class="page-auth__wrap">
						<h1 class="page-auth__title">
							Welcome back
						</h1>
						<div class="page-auth__subtitle big">
							Don't miss the next Movement event
						</div>
						<div class="page-auth__content">
							June 11–13. Business picnic in the estate "Grebnevo" (Shchelkovsky district, Moscow region)
						</div>						
					</div>

					
					<div class="team">
						<div class="team_desc">
							<div class="team_desc___name">Андрей Ковалев</div>
							<div class="team_desc___about">
								Председатель<br>
								Общероссийского<br>
								движения<br>
								предпринимателей
							</div>
						</div>

						<div class="team_image">
							<img width="227" height="300" src="/assets/images/main/main_profile.png">
						</div>
					</div>
				</div>
				<div class="right">
					<form class="page-auth__form form-auth form is_sign-in">
						<div class="form-auth__title">Авторизация</div>
						<div class="form-auth__auth-methods auth-methods">
							<div class="auth-methods__title">Войдите как пользователь</div>
							<div class="auth-methods__items">
								<a href="#" class="auth-methods__button btn is-outline is-icon">
									<svg role="img" class="icon">
										<use href="/assets/sprite/sprite.svg#icon-google" />
									</svg>
								</a>
								<a href="#" class="auth-methods__button btn is-outline is-icon">
									<svg role="img" class="icon">
										<use href="/assets/sprite/sprite.svg#icon-yandex" />
									</svg>
								</a>
								<a href="#" class="auth-methods__button btn is-outline is-icon">
									<svg role="img" class="icon">
										<use href="/assets/sprite/sprite.svg#icon-viber" />
									</svg>
								</a>
								<a href="#" class="auth-methods__button btn is-outline is-icon">
									<svg role="img" class="icon">
										<use href="/assets/sprite/sprite.svg#icon-telegram" />
									</svg>
								</a>
							</div>
						</div>
						<div class="form-auth__controls">
							<div class="form-auth__controls-title">или так:</div>
							<div class="form__item">
								<div class="form__control-group">
									<input type="email" class="form__control is-border-st has-icon-left" required placeholder="Email">
									<svg role="img" class="form__control-icon is-left icon">
										<use href="/assets/sprite/sprite.svg#icon-email" />
									</svg>
								</div>
							</div>
							<div class="form__item">
								<div class="form__control-group">
									<input type="password" class="form__control is-border-st has-icon-left has-icon-right" required placeholder="Пароль">
									<svg role="img" class="form__control-icon is-left icon">
										<use href="/assets/sprite/sprite.svg#icon-lock" />
									</svg>
									<button class="form__control-icon form__password-toggle is-right button is-bare is-icon" type="button">
										<svg role="img" class="icon">
											<use href="/assets/sprite/sprite.svg#icon-eye" />
										</svg>
									</button>
								</div>
							</div>
						</div>
						<div class="form-auth__footer">
							<div class="form-auth__links flex">
								<a href="/sign-up/" class="form-auth__link label is-bolder">регистрация</a>
								<a href="/reset" class="form-auth__link label">забыли пароль?</a>
							</div>
							<button type="submit" class="form-auth__submit btn is-primary">
								<span class="label is-bolder">вход</span>
							</button>
						</div>
					</form>

					<div class="page-auth__language-toggle dropdown is-top-center">
						<button class="button is-bare dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-auto-close="outside">
							<svg class="icon is-left" aria-hidden="true" focusable="false">
					      		<use href="/assets/images/flags.svg#icon-flag-ru"></use>
					  		</svg>
							<span class="label">Русский</span>
							<svg role="img" class="icon is-sm">
								<use href="/assets/sprite/sprite.svg#icon-arrow"></use>
							</svg>
						</button>
						{% include "../components/languages_modal.twig" %}
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
