.menu__item,
%menu-item {
  padding-top: 0;
  padding-bottom: 0;
}

.menu__item > a,
%menu-link {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-big);
  letter-spacing: .05rem;
  line-height: var(--font-line-height-small);
  text-transform: uppercase;
  color: var(--color-ink-2ry);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: .2rem $size-2 .2rem;
  transition: background var(--motion-duration-sm);
  width: 100%;
  min-height: $size-5;

  &:hover,
  &:focus,
  &.active {
    background-color: var(--color-ink-accent);
    text-decoration: none;
  }

  .icon {
    margin-right: $size-1p5;
    transform: translateY(-.1rem);
  }

  > .label {
    transform: translateY(.1rem);
  }

  @include media-breakpoint-up(lg) {

    border-radius: var(--shape-border-radius-base);
  }
  @include media-breakpoint-up(xs) {
    // flex-direction: column;
    padding: 1.5rem 0.8rem;
  }
}

.is-friends {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    &__copy {
      display: none;
    }
  }
}

.is-community,
.is-organizations,
.is-events,
.is-promotions,
.is-advertising {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    &__copy {
      display: none;
    }
  }
}


.for_tablet {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.primary-nav .is-more.for_tablet.open .menu {
    position: fixed;
    background: var(--color-ink-inverse-base);
    left: 11.2rem;
    width: 20rem;
    border-radius: var(--shape-border-radius-lg);;
    display: block;
    top: 55rem;
    bottom: auto;
    padding: 2rem;
}
.primary-nav .is-more.for_tablet .menu {
  @include media-breakpoint-between(sm, xl) {
    display:none;
  }
       
}
.primary-nav .is-more.for_tablet.open .menu .dropdown__link {
    justify-content:flex-start;
}