{% extends "../index_home.twig" %}   


{% set title = 'Home' %}

<section class="hero">
    <div class="container">

        <h1 class="hero__title hero-title">
            Встаньте, люди,<br>
            встаньте в круг
        </h1>

        <p class="hero__text big">
            Лайки, френды, группы.<br>
            Чувства, друзья, общность.<br>
            Социальная сеть для приличных
        </p>

        <a href="#" class="hero__button button is-primary">
            <span class="label is-bolder">присоединиться</span>
        </a>

    </div>
</section>