.add-footer-product {
    margin: 0 auto;
    max-width: 72rem;
    width: 100%;
    padding: 2.4rem;
    position: fixed;
    bottom: 0;
    z-index: 3;
    border-top: 1px solid #d1d9e6;
    border-radius: 0 0 1.5rem 1.5rem;

    background: rgba(252, 252, 253, 0.92);
    box-shadow: 0px -1px 0px rgba(23, 25, 28, 0.04);
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 5.2rem;
        border-top: 0px;
        border-bottom: 1px solid #d1d9e6;
        border-radius: 26px 26px 0px 0px;
        padding: 0.8rem;
    }
    // .add-footer-product__wrapper
    &__wrapper {

    }

    // .add-footer-product__links
    &__links {
        display: grid;
        grid-template-columns: 4rem 2fr 4rem;
        gap: 1rem;
        align-items: center;
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
        }
    }

    // .add-footer-product__prev
    &__prev {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(270deg);
        & svg {
            margin: 0 !important;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    // .add-footer-product__buttons
    &__buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        @include media-breakpoint-down(md) {
            justify-content: space-between;
        }
    }

    // .add-footer-product__btn-cancel
    &__btn-cancel {
        background: transparent !important;
        @include media-breakpoint-down(md) {
            padding: 0 1.2rem;
        }
    }

    // .add-footer-product__sp-can-d
    &__sp-can-d{
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    // .add-footer-product__sp-can-m
    &__sp-can-m{
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    // .add-footer-product__btn-save
    &__btn-save {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    // .add-footer-product__title
    &__title {
        display: none;
        @include media-breakpoint-down(md) {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            font-family: "Roboto";
            font-size: 1.7rem;
            line-height: 1.41;
            color: var(--ink-dark-base, #081935);
            font-weight: 500;
        }
    }
    // .add-footer-product__btn-complete
    &__btn-complete {
        color: #fff;
        @include media-breakpoint-down(md) {
            border-radius: 1.1rem 1.8rem 1.1rem 1.1rem;
            padding: 0.8rem !important;
        }
        & svg {
            color: #fff;
            margin: 0 !important;
        }
        & span {
            line-height: 1;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    // .add-footer-product__next
    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        & svg {
            margin: 0 !important;
        }
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}
