
// -----------------------------------------------------------------------------
// CSS FLex
// -----------------------------------------------------------------------------
// #region

.flex {
  display: flex;
  flex-wrap:wrap;
}
.align-center {
  align-items:center;

  .form-label__title, .search__filter__item label {
    margin-bottom: 0;
  }
}
.justify-between {
  justify-content:space-between;
}
.justify-center {
  justify-content:center;
}

.is_link {
  cursor: pointer;
}
.direction-column {
  flex-direction:column;
}
.text-center {
  text-align: center;
}

.sm_hidden {
  display: none;
  @include media-breakpoint-up(sm) {
    display: var(--display);
  }
}
.md_hidden {
  display: none;
  @include media-breakpoint-up(md) {
    display: var(--display);
  }
}

.lg_hidden {
  display: none;
  @include media-breakpoint-up(lg) {
    display: var(--display);
  }
}

.sm_visible {
  display: var(--display);
  @include media-breakpoint-up(sm) {        
    display: none;
  }
}
.md_visible {
  display: var(--display);
  @include media-breakpoint-up(md) {        
    display: none;
  }
}
.lg_visible {
  display: var(--display);
  @include media-breakpoint-up(lg) {        
    display: none;
  }
}
.relative,
%relative {
  position: relative;
}
.img-r {
  display: block;
  max-width: 100%;
  height: auto  ;
}
