
// -----------------------------------------------------------------------------
// CSS FLex
// -----------------------------------------------------------------------------
// #region

.flex {
  display: flex;
  flex-wrap:wrap;
}
.align-center {
  align-items:center;

  .form-label__title, .search__filter__item label {
    margin-bottom: 0;
  }
}
.justify-between {
  justify-content:space-between;
}
.justify-center {
  justify-content:center;
}

.is_link {
  cursor: pointer;
}
.direction-column {
  flex-direction:column;
}
.text-center {
  text-align: center;
}

.sm_hidden {
  display: none;
  @include media-breakpoint-up(sm) {
    display: var(--display);
  }
}

.md_hidden {
  display: none;
  @include media-breakpoint-up(md) {
    display: var(--display);
  }
}

.lg_hidden {
  display: none;
  @include media-breakpoint-up(lg) {
    display: var(--display);
  }
}
.lg_only {
  display: none;
  @include media-breakpoint-between(md, lg) {
    display: var(--display);
  }
}

.sm_visible {
  display: var(--display);
  @include media-breakpoint-up(sm) {        
    display: none;
  }
}

.md_visible {
  display: var(--display);
  @include media-breakpoint-up(md) {        
    display: none;
  }
}

.lg_visible {
  display: var(--display);
  @include media-breakpoint-up(lg) {        
    display: none;
  }
}

.relative,
%relative {
  position: relative;
}
.img-r {
  display: block;
  max-width: 100%;
  height: auto  ;
}
.no_padding {
  padding: 0;
}
.is-bolder {
  font-weight: 600;
}

.likeblue {
  .icon{
    color: var(--icon-fill-blue);
  }

  &.active {
    button {
      background:  var(--color-background-primary-dark);
      box-shadow: inset 0px 4px 8px rgb(8 25 53 / 24%), inset 0px 2px 4px rgb(8 25 53 / 24%);

      .icon {
        color: var(--color-ink-inverse-base);
      }
    }
  }
}


/************************************************************/

.speakers_list {
  margin-bottom: $size-5;
}

.speakers {
    --gap: #{$size-1};
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));

    > * {
        padding-right: var(--gap);
        padding-left: var(--gap);
        width: 25%;
        @include media-breakpoint-up(sm) {
          width: 33.33333%
        }
        @include media-breakpoint-up(md) {
          width: 14.2857%
        }
    }

    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
}

.speakers-item {
  text-align: center;
  margin-bottom: $size-2;
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-middle);
    color: var(--color-ink-2ry);
  }
  &__avatar {
      overflow: hidden;
      border-radius: 50%;
      width: 6.4rem;
      height: 6.4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit:cover;
      }
  }
}
.speakers_main {
  margin-top: $size-2;
  .speakers {
    > * {
        @include media-breakpoint-up(md) {
          width: 16.666666%
        }
    }
  }
  .speakers-item {
    position: relative;
    opacity: 0.5;

    &__avatar {
      width: 8rem;
      height: 8rem; 
    }  

    &:after {
      content: "";
      display: inline-block;
      right: 2rem;
      position: absolute;
      top: 6rem;
      width: 2rem;
      height: 2rem;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='20' height='20' rx='10' fill='%23FCFCFD'/%3e%3cpath d='M7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18V16ZM13 18C13.5523 18 14 17.5523 14 17C14 16.4477 13.5523 16 13 16V18ZM16 9C16 8.44772 15.5523 8 15 8C14.4477 8 14 8.44772 14 9H16ZM6 9C6 8.44772 5.55228 8 5 8C4.44772 8 4 8.44772 4 9H6ZM11 5V9H13V5H11ZM9 9V5H7V9H9ZM10 10C9.44772 10 9 9.55228 9 9H7C7 10.6569 8.34315 12 10 12V10ZM11 9C11 9.55228 10.5523 10 10 10V12C11.6569 12 13 10.6569 13 9H11ZM10 4C10.5523 4 11 4.44772 11 5H13C13 3.34315 11.6569 2 10 2V4ZM10 2C8.34315 2 7 3.34315 7 5H9C9 4.44772 9.44772 4 10 4V2ZM10 13C7.79086 13 6 11.2091 6 9H4C4 12.3137 6.68629 15 10 15V13ZM14 9C14 11.2091 12.2091 13 10 13V15C13.3137 15 16 12.3137 16 9H14ZM7 18H10V16H7V18ZM10 18H13V16H10V18ZM11 17V14H9V17H11Z' fill='%238197BB'/%3e%3c/svg%3e ");
    } 

    &.mic_off {
      &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='20' height='20' rx='10' fill='%23FCFCFD'/%3e%3cpath d='M6 9C6 8.44772 5.55229 8 5 8C4.44772 8 4 8.44772 4 9H6ZM7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18V16ZM12.5 18C13.0523 18 13.5 17.5523 13.5 17C13.5 16.4477 13.0523 16 12.5 16V18ZM7.13467 4.10945C6.97086 4.63688 7.26564 5.19724 7.79307 5.36105C8.32051 5.52486 8.88087 5.23008 9.04467 4.70265L7.13467 4.10945ZM11 8.33984C11 8.89213 11.4477 9.33984 12 9.33984C12.5523 9.33984 13 8.89213 13 8.33984H11ZM9 8.58594C9 8.03365 8.55229 7.58594 8 7.58594C7.44772 7.58594 7 8.03365 7 8.58594H9ZM10.566 11.9465C11.1084 11.8427 11.464 11.3189 11.3602 10.7764C11.2565 10.234 10.7326 9.87835 10.1902 9.98213L10.566 11.9465ZM16 9C16 8.44772 15.5523 8 15 8C14.4477 8 14 8.44772 14 9H16ZM13.6799 10.5711C13.4628 11.0789 13.6984 11.6666 14.2062 11.8838C14.714 12.1009 15.3017 11.8653 15.5188 11.3575L13.6799 10.5711ZM13.1995 14.0765C13.6665 13.7817 13.806 13.1641 13.5112 12.6971C13.2164 12.2301 12.5988 12.0905 12.1318 12.3854L13.1995 14.0765ZM4.12132 3.29289C3.7308 2.90237 3.09763 2.90237 2.70711 3.29289C2.31658 3.68342 2.31658 4.31658 2.70711 4.70711L4.12132 3.29289ZM15.435 17.435C15.8256 17.8256 16.4587 17.8256 16.8492 17.435C17.2398 17.0445 17.2398 16.4113 16.8492 16.0208L15.435 17.435ZM10 10C9.44772 10 9 9.55228 9 9H7C7 10.6569 8.34315 12 10 12V10ZM10 4C10.5523 4 11 4.44772 11 5H13C13 3.34315 11.6569 2 10 2V4ZM10 13C7.79086 13 6 11.2091 6 9H4C4 12.3137 6.68629 15 10 15V13ZM7 18H10V16H7V18ZM10 18H12.5V16H10V18ZM11 17V14H9V17H11ZM10 2C8.65187 2 7.51387 2.8885 7.13467 4.10945L9.04467 4.70265C9.17143 4.29451 9.55263 4 10 4V2ZM11 5V8.33984H13V5H11ZM9 9V8.58594H7V9H9ZM10.1902 9.98213C10.1293 9.99376 10.0659 10 10 10V12C10.1926 12 10.3819 11.9817 10.566 11.9465L10.1902 9.98213ZM14 9C14 9.5597 13.8856 10.0901 13.6799 10.5711L15.5188 11.3575C15.8289 10.6325 16 9.83494 16 9H14ZM12.1318 12.3854C11.5153 12.7746 10.7855 13 10 13V15C11.1744 15 12.2728 14.6616 13.1995 14.0765L12.1318 12.3854ZM2.70711 4.70711L15.435 17.435L16.8492 16.0208L4.12132 3.29289L2.70711 4.70711Z' fill='%238197BB'/%3e%3c/svg%3e ");
      } 
    }

    &.is_speaking {
      opacity: 1;
    }
  }
}