
// -----------------------------------------------------------------------------
// CSS FLex
// -----------------------------------------------------------------------------
// #region

.flex {
  display: flex;
}
.align-center {
  align-items:center;

  .form-label__title, .search__filter__item label {
    margin-bottom: 0;
  }
}
.justify-between {
  justify-content:space-between;
}
.for_desctop {
  display: none;
  @include media-breakpoint-up(sm) {
        display: var(--display);
  }
}



.is_link {
  cursor: pointer;
}