.form-check-label {
	margin-right: 2.4rem;

	.form-check-input {
		margin: 0 0.7rem 0 0;
	    width: 2rem;
    	height: 2rem;
	}
}
textarea {
	height: 100%;
}
.modal input.no-border,
.modal select.no-border,
.modal textarea.no-border {
	border: 0;
	background: inherit;
}
.modal input.no-bg , 
.modal select.no-bg , 
.modal textarea.no-bg {
	background: inherit;
}
.modal,.modal-open {
	// padding-right: 0!important;
}




#unsubscribe {
	.modal-dialog { 
		top: $size-3;
	    box-shadow: var(--layer-box-shadow-z2);
	    max-width: var(--size-width-base);
	}	
}

body {
	.chosen-container {
	    &:focus {
    	    box-shadow: var(--layer-box-shadow-focus-outline);
	    }
	}
    .chosen-search-input {
        display:none;
        &.default {
             display: block;
         }
    }

    .chosen-container-multi {  

		.chosen-choices {
		    background: var(--color-background-alt);
		    border: 1px solid var(--color-ink-border);
		    box-shadow: none;
		    display: flex;
		    align-items: center;
		    flex-wrap:wrap;

		    li {
		    	&.search-field input[type=text] {
				    color: inherit;
				}
		    	&.search-choice {
				    border: none;
				    color: inherit;
				    background: inherit;
				    box-shadow: none;

				    .search-choice-close {
					    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 6L6 18M6 6l12 12' stroke='%238197BB' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3e%3c/svg%3e");
					    background-size: 1.2rem;
					}
				}	
		    }
		}    	
    }

    .chosen-container-single {
    	.chosen-single {
		    background: var(--color-background-alt);
		    border: 1px solid var(--color-ink-border);
		    box-shadow: none;
		    display: flex;
		    align-items:center;

			abbr {
			    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 6L6 18M6 6l12 12' stroke='%238197BB' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3e%3c/svg%3e");
			    background-size: cover;
			    top: 0;
			    bottom: 0;
			    margin-top: auto;
			    margin-bottom: auto;
			}   
			div b {
			    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%238197BB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			    background-position: 0 1.98rem;
			} 		
    	}
    }

    .chosen-container-active {
    	&.chosen-with-drop {
    		.chosen-single {
			    background: var(--color-background-alt);
			}
    	}
    }
}