.form-check-label {
	margin-right: 2.4rem;

	.form-check-input {
		margin: 0 0.7rem 0 0;
	    width: 2rem;
    	height: 2rem;
	}
}
textarea {
	height: 100%;
}
.modal input.no-border,
.modal select.no-border,
.modal textarea.no-border {
	border: 0;
	background: inherit;
}
.modal input.no-bg , 
.modal select.no-bg , 
.modal textarea.no-bg {
	background: inherit;
}
.modal,.modal-open {
	// padding-right: 0!important;
}