{% extends "../index.twig" %}
{% set title = 'My Page' %}
{% set profileCoverImg = '/assets/images/specialBg.jpg' %}
{% set entetyAvatarImg = '/assets/images/avatarF.jpg' %}
{% set groupNameH = 'Андрей Ковалёв' %}
{% set groupNameInfo = 'Председатель Общероссийского Движения предпринимателей' %}
{% set headerActions = {
	likeblue: "Like",
	more: "Edit profile",
} %}

{% set mainSidebarList = [
	['info', 'link','#', "About Andrey", '', 'active'],
	['news', 'link','#', "Newsline", ''],
	['camera', 'link','#', "Photo and video", '204'],
	['tag', 'link','#', "Favorites", '248'],
	['archive', 'link','#', "Stories archive", '3']
] %}
{% set headerActionsList = [
	['messenger', 'link','#', 'Message'],
	['blocked', 'link','#', 'Block'],
] %}


{% set mainContentList = [
	['avatarF.jpg', 'Андрей Ковалёв', "Hannah Coates - 10 minuts ago", 'mybghome.jpg', 'Ну и в ближайшую службу зачитывают эти записки и молятся об исполнении загаданного.<br> Место у питерцев популярное: это и музей, и церковь, и выставка, и фотозона, и кофейня, и концертный зал одновременно. Потому и в сети оказалось очень много рыбок, ожидающих молитвы. Надписи открыты и все проходящие об исполнении загаданного. Место у питерцев популярное: это и музей, и церковь, и выставка, и фотозона', 'vjs.zencdn.net/v/oceans'],
	['avatar.jpg', 'Владимир Никшин', "2 days ago", '', '-А можете дать маленькую бесплатную консультацию по продаже квартиры? Так-то я по образованию юрист и сама все знаю, просто хочу уточнить. -Ну ок. <br>
	Через день:<br>
	-А наши покупатели хотят с нами рассчитаться таким-то образом, но я боюсь мошенничества. Скажите, как правильно сделать в нашей ситуации?<br>
	-Возьмите у меня платную консультацию и я вам под запись пошагово расскажу, что надо и чего не надо делать' ]
] %}

{% block content %}
	{% include '../components/main_content_header.twig' %}
	{% include '../components/main_content_body.twig' %}
{% endblock %}


{% block sidebar %}
<div class="main__sidebar__item has-shadow has-border-radius-base">
	{% include '../components/main_sidebar_item.twig' %}

	<div class="main__sidebar__section">
		<div class="profile-info__details">
			<div class="profile-info__detail">
				<a href="#" class="one-liner">
					<svg role="img" class="icon is-left">
						<use href="/assets/sprite/sprite.svg#icon-geotag"></use>
					</svg> 
					<span>Москва</span>
					
				</a>
			</div>

			<div class="profile-info__detail">
				<a href="#" class="one-liner">
					<svg role="img" class="icon is-left">
						<use href="/assets/sprite/sprite.svg#icon-work"></use>
					</svg> 
					<span>Общероссийское движение предпринимателей</span>
					 
				</a>
			</div>

			<div class="profile-info__detail">
				<a href="#" class="one-liner">
					<svg role="img" class="icon is-left">
					<use href="/assets/sprite/sprite.svg#icon-education"></use>
					</svg>  
					<span>Московский автомобильно…</span>
					 
				</a>
			</div>

			<div class="profile-info__detail">
				<a href="#" class="one-liner">
					<svg role="img" class="icon is-left">
					<use href="/assets/sprite/sprite.svg#icon-birthday"></use>
					</svg>  
					<span>7 июня 1957</span>
					 
				</a>
			</div>
		</div>
	</div>

	<div class="main__sidebar__section crop-height__txt_short">
		С 1979 года занимался производством эксклюзивной мебели на заказ для частных лиц, баров и ресторанов. После принятия закона о коопер.… Ещё
	</div>

	<div class="main__sidebar__section">
	    <div class="main__sidebar__header">
	        <div class="main__sidebar__title label is-bolder">Latest photos</div>
	        <a href="/profile-photos" class="main__sidebar__count label">
	        	<svg role="img" class="icon is-left deg90">
					<use href="/assets/sprite/sprite.svg#icon-arrow"></use>
				</svg> 
	        </a>
	    </div>
	    <div class="main__sidebar__media">
	        <div class="main__sidebar__media-item">
	            <span class="img-wrapper">
		            <a href="/assets/images/mybghome.jpg" class="js-smartPhoto" data-caption="caption" data-id="0" data-group="0">
		            	<img src="/assets/images/mybghome.jpg" alt="alt" class="img-r">
		            </a>
	            </span>
	        </div>
	        <div class="main__sidebar__media-item">
	            <span class="img-wrapper">
	            	<a href="/assets/images/mybghome.jpg" class="js-smartPhoto" data-caption="caption" data-id="0" data-group="0">
	            		<img src="/assets/images/mybghome.jpg" alt="alt" class="img-r">
	            	</a>
	            </span>
	        </div>
	        <div class="main__sidebar__media-item">
	            <span class="img-wrapper">
		            <a href="/assets/images/mybghome.jpg" class="js-smartPhoto" data-caption="caption" data-id="0" data-group="0">
		            	<img src="/assets/images/mybghome.jpg" alt="alt" class="img-r">
		            </a>
	            </span>
	        </div>
	        <div class="main__sidebar__media-item">
	            <span class="img-wrapper">
		            <a href="/assets/images/mybghome.jpg" class="js-smartPhoto" data-caption="caption" data-id="0" data-group="0">
		            	<img src="/assets/images/mybghome.jpg" alt="alt" class="img-r">
		            </a>
	            </span>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}