{% extends "../index.twig" %}
{% set title = 'My Page' %}
{% set profileCoverImg = '/assets/images/mybg.jpg' %}
{% set entetyAvatarImg = '/assets/images/avatar.jpg' %}
{% set groupNameH = 'Владимир Никишин' %}
{% set groupNameInfo = 'Что нам с этих 300г будет? Мы же гипербореи' %}
{% set headerActions = {
	editProfile: "editProfile",
	stats: "statisticForm",
} %}

{% set mainSidebarList = [
	['info', 'link','#', "About me"],
	['news', 'link','#', "Newsline"],
	['camera', 'link','#', "Photo and video", '204'],
	['tag', 'link','#', "Favorites", '248'],
	['archive', 'link','#', "Stories archive", '3']
] %}
{% set headerActionsList = [
	['stats', 'toggle', 'editProfile', 'Stats']
] %}


{% set mainContentList = [
	['avatar.jpg', 'Владимир Никшин', "Hannah Coates - 10 minuts ago", 'mybghome.jpg', 'Ну и в ближайшую службу зачитывают эти записки и молятся об исполнении загаданного.<br> Место у питерцев популярное: это и музей, и церковь, и выставка, и фотозона, и кофейня, и концертный зал одновременно. Потому и в сети оказалось очень много рыбок, ожидающих молитвы. Надписи открыты и все проходящие об исполнении загаданного. Место у питерцев популярное: это и музей, и церковь, и выставка, и фотозона'],
	['avatar.jpg', 'Владимир Никшин', "2 days ago", '', '-А можете дать маленькую бесплатную консультацию по продаже квартиры? Так-то я по образованию юрист и сама все знаю, просто хочу уточнить. -Ну ок. <br>
	Через день:<br>
	-А наши покупатели хотят с нами рассчитаться таким-то образом, но я боюсь мошенничества. Скажите, как правильно сделать в нашей ситуации?<br>
	-Возьмите у меня платную консультацию и я вам под запись пошагово расскажу, что надо и чего не надо делать' ]
] %}

{% block content %}
	{% include '../components/main_content_header.twig' %}
	{% include '../components/main_content_body.twig' %}

	{% include '../components/modals.twig' %}
{% endblock %}


{% block sidebar %}
<div class="main__sidebar__item has-shadow has-border-radius-base">
	{% include '../components/main_sidebar_item.twig' %}
</div>
{% endblock %}