
<ul class="dropdown-menu" aria-label="Change languages">
    
    <li class="menu__item  is-dashboard">
        <a href="/af{$simpleuri}" lang="af">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-af"></use>
            </svg>
            Afrikaans
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/de{$simpleuri}" lang="de">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-de"></use>
            </svg>
            Deutsch
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/en{$simpleuri}" lang="en">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-en"></use>
            </svg>
            English
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/es{$simpleuri}" lang="es">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-es"></use>
            </svg>
            Español
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/fr{$simpleuri}" lang="fr">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-fr"></use>
            </svg>
            Français
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/it{$simpleuri}" lang="it">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-it"></use>
            </svg>
            Italiano
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/pl{$simpleuri}" lang="pl">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-pl"></use>
            </svg>
            Polski
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/pt{$simpleuri}" lang="pt">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-pt"></use>
            </svg>
            Português
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/hr{$simpleuri}" lang="hr">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-hr"></use>
            </svg>
            Srpsko-hrvatski
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/fi{$simpleuri}" lang="fi">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-fi"></use>
            </svg>
            Suomi
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/tr{$simpleuri}" lang="tr">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-tr"></use>
            </svg>
            Türkçe
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/ru{$simpleuri}" lang="ru">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-ru"></use>
            </svg>
            Русский
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/uk{$simpleuri}" lang="uk">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-uk"></use>
            </svg>
            Українська
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/hy{$simpleuri}" lang="hy">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-hy"></use>
            </svg>
            Հայերեն
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/he{$simpleuri}" lang="he">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-he"></use>
            </svg>
            עִברִית
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/ar{$simpleuri}" lang="ar">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-ar"></use>
            </svg>
            العربية
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/hi{$simpleuri}" lang="hi">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-hi"></use>
            </svg>
            हिन्दी
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/th{$simpleuri}" lang="th">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-th"></use>
            </svg>
            ภาษาไทย
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/zh{$simpleuri}" lang="zh">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-zh"></use>
            </svg>
            中文
        </a>
    </li>
    
    <li class="menu__item  is-dashboard">
        <a href="/ja{$simpleuri}" lang="ja">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/flags.svg#icon-flag-ja"></use>
            </svg>
            日本語
        </a>
    </li>
    
</ul>
