// Page Auth
.page-auth {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    min-height: calc(100vh - ((#{$size-3} + .2rem) + #{$size-2}));
    height: 1px;
  }

  @include media-breakpoint-down(sm) {
    background-color: var(color-background-alt);
    min-height: 100%;
  }

  &__container {
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__form {

    padding: 3.2rem;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: #fff;
    bottom: 0;
    text-align: left;
    vertical-align: middle;
    color: var(--color-ink-2ry);
    height: 80vh;

    @include media-breakpoint-up(sm) {
      position: absolute;
      border-radius: var(--shape-border-radius-lg);
      box-shadow: var(--layer-box-shadow-z2);
    max-width: 49rem;
    }

    @include media-breakpoint-up(md) {
      max-width: 60rem;
      width: 90vw;
    }

  @include media-breakpoint-up(lg) {
    box-shadow: none;
    min-height: 70vh;
    padding: 7.8rem 7.7rem 6.4rem;
    border-radius: 0;
    position: unset;
    display: block;
    margin: 0 auto;
    margin: $size-5 0;
    }
  }

  &__language-toggle {

    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28rem;
    padding: 1rem 7.7rem 3rem;

    @include media-breakpoint-up(sm) {
    position: absolute;

    }
    @include media-breakpoint-up(lg) {
      position: relative;
    }
    

    .dropdown-toggle {
      .icon {
        &.is-left {
          margin-left: 0;
        }
        &.is-sm {
          margin-left: $size-half;
        }
      }
    }
  }

  &__logo-wrap {
    background: #fff;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 1.5rem 5rem 0 4rem;
    @include media-breakpoint-up(sm) {
    margin: 4rem 5rem 0 4rem;
    }
  }

  &__wrap  {
    padding-left: 15rem;
    padding-right: 8rem;
    @include media-breakpoint-down(xl) {
      padding-left: 5rem;
      padding-right: 4rem;
    }
    @include media-breakpoint-down(md) {

    }
  }

  &__subtitle {
    text-align: left;
    margin-bottom: 1rem;
    opacity: 0.87;
    display: none;
  }
  &__title {
    text-align: left;
    margin-bottom: 6rem;
    opacity: 0.87;
    display: none;
  }

  &__content {
    text-align: left;
    opacity: 0.54;
    display: none;
  }
  @include media-breakpoint-up(lg) {
    &__subtitle,
    &__title,
    &__team,
    &__content {
      display: block;
    }
  }

  .right {
      height: 45vh;
      width: 100%;

    @include media-breakpoint-up(lg) {
      width: 50%;
      height: 100vh;
      min-height: 100vh;;
      overflow: auto;
    }
  }

  .left {
      height: 15vh;
      width: 100%;
      background-image: url(/assets/images/main/sign-bg.png);
    @include media-breakpoint-up(sm) {
      height: 55vh;
    }
    @include media-breakpoint-up(lg) {
      width: 50%;
      position: relative;
      height: 100vh;
      overflow: auto;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    * {
      color: #fff;
    }

    .team {
      display: none;
      margin-bottom: 2rem;
      margin-top: 15rem;
      margin-left: 11.5rem;
      margin-right: auto;
      justify-content: flex-start;
      @include media-breakpoint-up(lg) {
        display: flex;
      }
    }
    .team_desc {
      text-align: right;
      margin-right: 3.2rem;

      &___name {
        opacity: 0.87;
      }

      &___about {
        opacity: 0.54;
      }
    }
  }
}

.form-auth {
  &__title {
    text-align: left;
    padding-top: 0;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #081935;
    margin: 23px 0;
  }
  &__auth-methods {
    margin-bottom: 2.2rem;
  }
  &__controls {
    margin-bottom: 3.1rem;
    color: var(--color-ink-2ry);

    .form__item {
      margin-bottom: $size-1;
    }
  }
  &__controls-title {
    text-align: left;
    margin-bottom: 2.3rem;
  }
  &__footer {
    display: flex;
    align-items: center;
  }
  &__links {
    margin-right: $size-3;


    a {
      color: var(--color-ink-2ry);
    }
  }
  &__link {
    margin-right: $size-2;
  }
  &__submit {
    margin-left: auto;
  }
  &__back {
    .icon {
      margin-right: $size-1;
    }
  }
  &__accept {
    margin-top: $size-4;
  }

  &.is_sign-up {
    @include media-breakpoint-up(sm) {
      height: 76rem;
    }
    @include media-breakpoint-up(md) {
      height: auto;
    }
    
  }

  &.is_sign-in {
    @include media-breakpoint-up(sm) {
      height: 50rem;
    }
    @include media-breakpoint-up(md) {
      height: auto;
    }
    
  }

  &.is_reset {
    @include media-breakpoint-up(sm) {
      height: 35rem;
    }
    @include media-breakpoint-up(md) {
      height: auto;
    }
    
  }
}

.auth-methods {
  color: var(--color-ink-2ry);
  &__title {
    text-align: left;
    margin-bottom: 1rem;
  }
  &__items {
  }
  &__button {
    margin: 0 0.2rem $size-1;
  }
}

.team_image {
  width: 151px;
  height: 160px;
  position: relative;
  border-radius: 22rem;
  background: #1C55B0;
  border-radius: 10px;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 151px;
    border-radius: 0 0 10px 10px;
  }
}