{% extends "../base.twig" %}
{% set profileCoverImg = './mybg.jpg' %}
{% set entetyAvatarImg = './avatar.jpg' %}
{% set groupNameH = 'Владимир Никишин' %}
{% set groupNameInfo = 'Что нам с этих 300г будет? Мы же гипербореи' %}
{% set headerActions = {
	editProfile: "Edit profile",
	stats: "Statistic",
} %}

{% block title %}Home{% endblock %}


{% block content %}
	{% include '../components/main_content_header.twig' %}
{% endblock %}


{% block sidebar %}
<div class="main__sidebar__item has-shadow has-border-radius-base">
	<ul class="main__sidebar__item__list">
		<li>
			<a class="main__sidebar__item__link" href="#">
				<span class="label">About me</span>
			</a>
		</li>
		<li class="active">
			<a class="main__sidebar__item__link" href="#">
				<span class="label">Newsline</span>
			</a>
		</li>
		<li>
			<a class="main__sidebar__item__link" href="#">
				<span class="label">Photo and video</span>
				<span class="badge pull-right">204</span>
			</a>
		</li>
		<li>
			<a class="main__sidebar__item__link" href="#">
				<span class="label">Favorites</span>
				<span class="badge pull-right">248</span>
			</a>
		</li>
		<li>
			<a class="main__sidebar__item__link" href="#">
				<span class="label">Stories archive</span>
				<span class="badge pull-right">3</span>
			</a>
		</li>
	</ul> 
</div>
{% endblock %}