
.teaser {
    &__images {
        width: 100%;
        height: 24rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
    }
    .teaser-content {
        padding: 1.6rem;
        border: 1px solid #D1D9E6;
        border-radius: 0 0 10px 10px;
    }
    &__autor {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #475F85;
        a {
            color: #081935;
        }
    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: #081935;
    } 
    &__desc {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #475F85;
    }
}