.delivery-list {
  & li {
    list-style: none;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      align-items: flex-start;
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1.2rem;
    min-width: 3.2rem;
    height: 3.2rem;

    background: #dce7f9;
    border-radius: 10rem;
    color: #2268d8;
  }
}
