{% extends "../index.twig" %}

{% set title = 'Community' %}

{% set captionActions = [
	['details', "I participate", 8, 'active'],
	['details', "My", 3],
	['isIcon', "Sort", 'sort', [
			['alphabet', 'alphabetically'],
			['calendar', 'date added'],
			['likebig', 'popularity']
		], 'Sort by'
	],
	['isIcon', "Add", 'plus', '']
] %}

{# ['entetyAvatarImg', "entetyTitle", 'entetySubTytle', 'entetyCount']#}
{% set groupListCommunity = [
	['/assets/images/mybg.jpg', "B2B Lead Genera…", '17 th. members', 'Last publish just now'],
	['/assets/images/mybg.jpg', "Эко-игрушки", '17 th. members', 'Last publish 1 h ago'],
	['/assets/images/mybg.jpg', "Домострой", '17 th. members', 'Last publish yesterday'],
	['/assets/images/mybg.jpg', "Фуд-траки", '17 th. members', 'Last publish 24 feb'],
	['/assets/images/mybg.jpg', "Mustang, Comaro…", '17 th. members', 'Last publish just now'],
	['/assets/images/mybg.jpg', "Design Inspiration", '17 th. members', 'Last publish 1 h ago'],
	['/assets/images/mybg.jpg', "Кёкусинкай в Бу…", '17 th. members', 'Last publish 24 feb'],
	['/assets/images/mybg.jpg', "IT-воспитание", '17 th. members', 'Last publish yesterday'],
] %}

{% set SidebarGroupList = [
	['/assets/images/mybg.jpg', "Mining", '17 th. participants', '#'],
	['/assets/images/mybg.jpg', "Cleaning", '64 th. participants', '#'],
	['/assets/images/mybg.jpg', "Dancing to Modern Talking", '120 th. participants', '#'],
	['/assets/images/mybg.jpg', "Cars 60-70", '40 th. participants', '#'],
] %}

{% block content %}
	{% include '../components/group_content_header.twig' %}
	{% include '../components/group_content_body.twig' %}
{% endblock %}


{% block sidebar %}
	<aside class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__section">
			<div class="main__sidebar__item__title">
				Recommendations
			</div>
			{% include '../components/sidebar_group_list.twig' %}			
		</div>

	</aside>
{% endblock %}