.profile-info {
	&__detail {
	  .one-liner {
	    color: var(--color-ink-dark-2ry);
	  }
	  &:not(:last-child) {
	    margin-bottom: $size-1;
	  }
	}
	&__about {
		
	}
	&__kpis {
	  margin-top: auto;

	  @include media-breakpoint-down(md) {
	    display: none;
	  }
	}	
}
.back_profile {
	a {
		display: flex;
		align-items:center;
		margin-right: 2rem;
		height: 7.2rem;
	}
	.entety__avatar {
		margin: 0 0 0 1rem;
	}
	h1,h2 {
		padding: 0;
		max-width: 38rem;
	}
}