// NOTES

// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal__box      - (.modal-content in BS) actual modal w/ bg and corners and shit

// Modal has role='dialog'.
// This version of the component is based on the BS3 code. Therefore,
// .modal-dialog is explicitly assigned the role='document'. We don't need
// to do this in BS5 since Bootstrap add it via JS.

$modal-header-padding:                  $size-line var(--size-padding-x-box) 0;
$modal-body-padding:                    0 var(--size-padding-x-box) $size-line;
$modal-footer-padding:                  $size-2p5 var(--size-padding-x-box);
$modal-combined-padding:                $size-line var(--size-padding-x-box) var(--size-padding-x-box);

// Kill the scroll on the body
.modal-open, .dropdown-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
    
    .btn{
      &.is-close.is-top {
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 1;

        &.is-left {
          left: 2rem;
          right: auto;
        }
      }

      &.pop_control {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        align-items:center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.38);
        border-radius: var(--shape-border-radius-pill);
        padding: 0;
        svg {
          color: var(--color-ink-inverse-base);
        }
      }

      &.sidebar_hide {
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 1;
        background-image: var(--asset-data-image-has-no-sidebar);
        background-repeat: no-repeat;
        background-position: center;
      }    
    }
    .photo-pop.active .btn.sidebar_hide {
      background-image: var(--asset-data-image-has-sidebar);
    }
  }
}
.dropdown-open {
  @include media-breakpoint-up(xl) {
    // padding-right: 1.7rem;
  }
}
// Overlay
.modal-backdrop {
  @extend %backdrop;
}

.modal .btn.is-close.is-top {
  position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;
}
// Container
.modal {
  -webkit-overflow-scrolling: touch;
  display: none;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--layer-zindex-modal);

  @include media-breakpoint-down(sm) {
    top: auto;
    bottom: 0;
    height: 93%;

    &.is-full {
      height: 100%;
    }
  }

  input, select, textarea {
    background: var(--color-background-alt);
  }
  textarea {
    &.edit-post__text {
      min-height: 40vh;
      border: 1px solid var(--color-ink-3ry);
    }
  }

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {

    transition: transform var(--motion-duration-base) var(--motion-easing-appearance);
  }

  &.in .modal-dialog {
    transform: translate(0, 0);
  }

  &.show { opacity: 1; }

  .menu__link {
    margin-top: $size-3;  

    svg {
      margin-right: 1rem;
    }
  }

  &.is-auto-height {
    .modal__box {
      height: auto;
    }
  }

  &.is-base {
    .modal-dialog {
      @include media-breakpoint-up(md) {
        width: var(--size-width-md);
        // BS override
        max-width: var(--size-width-md);
      }
    }
    .modal__body,
    .modal-body {
      padding: $size-3 $size-3 $size-4;

      @include media-breakpoint-down(sm) {
        padding: $size-2;
      }
    }
    .modal__header,
    .modal-header {
      padding: 0 0 0 $size-2;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
    .modal__content {
      padding: 0 $size-2;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
    .modal__footer,
    .modal-footer {
      padding: $size-3 $size-5;

      @include media-breakpoint-down(sm) {
        padding: $size-2;
      }
    }
  }

  &.is-lg {
    .modal-dialog {
      @include media-breakpoint-up(md) {
        width: var(--size-width-lg);
        // BS override
        max-width: var(--size-width-lg);
      }
    }
    .modal__body,
    .modal-body {
      padding: $size-3 $size-4 $size-4;

      @include media-breakpoint-down(sm) {
        padding: $size-2;
      }
    }
    .modal__footer,
    .modal-footer {
      padding: $size-2 $size-4 $size-3;

      @include media-breakpoint-down(sm) {
        padding: $size-2;
      }
    }
  }  

  &.is-full {
    .modal-dialog {
      width: 100%;
      max-width: 100%;
      margin: 0;
      height: 100%;
      border-radius: 0;
    }
    .modal__body {
    height: 100%;
      padding: 0;
      margin: 0;
    }
  }
  button, .button, .btn {
    text-transform: uppercase;
  }
}

.search__filter.is_modal {
    right: auto;
    padding: 0.5rem 3.2rem 1.3rem;
    min-width: 28rem;
    top: auto;
    bottom: 4rem;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  margin: $size-2;
  position: relative;
  width: auto;
  overflow: hidden;
  border-radius: var(--shape-border-radius-xl);

  @include media-breakpoint-down(sm) {
    margin: auto;
    border-radius: 
      var(--shape-border-radius-xl)
      var(--shape-border-radius-xl)
      0
      0;
  }

  @include media-breakpoint-up(md) {
    margin: ($size-line) auto;
    width: var(--size-width-md);
    // BS override
    max-width: var(--size-width-md);

    &.is-small {
      width: var(--size-width-base);
      max-width: var(--size-width-base);
    }
  }

  @include media-breakpoint-up(lg) {
    &.is-large {
      width: var(--size-width-lg);
      max-width: var(--size-width-lg);
    }
  }
}

.modal-dialog-scrollable {
  height: calc(100% - 2rem);
  @include media-breakpoint-down(sm) {
    height: 100%;
  }
  @include media-breakpoint-up(md) {
        height: calc(100% - 5.5rem);
  }
  .modal-content {
      height: 100%;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        // display: block;
        // overflow: scroll;
      }
      &:not(.flex-scrollable) {
        @include media-breakpoint-down(sm) {
          display: block;
          overflow: scroll;
        }        
      }

  }
  .modal-body {
      overflow-y: auto;
      flex: 1 1 auto;
  }
}

// #broadcastModal {
//   .modal-dialog-scrollable {
//     height: auto;
//     max-height: calc(100% - 5.5rem);
//   }
// }

// Actual modal (.modal-content in BS)
.modal__box,
.modal-content {
  background-clip: padding-box;
  background-color: var(--color-background-base);
  box-shadow: var(--layer-box-shadow-z5);
  outline: 0;
  position: relative;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--color-ink-inverse-base);
    background-clip: padding-box;
    outline: 0;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal__header,
.modal-header {
  padding: $size-3 $size-4 0;
  > div {
    display: flex;
    align-items:center;
  }
  .header_photo {
    margin-right: 1rem;
  }
  &.is-border-st {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #D1D9E6;
  }
  &.is-flexed {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .left,
  .right {
    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: space-between;
    }
    
  }
}
.modal__subheader {
  padding: $modal-body-padding;
}

.modal__title,
.modal-title {
  @extend %h1;
  padding-top: 0;
  padding-right: $size-1;
}

.edit__title {
  font-weight: 500;
  font-size: var(--font-size-big);

  @include media-breakpoint-down(sm) {
    font-size: var(--font-size-middle);
  }
}
.modal__subheader {
    line-height: var(--font-line-height-base);
    color: var(--color-ink-2ry);
    text-align: center;
}
.popup__header__list__menu {
  padding: 0;
  border-radius: var(--shape-border-radius-base);
  background-color: var(--color-ink-accent);
}
// Tab pane toggles
.modal__tab-toggle {
  // position: absolute;
  // top: 5.4rem;
  // right: $size-4;
  display: none;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    padding-top: .9rem;
  }
}

// Close button
.modal__header .btn.is-close,
.modal-header .close,
.dm-modal .close {
  position: absolute;
  top: $size-2;
  right: $size-2;
}

// Modal body
.modal__body,
.modal-body {
  padding: $modal-body-padding;
  position: relative;
  .edit__images {
    flex-wrap:wrap;
    justify-content: center;
  }
  .entety__avatar {
      overflow: hidden;
      display: flex;
      align-items:center;
      justify-content:center;
      background: #E55E5C;
      color: var(--color-ink-inverse-base);
      font-size: var(--font-size-small);
      text-transform: uppercase;
  }
  .edit__images__bg__slider {
      border-radius: var(--shape-border-radius-lg);
      overflow: hidden;
      display: flex;
      align-items:center;
      justify-content:center;
      background: var(--color-primary-base);
      height: 100%;
      min-height: 16rem;
      max-height: 21rem;
      color: var(--color-ink-inverse-base);
      font-size: var(--font-size-small);
      text-transform: uppercase;

      img {
        width: 100%;
        height: 100%;
        object-fit:cover;
      }
  }




  .file-upload {
    background-color: var(--color-background-base);
    box-shadow: 0px 0px 0px 1px rgb(56 49 46 / 4%), 0px 2px 2px rgb(56 49 46 / 4%), 0px 5px 7px rgb(56 49 46 / 6%), 0px 20px 36px rgb(56 49 46 / 10%);
    position: relative;
    border-radius: var(--shape-border-radius-lg);
  }
  .file-upload input[type="file"] {
    display: none;
  }
  .file-upload label {
    position: absolute;
    top: 0;
    right: 0;
    width: 96%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: var(--font-size-small);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: var(--color-ink-2ry);
    font-weight: var(--font-weight-big);
    
    &:after {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .edit__images__ava {
    margin-right: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 20%;
    }

    .file-upload {
      width: 5.6rem;
      height: 4rem;
      left: 3.3rem;
      top: -1.6rem;
    }
  }
  .edit__images__bg {
    width: 100%;
    position: relative;

    @include media-breakpoint-up(md) {
      width: 70%;
    }
    .file-upload {
      width: 20rem;
      height: 4rem;
      left: 0;
      right: 0;
      bottom: 10px;
      margin: auto;
      position: absolute;
    }
    .icon {
      margin-right: 1rem;
    }
  }

}

// Footer (for actions)
// Use left aligned buttons, as there may be additional messages underneath and
// right alignment will be confusing.
.modal__footer,
.modal-footer {
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: $size-1;
  padding: $modal-footer-padding;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.04), 1px 0px 0px rgba(0, 0, 0, 0.04), 0px -1px 0px rgba(0, 0, 0, 0.04), 0px 1px 0px 1px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.100345), 0px 6px 6px rgba(0, 0, 0, 0.06);
}

.modal__footer.has-add-on {
  padding-top: 0;
}

.modal-footer .btn-primary {
  @extend %btn-primary;
}

.modal-footer .form__item.has-option,
.modal__footer .form__item.has-option {
  @extend %label;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: .7rem;

  [type='checkbox'] {
    top: .6rem;
  }
}

.modal-footer .btn-default {
  background-color: transparent;
}

.modal__footer.has-dual-purpose {
  justify-content: space-between;
}

.modal__footer.is-centered {
  justify-content: center;
}

.modal__footer.is-left-aligned {
  justify-content: flex-start;
}

// We use BS measure scrollbar style unchanged

//------------------------------------------------------------------------------
// MIGRATED INLINE STYLES
// -----------------------------------------------------------------------------
// #region

.modal-footer,
.modal-footer > div {
  white-space: nowrap;
}

.modal__photo-selection {
  vertical-align: middle;
  margin: 2px;
  white-space: nowrap;
  width: 100%;
}

.modal__photo > img {
  max-width: 100%;
  max-height: 300px;
}

.modal__photo-selection .btn {
  display: inline-block;
}

.modal__photo-label {
  margin-top: $size-1;
}

.modal__photo-label > small {
  float: right;
}

// #loadingphoto
.modal__photo-loader {
  display: none;
}

// #deletediv
.modal__photo-remover {
  display: inline-block;
  float: left;
  white-space: nowrap;
}

.modal__actions {
  display: inline-block;
  white-space: nowrap;
}
// #endregion

//------------------------------------------------------------------------------
// ANOTHER LEGACY MODAL
// -----------------------------------------------------------------------------
// #region

.dm-overlay {
  background: var(--color-scrim-base);
  z-index: var(--layer-zindex-modal);
}

.modal-header .close,
.modal__header .btn.is-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 2;
}

.dm-modal {
  background-color: var(--color-background-base);
  border-radius: var(--shape-border-radius-xl);
  border: 0;
  box-shadow: var(--layer-box-shadow-z5);
  color: var(--color-ink-base);
  margin-top: $size-line;
  margin-bottom: $size-line;
  padding: $modal-combined-padding;
  position: relative;
  width: auto;
  min-width: none;

  @include media-breakpoint-up(md) {
    width: var(--size-width-md);
  }
}
.education__content__text {
  line-height: 2.2rem;  
}
// #endregion

.file-upload.menu__link {
    width: auto;
    min-width: unset;
    background-color: var(--color-ink-accent);
    border-radius: var(--shape-border-radius-base);
    position: relative;
    box-shadow: none;
    label {
      position: unset;
      width: 100%;
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 1rem 2rem ;
    }
}

.modal-scroll {
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    @include media-breakpoint-up(sm) {
      height: calc(97vh - 8rem);
    }
    @include media-breakpoint-up(md) {
      height: calc(93vh - 8rem);
    }
        
}

.modal-scroll::-webkit-scrollbar {
  width: 0;
}

.modal-scroll::-webkit-scrollbar-thumb {
  width: 0;
}

.is_publication {
    top: 77px;
    right: 6rem;
    left: auto;
    padding: 0.5rem 3.2rem;
    min-width: 28rem;
    position: absolute;
    background-color: var(--color-background-base);
    z-index: 2;
}

.edit__icons {
  display: flex;
  align-items:center;
  margin-right: 2rem;
  color: var(--color-ink-2ry);
  button {
    background: inherit;
  }
  .button, button {
    padding: 0 1rem;
    cursor: pointer;
  }
} 

.modal__header__list__menu {
    padding: 0.4rem;
    border-radius: var(--shape-border-radius-base);
    position: absolute;
    background-color: var(--color-background-base);
    z-index: 1;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 3rem;
    background-color: var(--color-ink-accent);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      width: 50%;
      &.active {
        .button {
          background: #DCE7F9;
        }     
      }
      &:not(:first-child):before {
        display: block;
      }
    }
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
    @include media-breakpoint-up(md) {
      margin-top: 3rem;
    }
    li {

      .button {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 500;
      }
    &:not(:first-child):before {
      display: none;
    }

    }
}

.equipment {
  &__setup {
    >div {
      margin-bottom: 3rem;
    }
    .else {
      padding: 0.4rem 0.8rem;
      background: var(--color-sidebar-count);
      border-radius: var(--shape-border-radius-pill);
      color: var(--color-ink-inverse-max);
      text-shadow: 0px 1px 0px rgb(0 0 0 / 12%);
      font-size: var(--font-size-small);
      cursor: pointer;
    }
  }
}
.else_overlay {
    color: var(--color-ink-inverse-max);
    background-color: var(--color-scrim-base);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
}
.ec_notice {
  text-align: center;
  color: var(--color-ink-2ry);
  padding: 0 $size-2 $size-3;
}

.edit_live {
  .ec_notice {
    margin-top: $size-2;
  }
}

.type__equipment {
    font-size: var(--font-size-small);
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: var(--font-line-height-small);
    text-transform: uppercase;
    color: var(--color-ink-2ry);
    width: 100%;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      width: 20%;
      margin-bottom: 0;
    }
}

.name__equipment {
  width: 75%;
  color: var(--color-ink-title);
    @include media-breakpoint-up(md) {
      width: 65%;
    }
}

.ready__equipment {
  text-align: right;
  width: 25%;
    @include media-breakpoint-up(md) {
      width: 15%;
    }
}

.invite_btn {
  margin-right: 1rem;
}

.camera__icon {
    background: #E55E5C;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entety__avatar__small {
  border-radius: var(--shape-border-radius-pill);
  overflow: hidden;
}

.invite__list {
  max-width: 304px;
  margin:3rem auto;
  list-style: none;
  padding: 0;
  position: relative;

  li {
    margin-bottom: $size-2;
  }
  .invite__list__desc {
    flex-grow:1;
  }
  figure {
    width: 4rem;
    height: 4rem;
    margin-right: $size-2;
  }
  .invite_all {
    min-width: 5.6rem;
  }
  label:not(.online_only) {
    width: calc(100% - 6rem)
  }

  .invite__list__desc__title {
      font-weight: 500;
      font-size: var(--font-size-small);
      line-height: 16px;
      color: hsl(var(--h), var(--s), 12%);
  }
}

.access_title {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #081935;
    margin-top: 1.4rem;
}

.access_desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #475F85;
    margin-top: 1.6rem;
}

.connect_camera {
    margin-top: 1.6rem;
}


.access_notice {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #475F85;
    margin-top: 3.2rem;
}

.has-open-modal {
  padding-right: 0;
  padding-inline-end: 0;
  overflow: hidden;
  pointer-events: none;

  .dropdown-menu_wrap {
    pointer-events: auto;
  }
}

.unsubscribe {
  .modal-content {
    padding: $size-4;
  }
  .title {
    font-weight: 500;
    color: var(--color-ink-title);
    margin-bottom: $size-4;
  }
  &__logo {
    width: $size-1 * 10;
    height: $size-1 * 10;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: $size-2;
  }
}

.location-list {
  margin-top: $size-4;
  li {
    margin-bottom: $size-3;
  }
  
  &__title  {
    color: var(--color-ink-title);
  }
  &__subtitles {
    color:var(--color-ink-2ry);
  }
}

.modal {
  &.is-lg {
    @include media-breakpoint-down(sm) {
      .modal__body,
      .modal-body {
        padding-top: 0;
        .modal__header {
            padding: 0.8rem 2.1rem;
            box-shadow: 0px 1px 0px rgb(23 25 28 / 4%);
            display: flex;
            justify-content: space-between;
            align-items:center;
            margin-bottom: $size-3;
            .modal__title {
              font-size: var(--font-size-base);
              padding: 0;
              line-height: 1; 
          }      
        }
      }
      .modal__footer,
      .modal-footer {
        /* display: none; */
      }
    }
  }
}

