.photo-pop {
    padding-left: 0;
    height: 100%; 
    transition: all 0.4s ease;       

    &__side {
        overflow: scroll;
        height: 100vh;
        min-height: 100vh;
        background: var(--color-ink-inverse-base);
        position: fixed;
        right: -32rem;
        width: 32rem;
        top: 0;
        transition: all 0.4s ease;
        padding: 3rem 1.6rem 1.6rem 1.6rem;

        .comment__header {
            display: flex;
            align-items: center;
            margin-bottom: $size-1;
        }
        .comment__info {
            flex-grow:1;
        }

        .comments {
            margin-top: $size-1;

            &__form {
                .form__item {
                    flex: auto;
                    width: calc(100% - 5rem);
                    margin: 0;
                }
                .entety__avatar img {
                    width: 4rem;
                    height: 4rem;
                    margin: 0;
                }
            }
        }

        .dropdown.is-bottom-right .dropdown-menu {
            width: 24.5rem;
            left: auto;
            right: 0;
        }
        .thread {
            margin-bottom: $size-2;
            padding-bottom: $size-2;
            border-bottom: 1px solid var(--color-ink-border);
        }
        .count_btn {
            font-weight: 500;
        }

        @include media-breakpoint-down(lg) {
            right: 0;
            left: 0;
            width: 100%;
            height: 30rem;
            top: auto;
            min-height: unset;
            bottom: -30rem;

            .thread {
                padding-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            height: 23rem;
            bottom: -23rem;
        }
    }

    &__content {
        position: relative;
        .photo-slider {
            &__items {
                position: relative;
                max-width: 100vw;
                height: calc(100vh - 5rem);
                margin: 1.6rem auto;
                figure {
                    overflow: hidden;   
                    border-radius: var(--shape-border-radius-xl); 
                    height: calc(100vh - 5rem);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit:contain;
                    } 
                }
                @include media-breakpoint-up(sm) {
                    max-width: 80vw;
                }
                @include media-breakpoint-up(md) {
                    max-width: 70vw;
                }
                @include media-breakpoint-up(lg) {
                    max-width: 55vw;
                }
                @include media-breakpoint-up(xl) {
                    max-width: 50vw;
                }
               
            }

            .photo-slidenav-prev, 
            .photo-slidenav-next{
                width: 4.8rem;
                height: 4.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.38);
                border-radius: var(--shape-border-radius-base);
                padding: 0;
                position: absolute;
                top: calc(50% - 2rem);
                svg {
                    color: var(--color-ink-inverse-base);
                }
            }
            .photo-slidenav-prev {
                left: -8rem;
                right: auto;
                @include media-breakpoint-down(sm) {
                    left: 0;
                }
            }
            .photo-slidenav-next {
                left: auto;
                right: -8rem;
                @include media-breakpoint-down(sm) {
                    right: 0;
                }
            }
        }


        .figure.post-card__video {
          width: 100%;
          height: calc(100vh - 5rem);
        }
            
    }
    .video-js.vjs-16-9:not(.vjs-audio-only-mode) {
        padding-top: 90%;
        top: 0;
        bottom: 0;
        height: calc(100% - 5rem);
    }
    &.active {
        @include media-breakpoint-up(sm) {    
            display: grid;
            grid-template-columns: 1fr;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr clamp(32rem, 16.6666666667%, 32rem);
            margin-top: 0;
        }


        .photo-pop__side{
            right: 0;
        }



        @include media-breakpoint-down(lg) {
            .photo-pop__content .photo-slider .photo-slidenav-prev, .photo-pop__content .photo-slider .photo-slidenav-next {
                top: calc(37% - 2rem);
            }
            height: calc(100% - 30rem);

            .photo-slider {
                &__items {
                    figure,
                    .figure {
                        height: calc(100vh - 30rem);
                    }
                }
            }

            .photo-pop__side {
                bottom: 0;
                padding: 1rem 1.6rem 1rem 1.6rem;
            } 
            .comments__form {
                position: fixed;
                bottom: 0;
                width: 95%;
                background: #fff;
                padding-bottom: 1rem;
                padding-top: 1rem;
                margin: 0 auto;
            }
        }
        @include media-breakpoint-down(sm) {
            height: calc(100% - 23rem);

            .photo-slider {
                &__items {
                    figure,
                    .figure {
                        height: calc(100vh - 23rem);
                    }
                }
            }
            
            .photo-pop__side{
                border-radius: 1.5rem 1.5rem 0 0;
            }
        }
    }
}