// Codepen has not supported `@layer` yet

$size-half: 4px;
$size-1: 8px;
$size-2: 16px;
$size-2p5: 20px;
$size-line: 24px;
$shape-border-radius-base: 18px;
$size-max-width-container: 960px;
$plan-radio-size: $size-2p5;
$motion-duration-sm: .124s;

// -------------------------------------
// COMPONENTS
// -------------------------------------
// Use it for folding only
@supports not at-rule(@layer) {

  .img-wrapper {
    
    img {
      border-radius: var(--shape-border-radius-lg);
      object-fit: contain;
      width: 100%;
      height: auto;
    }

    &.has-2-items,
    &.has-3-items,
    &.has-4-items,
    &.has-5-items {
      aspect-ratio: 1 / 1;
      display: grid;
      gap: $size-1;
      grid-template-columns: 1fr 1fr;
      margin-inline: auto;
      width: min(100%, 600px);
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;        
      }

    }


    &.has-3-items,
    &.has-4-items {
      grid-template-rows: 1fr 1fr;
    }  

    &.has-3-items {
      > :first-child {
        grid-row: span 2;
      }
    }
    
    &.has-5-items {
      grid-auto-flow: column dense;
      grid-template-rows: repeat(6, 1fr);
      
      > :first-child,
      > :nth-child(2) {
        grid-row: span 3;
      }
      
      > :nth-child(n+3) {
        grid-row: span 2;
      }
    }
  }
}

