{% extends "../index.twig" %}
{% set title = 'Photo albums' %}
{% set avatar = 'avatar.jpg' %}
{% set countCols = 'photo-album-list' %}
{% set captionActions = [
	['dropText', "All", 'Sort', [
			['all', 'All'],
			['landscape', 'just Photo'],
			['vcamera', 'video only'],
			['album', 'Albums']
		], ''
	],
	['dropText', "alphabetically", 'Sort', [
			['alphabet', 'alphabetically'],
			['calendar', 'By date added'],
			['likeblue', 'By popularity'],
			['comment', 'By comments'],
		], ''
	],
	['isIcon', "Add", 'plus']
] %}

{% set photoList = [
	['/assets/images/metalica.jpg', "Не добавленные в альбомы", '12 photos'],
	['/assets/images/avatarnew.jpg', "Movie Posters", '12 photos'],
	['/assets/images/lili.jpg', "Cars and motorcycles", '12 photos'],
	['/assets/images/avatarF.jpg', "Architecture", 'DJ-сет Анфисы Летяго', '12 photos'],
	['/assets/images/mybg1.jpg', "Animals", '12 photos'],
	['/assets/images/specialBg.jpg', "classic illustration", '12 photos'],
	['/assets/images/osetinskiy.jpg', "the beauty", '12 photos'],
	['/assets/images/mybghome.jpg', "Favorite Artists", '12 photos']
] %}
{% set mainSidebarList = [
	['info', 'link','#', "About me", '', 'active'],
	['news', 'link','#', "Newsline", ''],
	['camera', 'link','#', "Photo and video", '204'],
	['tag', 'link','#', "Favorites", '248'],
	['archive', 'link','#', "Stories archive", '3']
] %}



{% block content %}
	<div class="main__body main__content__body">
		{% include '../components/group_content_header.twig' %}
		{% include '../components/group_content_body.twig' %}
	</div>
{% endblock %}

{% block sidebar %}
<div class="main__sidebar__item has-shadow has-border-radius-base">
	{% include '../components/main_sidebar_item.twig' %}
</div>
{% endblock %}