
.sale_notice {
    background-color: var(--color-background-primary-dark);
    background-image: var(--color-primary-gradient-dark);
    color: var(--color-ink-inverse-base);
    filter: brightness(var(--color-brightness-hover));
    text-shadow: none;
    position: absolute;
    padding: $size-half $size-2;
    border-radius: var(--shape-border-radius-pill);
    right: 4.8rem;
    bottom: -14px;
}
.main__content__header__cover {
    .sale_notice {
        right: auto;
        left: 15.8rem
    }
    .is_tag {
        right: auto;
        bottom: -14px;
        left: 24.8rem;
        position: absolute;
        padding: 4px 16px;
        border-radius: var(--shape-border-radius-pill);
        background-color: var(--color-background-hover);
    }
}