.add-product-main {
    max-width: 72rem;
    width: 100%;

    height: calc(100% - 17rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fcfcfd;
    box-shadow:
        0px 0px 0px 1px rgba(142, 157, 180, 0.04),
        0px 1px 2px rgba(142, 157, 180, 0.05),
        0px 2px 4px -1px rgba(142, 157, 180, 0.05),
        0px 4px 8px -1px rgba(142, 157, 180, 0.05),
        0px 8px 16px -2px rgba(142, 157, 180, 0.05),
        0px 16px 32px -2px rgba(142, 157, 180, 0.05),
        0px 32px 64px -2px rgba(142, 157, 180, 0.05);
    border-radius: 2.6rem;
    @include media-breakpoint-down(md) {
        border-radius: 2.6rem 2.6rem 0px 0px;
        // max-width: 32rem;
    }

    // .add-product-main__dialog
    &__dialog {
    }

    // .add-product-main__wrapper
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    // .add-product-main__container
    &__container {
        display: grid;
        grid-template-columns: 39rem 24rem;
        gap: 1.6rem;
        padding: 0 1rem 10rem 4rem;
        flex: 1 1 auto;
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
            padding: 0px 1.6rem;

            // ! aside
            // padding: 0px .8rem;
        }
    }

    // .add-product-main__title
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -1px;
        color: #081935;
        margin-bottom: 2.6rem;
        padding: 0;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    // .add-product-main__product
    &__product {
        @include style-text;
        font-weight: 400;
        color: #475f85;
        margin-bottom: 2.8rem;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }

    // .add-product-main__form
    &__form {
        padding: 3rem 0 3rem 0;
    }

    // .add-product-main__block
    &__block {
    }

    // .add-product-main__label
    &__label {
        @include style-link;
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #475f85;
        position: relative;
        & input {
            margin: 0.5rem 0;
            background: #f6f7f9;
        }
        & span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: none;
        }
    }
    // ------- стили "редактировать товар" ------

    //.add-product-main__edit-wrapper
    &__edit-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        gap: 0.8rem;
        padding: 0.8rem 1rem;

        border-radius: 1.1rem;
        border: 0.1rem solid var(--ink-dark-border, #d1d9e6);
        background: var(--background-bg-alt, #f6f7f9);

        appearance: none;
        background-clip: padding-box;
        border-radius: var(--shape-border-radius-sm);
        color: var(--color-ink-2ry);
        font-size: var(--font-size-base);
        margin: 0;
        padding-top: var(--size-padding-y-input);
        padding-right: var(--size-padding-right-input);
        padding-bottom: var(--size-padding-y-input);
        padding-left: var(--size-padding-left-input);
        overflow: visible;
        transition: border-color var(--motion-easing-base) var(--motion-duration-sm);
        width: 100%;
        max-width: 100%;
        min-height: 4.8rem;
    }

    &__edit {
        display: flex;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
        gap: 0.6rem;
        padding: 0.2rem 0.6rem 0.3rem 1.2rem;

        border-radius: 10rem;
        background: var(--background-bg-base, #fcfcfd);

        box-shadow:
            0px 4px 8px -1px rgba(65, 78, 98, 0.05),
            0px 2px 4px -1px rgba(65, 78, 98, 0.05),
            0px 1px 2px 0px rgba(65, 78, 98, 0.05),
            0px 0px 0px 1px rgba(65, 78, 98, 0.04);
    }

    &__label-drag {
        & span {
            @include style-link;
            color: var(--ink-dark-2-ry, #475f85);
            text-transform: uppercase;
        }
    }

    &__edit-input {
        display: none !important;
    }

    &__drag {
        background: transparent;
        padding: 0 !important;
        & svg {
            width: 2rem !important;
            height: 2rem !important;
            padding: 0;
        }
    }
    // -------------------------------
    &__btn {
        position: absolute;
        top: 45%;
        right: 1rem;
        background: transparent;
        & svg {
            transform: rotate(180deg);
        }
    }
}

.ovflw-a {
    overflow-y: auto !important;
}

// ---- удалить класс при переносе
.edit-page {
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0, 0) !important;
    height: 72rem !important;
    // width: 72rem;
}
