
.pop-slider {
    &__nav {
        padding: 0;
        list-style: none;
        position: absolute;
        top: 24px;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;

        li {
            flex: 1;
            padding: 0 0.1rem;
        }
        
    }
    &__toggle {
        display: none;
        position: relative;
        height: 100%;
        padding: 0;
    }
    &__progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 0.4rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: hsl(220deg 20% 97% / 27%);
        border-radius: 0.25rem;
        overflow: hidden;
        border-radius: 99rem;
    }
    &__progress-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        background-color: var(--color-background-alt);
    }
    &__items {
        list-style: none;
        padding: 0;
        height: 100%;

        li {
            display: none;
            height: 100%;
            padding: 0;
        }

        &__content {
            height: 100%;
            @include media-breakpoint-up(sm) {
                border-radius: var(--shape-border-radius-xl);
                overflow: hidden;
            }
            img {
                height: 100%;
                object-fit:cover;
            }
            video {
                height: 100%;
                width: 100%;
            }
            .line-cell {
                position: absolute;
                top: $size-6;
                left: $size-2p5;
                &__title,
                &__subtitles {
                    color: #FFF;
                }
            }
        }
    }
    .visible-toggle {
        height: 100%;
    }
}
.story-slidenav-prev {
    left: -60px;
}
.story-slidenav-next {
    right: -60px;
}
.story-slidenav-prev, .story-slidenav-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}
.story-slidenav-next:before {
    content: "›";
    font-size: 42px;
    color: white;
    height: 48px;
    width: 48px;
    background: transparent;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: monospace;
    position: relative;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.38);
}
.story-slidenav-prev:before {
    content: "‹";
    font-size: 42px;
    color: white;
    height: 48px;
    width: 48px;
    background: transparent;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: monospace;
    position: relative;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.38);
}