.footer {
  padding-top: calc(var(size-space-base) + .6rem);
  padding-bottom: ($size-line * 4) - .6rem;

  @include media-breakpoint-down(sm) {
    padding-top: $size-6;
    padding-bottom: 6.6rem;
    border-top: 1px solid var(color-ink-dark-border-alt);
  }
  &__container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }
  &__nav {
    margin-bottom: $size-line * 2 - $size-half;
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;

      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 calc($size-2 / 2) ($size-1);
      }
    }
    li {
      @include media-breakpoint-up(sm) {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 calc($size-2 / 2) $size-1;
      }
      @include media-breakpoint-down(sm) {
        font-size: var(font-size-small);
        line-height: var(font-line-height-small);
      }
    }
    a {
      @include media-breakpoint-up(sm) {
        text-decoration: underline;
      }
    }
  }
  &__languages {
    margin: 0 auto calc($size-line * 2 - $size-half);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__logo {
    margin: 0 auto $size-5;

    @include media-breakpoint-down(sm) {
      margin: 0 auto 4.4rem;
    }
  }
  &__site-credits {
    text-align: center;

    @include media-breakpoint-down(sm) {
      font-size: var(font-size-small);
      line-height: var(font-line-height-small);
    }
  }
  &__copyright {
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: $size-1;
    }
  }
  &__link {
    @include media-breakpoint-up(sm) {
      text-decoration: underline;
    }
  }
  &__language-toggle {
    margin-top: 3rem;
    margin-bottom: 3rem;
        display: flex;
    justify-content: center;
    .dropdown-toggle {
      padding: 0;
      color: var(color-ink-blue-text);
      .icon {
        &.is-left {
          margin-left: 0;
        }
        &.is-sm {
          margin-left: $size-half;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      display: inline-flex;
      margin: 0 auto 4.4rem;
    }
  }
  &.is-compact {
    padding-top: 6.6rem;
    @include media-breakpoint-down(sm) {
      padding-top: $size-6;
    }
    .footer__language-toggle {
      @include media-breakpoint-down(sm) {
        order: 1;
      }
    }
    .footer__logo {
      margin: 0 auto 3.6rem;
      @include media-breakpoint-down(sm) {
        order: 3;
        margin-bottom: 4.4rem;
      }
    }
    .footer__nav {
      margin-bottom: $size-1;
      @include media-breakpoint-down(sm) {
        order: 2;
        margin-bottom: 4.4rem;
      }
    }
    .footer__site-credits {
      @include media-breakpoint-down(sm) {
        order: 4;
      }
    }
    .footer__copyright {
      margin-bottom: $size-1;
    }
  }
}
.languages {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(lg) {
      margin: 0 (-calc($size-1p5 + .05rem)) ($size-1);
    }
  }
  li {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 calc($size-8 / 2 + .05rem) $size-1;

    @include media-breakpoint-down(lg) {
      padding: 0 calc($size-1p5 + .05rem) $size-1;
    }
    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding: $size-half 0;
    .icon {
      margin-right: $size-1;
    }
  }
}