{% extends "../index.twig" %}

{% set title = 'Events' %}

{% set captionActions = [
	['isIcon', "Sort", 'sort', [
			['alphabet', 'alphabetically'],
			['calendar', 'date added'],
			['likebig', 'popularity']
		], 'Sort by'
	],
	['isIcon', "Add", 'plus']
] %}

{# ['entetyAvatarImg', "entetyTitle", 'entetySubTytle', 'entetyCount']#}
{% set eventList = [
	['/assets/images/metalica.jpg', "концерт", 'The Offspring — Let rhe Bad Times Roll', '', '16 июля — Budva'],
	['/assets/images/metalica.jpg', "концерт", "Förever Lemmy - A tribute to Motörhead", 'Metallica, Judas Priest, Iron …', '15 июля — Podgorica'],
	['/assets/images/metalica.jpg', "концерт", 'The Cure — New 2022 European Tour', '','19 июля — Bar'],
	['/assets/images/metalica.jpg', "концерт", 'DJ-сет Анфисы Летяго', '','20 июля — Tivat'],
	['/assets/images/metalica.jpg', "концерт", "Róisín Murphy - Murphy's Law Tour", '','20 июля — Tivat'],
	['/assets/images/metalica.jpg', "концерт", 'AC/DC — Back in Black 2022', '','20 июля — Tivat']
] %}

{% set SidebarGroupList = [
	['/assets/images/rzd.png', "RZD", 'Transport', '#'],
	['/assets/images/mybg.jpg', "VTB", 'Finance', '#'],
	['/assets/images/mybg.jpg', "Ozon", 'Trading', '#'],
	['/assets/images/mybg.jpg', "Tilda", 'Technology', '#'],
] %}


{% set countCols = 'column-2' %}

{% block content %}
	{% include '../components/group_content_header.twig' %}
	{% include '../components/group_content_body.twig' %}
{% endblock %}

{% block sidebar %}
	<div class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__item__title">
			My
		</div>
	</div>
	<div class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__item__title">
			I'll go / I'm interested
		</div>
	</div>
{% endblock %}