{% extends "../index.twig" %}
{% set title = 'Single Event' %}
{% set profileCoverImg = '/assets/images/event.jpg' %}
{% set entetyAvatarImg = '/assets/images/eventAvatar.jpg' %}
{% set groupNameH = "Róisín Murphy - Murphy's Law Tour" %}
{% set groupNameInfo = '24, 25, 26 июля. Черногория, Бар' %}
{% set headerActions = {
	editProfile: "createEvent",
	stats: "statisticForm",
} %}

{% set mainSidebarList = [
	['news', 'link','#', "Newsline", '2', 'active'],
	['camera', 'link','#', "Photo and video", '12'],
	['tag', 'link','#', "Organizer", ''],
	['archive', 'link','#', "going to go", '204']
] %}
{% set headerActionsList = [
	['stats', 'toggle', 'statisticForm', 'Stats']
] %}


{% set mainContentList = [
	['eventAvatar.jpg', "Róisín Murphy - Murphy's Law Tour", "10 minuts ago", 'eventPost.jpg', 'Новый клип Рошин'],
	['avatar.jpg', 'Владимир Никшин', "2 days ago", '', '-А можете дать маленькую бесплатную консультацию по продаже квартиры? Так-то я по образованию юрист и сама все знаю, просто хочу уточнить. -Ну ок. <br>
	Через день:<br>
	-А наши покупатели хотят с нами рассчитаться таким-то образом, но я боюсь мошенничества. Скажите, как правильно сделать в нашей ситуации?<br>
	-Возьмите у меня платную консультацию и я вам под запись пошагово расскажу, что надо и чего не надо делать' ]
] %}

{% block content %}
	{% include '../components/main_content_header.twig' %}
	{% include '../components/main_content_body.twig' %}
{% endblock %}


{% block sidebar %}
<aside class="main__sidebar__item has-shadow has-border-radius-base is_pickout">
	<div class="main__sidebar__section">
		{% include '../components/main_sidebar_item.twig' %}
	</div>

		<div class="main__sidebar__section">		
			<div class="main__sidebar__header">
				<div class="main__sidebar__title label is-bolder">Invite friends</div>
			</div>
		    <div class="people__list">
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Андрей</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Ксения</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Евгений</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Мария</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Анна</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Андрей</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Ксения</div>
		        </a>
		        <a href="/profile_special" class="people__item item-people">
		            <div class="item-people__avatar entety__avatar is-md is-round">
		                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
		            </div>
		            <div class="item-people__name">Евгений</div>
		        </a>
		    </div>
		</div>
</aside>
{% endblock %}