{% extends "../index.twig" %}

{% set title = 'index' %}



{% block content %}
<ul>

                    <ul>
                        <li><a href="/mypage/">profile</a></li>
                        <li><a href="/friends/">profile friends</a></li>
                        <li><a href="/community/">community</a></li>
                        <li><a href="/community/single.html">community single</a></li>
                        <li><a href="/organizations/">organizations</a></li>
                        <li><a href="/organizations/single.html">organizations single</a></li>
                        <li><a href="/events/">events</a></li>
                        <li><a href="/events/single.html">event single</a></li>
                        <li><a href="/promotions/">promotions</a></li>
                        <li><a href="/promotions/single.html">promotion single</a></li>
                        <li><a href="/advertising/">advertising single</a></li>
                        <li><a href="/post/">Single post</a></li>
                        <li><a href="/news/">Feed + stories</a></li>
                    </ul>
                    <br>
                    <br>
                    <ul>
                        <li><a href="/profile_special/">profile special</a></li>
                        <li><a href="/profile_boocmark/">profile Bookmarks</a></li>
                        <li><a href="/profile_photo/">profile photos</a></li>
                        <li><a href="/profile_friends_Nearby/">profile friends nearby</a></li>
                        <li><a href="/home/">home</a></li>
                        <li><a href="/sign in/">sign in<sign in/a></li>
                        <li><a href="/messenger/">messenger (не нашел верстку этой страницы)</a></li>
                        <li><a href="/live_video/">live video</a></li>
                        <li><a href="/live_audio/">live audio</a></li>
                    </ul>           
</ul>
{% endblock %}

