{% extends "../index.twig" %}

{% set title = 'index' %}



{% block content %}
<ul>
    <li><a href="/pages/home/home.html">Home</a></li>
    <li><a href="/pages/auth/login.html">Sign in</a></li>
    <li><a href="/pages/auth/register.html">Sign up</a></li>
    <li><a href="/pages/auth/reset.html">Reset</a></li>
    <li><a href="/pages/profile/profile.html">Profile</a></li>
    <li><a href="/pages/friends/friends.html">Friends</a></li>
    <li><a href="/pages/communities/communities-list.html">Communities - List</a></li>
    <li><a href="/pages/communities/communities-feed.html">Communities - Feed</a></li>
    <li><a href="/pages/community/community.html">Community</a></li>
    <li><a href="/pages/feed/feed.html">Feed</a></li>
    <li><a href="/pages/post/post.html">Post</a></li>
    <li><a href="/pages/article/article.html">Article</a></li>
    <li><a href="/pages/article/article-create.html">Create Article</a></li>
    <li><a href="/pages/music/music.html">Music</a></li>
    <li><a href="/pages/video/video.html">Video</a></li>
</ul>
{% endblock %}

