{% extends "../index_single.twig" %} {% set title = 'Add product -
characteristics' %} {% block content %}
<div class="add-product-main">
  <div class="add-product-main__wrapper ovflw-a">
    <div class="add-product-main__container description-product ">
      <div class="description-product__wrapper">
        <div class="description-product__header"></div>
        <h2 class="add-product-main__title">Добавить товар</h2>
        <h4 class="add-product-main__product">Джинсы женские Norma Jean</h4>
        <form class="add-product-main__form">
          {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu mb-1"
              >модель
              <input type="text" class="" required placeholder="" />
            </label>
          </div>
          {# --------- #} {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu mb-1"
              >для кого*
              <input
                type="text"
                class=""
                required
                placeholder="Выберите или добавьте"
              />
              <button class="add-product-main__btn" type="button">
                <svg role="img" class="icon">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </label>
          </div>
          {# --------- #} {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu mb-1"
              >сезон*
              <input type="text" class="" required placeholder="Выберите" />
              <button class="add-product-main__btn" type="button">
                <svg role="img" class="icon">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </label>
          </div>
          {# --------- #} {# ---- colors product ---- #}
          <div class="add-product-main__colors-block">
            <h4 class="add-product-main__color-title">цвет*</h4>
            <ul class="add-product-main__list-colors">
              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-2 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                    checked
                  />
                  <span class="custom-radio-color radio-color-2"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-3 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-3"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-4 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-4"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-5 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-5"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-6 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-6"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-7 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-7"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-8 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-8"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-9 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-9"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-10 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-10"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-11 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-11"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-12 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-12"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-13 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-13"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-14 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-14"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-15 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-15"></span>
                </label>
              </li>

              <li class="add-product-main__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-16 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-first"
                  />
                  <span class="custom-radio-color radio-color-16"></span>
                </label>
              </li>
            </ul>
          </div>
          {# -------- #} {# ----- sizes block ----- #}
          <div class="add-product-main__sizes">
            <h3 class="add-product-main__table-title">
              Размер
              <span>(таблица)</span>
            </h3>
            <div class="add-product-main__sizes-block">
              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">38</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-1"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">40</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-2"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">42</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-3"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">44</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">46</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">48</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">50</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">52</span>
                </label>
              </div>

              <div class="add-product-main__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">54</span>
                </label>
              </div>
            </div>
          </div>
          {# -------- #} {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu mb-1"
              >материал*
              <input type="text" class="" required placeholder="" />
            </label>
          </div>
          {# --------- #} {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu mb-1"
              >страна-производитель*
              <input
                type="text"
                class=""
                required
                placeholder="Выберите или добавьте"
              />
              <button class="add-product-main__btn" type="button">
                <svg role="img" class="icon">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </label>
          </div>
          {# --------- #} {# ---- add product block ---- #}
          <div class="add-product-main__block">
            <label class="add-product-main__label ttu"
              >ключевые слова
              <input type="text" class="" placeholder="Введите или выберите" />
            </label>
            <span class="add-product-main__text-description"
              >Укажите через запятую слова или фразы, по которым покупатели
              смогут найти ваши товары.</span
            >
          </div>
          {# --------- #}
        </form>
      </div>
      {# ----- #} {# --- aside --- #}
      <div class="add-product-aside">
        <div class="add-product-aside__wrapper">
          <ul class="add-product-aside__list">
            <li
              class="add-product-aside__item active-product-page complete-all-fields"
            >
              <div class="add-product-aside__block">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-success"></use>
                </svg>
                <span>основное</span>
              </div>
              <div class="add-product-aside__count">
                <span>0/5*</span>
                <svg
                  class="add-product-aside__next-icon icon deg90"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
            <li class="add-product-aside__item need-complete">
              <div class="add-product-aside__block">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-error"></use>
                </svg>
                <span>характеристики</span>
              </div>
              <div class="add-product-aside__count">
                <span>0/6*</span>
                <svg
                  class="add-product-aside__next-icon icon deg90"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
            <li class="add-product-aside__item">
              <div class="add-product-aside__block">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
                </svg>
                <span>описание</span>
              </div>
              <div class="add-product-aside__count">
                <span>0/1*</span>
                <svg
                  class="add-product-aside__next-icon icon deg90"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
            <li class="add-product-aside__item">
              <div class="add-product-aside__block">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
                </svg>
                <span>фото и видео</span>
              </div>
              <div class="add-product-aside__count">
                <span>0/1*</span>
                <svg
                  class="add-product-aside__next-icon icon deg90"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
            <li class="add-product-aside__item">
              <div class="add-product-aside__block">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
                </svg>
                <span>доставка</span>
              </div>
              <div class="add-product-aside__count">
                <span>0/1*</span>
                <svg
                  class="add-product-aside__next-icon icon deg90"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {# ------ end aside ------ #}
    </div>
    {# ---------------- footer block ---------------- #}
    <footer class="add-footer-product">
      <div class="add-footer-product__wrapper">
        <div class="add-footer-product__links">
          <a href="" class="add-footer-product__prev">
            <svg class="icon is-left" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
          <div class="add-footer-product__buttons">
            <button class="add-footer-product__btn-cancel btn" type="button">
              <span class="add-footer-product__sp-can-d label is-bolder"
                >отменить</span
              >
              <span class="add-footer-product__sp-can-m label is-bolder">
                <svg class="icon deg270" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <button class="add-footer-product__btn-save btn" type="button">
              <span class="label is-bolder">сохранить как черновик</span>
            </button>
            {# ------- footer title ------- #}
            <h4 class="add-footer-product__title">Характеристики</h4>
            {# ---------------------------- #}
            <button
              class="add-footer-product__btn-complete file-disabled btn btn-primary"
              disabled
              type="button"
            >
              <svg class="icon is-left" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
              </svg>
              <span class="label is-bolder">готово</span>
            </button>
          </div>
          <a href="" class="add-footer-product__next">
            <svg class="icon is-left" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </footer>
    {# -------------- end footer ------------- #}
  </div>
</div>
{% endblock %}
