{# {% block content %} #}
<div class="add-product-main">
  <div class="add-product-main__wrapper"></div>
  {% block footer %}
  <div class="">{% include "/add-product-footer.twig" %}</div>
  {% endblock %}
</div>
{# {% endblock %} #}
