<footer class="add-footer-product footer-wr-full">
  <div class="add-footer-product__wrapper">
    <div class="add-footer-product__links">
      <a href="" class="add-footer-product__prev">
        <svg class="icon is-left" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
      <div class="add-footer-product__buttons">
        <button class="add-footer-product__btn-cancel btn" type="button">
          <span class="label is-bolder">отменить</span>
        </button>
        <button class="add-footer-product__btn-save btn" type="button">
          <span class="label is-bolder">сохранить как черновик</span>
        </button>
        <button class="add-footer-product__btn-complete btn btn-primary" disabled type="button">
          <svg class="icon is-left" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="label is-bolder">готово</span>
        </button>
      </div>
      <a href="" class="add-footer-product__next">
        <svg class="icon is-left" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
