<div class="add-product-aside">
  <div class="add-product-aside__wrapper">
    <ul class="add-product-aside__list">
      <li
        class="add-product-aside__item active-product-page complete-all-fields"
      >
        <div class="add-product-aside__block">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-success"></use>
          </svg>
          <span>основное</span>
        </div>
        <div class="add-product-aside__count">
          <span>0/5*</span>
          <svg class="icon deg90" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="add-product-aside__item need-complete">
        <div class="add-product-aside__block">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-error"></use>
          </svg>
          <span>характеристики</span>
        </div>
        <div class="add-product-aside__count">
          <span>0/6*</span>
          <svg class="icon deg90" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="add-product-aside__item">
        <div class="add-product-aside__block">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
          </svg>
          <span>описание</span>
        </div>
        <div class="add-product-aside__count">
          <span>0/1*</span>
          <svg class="icon deg90" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="add-product-aside__item">
        <div class="add-product-aside__block">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
          </svg>
          <span>фото и видео</span>
        </div>
        <div class="add-product-aside__count">
          <span>0/1*</span>
          <svg class="icon deg90" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="add-product-aside__item">
        <div class="add-product-aside__block">
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-radio-empty"></use>
          </svg>
          <span>доставка</span>
        </div>
        <div class="add-product-aside__count">
          <span>0/1*</span>
          <svg class="icon deg90" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
