{% extends "../index_single.twig" %} {#{% extends "../index.twig" %}#} {% set
title = 'Buyer Consumer' %} {% block content %}
<div class="consumer">
  <div class="consumer__content">
    {# ---------- left-data ----------- #}
    <div class="consumer__left-data left-data">
      <div class="left-data__carousel">
        <div class="left-data__carousel-container">
          <div class="left-data__carousel-item active">
            <img src="/assets/images/market/jeans.jpg" alt="Image 1" />
          </div>
        </div>
        <div class="left-data__carousel-nav">
          <button class="left-data__nav-btn btn-prev-img">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          {# ----- carousel ----- #}
          <ul class="left-data__carousel-list">
            <li class="left-data__carousel-item-img active-img" data-index="0">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 1"
              />
            </li>
            <li class="left-data__carousel-item-img" data-index="1">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 2"
              />
            </li>
            <li class="left-data__carousel-item-img" data-index="2">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 3"
              />
            </li>
            <li class="left-data__carousel-item-img" data-index="3">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 4"
              />
            </li>
            <li class="left-data__carousel-item-img" data-index="4">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 5"
              />
            </li>
            <li class="left-data__carousel-item-img" data-index="5">
              <img
                src="/assets/images/market/jeans.jpg"
                width="48px"
                height="64px"
                alt="Image 6"
              />
            </li>
          </ul>
          {# ----- end carousel ----- #}
          <button class="left-data__nav-btn btn-next-img">
            <svg class="icon" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    {# ---------- end left-data ----------- #} {# ---------- right-data
    ----------- #}
    <div class="consumer__right-data right-data">
      <div class="consumer__header">
        <div class="consumer__rating ratings-block">
          <div class="ratings-block__likes">
            <label class="ratings-block__like">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
              <svg
                class="icon is-heart is-selected"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
            </label>
            <label class="ratings-block__like">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
              <svg
                class="icon is-heart is-selected"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
            </label>
            <label class="ratings-block__like">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
              <svg
                class="icon is-heart is-selected"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
            </label>
            <label class="ratings-block__like">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
              <svg
                class="icon is-heart is-selected"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
            </label>
            <label class="ratings-block__like">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
              <svg
                class="icon is-heart is-selected"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/assets/sprite/sprite.svg#icon-heart"></use>
              </svg>
            </label>
            <p class="ratings-block__likes-counter">(155)</p>
          </div>
          <div class="ratings-block__favorites">
            <button class="ratings-block__favorite">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-bookmark"></use>
              </svg>
              <span>сохранить</span>
            </button>
          </div>
        </div>
      </div>
      <div class="consumer__main-info">
        <h2 class="consumer__title">
          Джинсы Norma Jeane женские с высокой посадкой широкие клеш трубы
          палаццо,
          <span>скидка — 5%</span>
        </h2>
        <div class="consumer__quantities">
          {# ---- block price ---- #}
          <div class="consumer__block-quantity block-quantity-active">
            <p class="consumer__text-1">1–14 шт.</p>
            <p class="consumer__text-2 text-2-active">3 407 ₽</p>
            <p class="consumer__text-3">3 918 ₽</p>
          </div>
          {# ----------- #} {# ---- block price ---- #}
          <div class="consumer__block-quantity">
            <p class="consumer__text-1">15–29 шт.</p>
            <p class="consumer__text-2">3 237 ₽</p>
            <p class="consumer__text-3">3 722 ₽</p>
          </div>
          {# ----------- #} {# ---- block price ---- #}
          <div class="consumer__block-quantity">
            <p class="consumer__text-1">30–299 шт.</p>
            <p class="consumer__text-2">3 075 ₽</p>
            <p class="consumer__text-3">3 536 ₽</p>
          </div>
          {# ----------- #} {# ---- block price ---- #}
          <div class="consumer__block-quantity">
            <p class="consumer__text-1">от 300 шт.</p>
            <p class="consumer__text-2">2 921 ₽</p>
            <p class="consumer__text-3">3 722 ₽</p>
          </div>
          {# ----------- #}
        </div>
        <div class="consumer__size-table product-data">
          {# ------ colors -------- #}
          <div class="product-data__colors">
            <h3 class="product-data__table-title">Цвет: темно-синий</h3>
            <div class="product-data__colors-block">
              <div class="product-data__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-1 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-first"
                  />
                  <span class="custom-radio-color radio-color-1"></span>
                </label>
              </div>

              <div class="product-data__color">
                <label class="radio-label">
                  <input
                    class="form-check-input-color-2 real-radio-color"
                    type="radio"
                    name="colorChoice"
                    value="color-second"
                  />
                  <span class="custom-radio-color radio-color-2"></span>
                </label>
              </div>
            </div>
          </div>
          {# --------- sizes -------#}
          <div class="product-data__sizes">
            <h3 class="product-data__table-title">
              Размер
              <span>(таблица)</span>
            </h3>
            <div class="product-data__sizes-block">
              <div class="product-data__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-1"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">40</span>
                </label>
              </div>
              <div class="product-data__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-2"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">42</span>
                </label>
              </div>
              <div class="product-data__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-3"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">44</span>
                </label>
              </div>

              <div class="product-data__size">
                <label class="check-label">
                  <input
                    class="form-check-input real-checkbox-size"
                    name="sizeChoice"
                    type="radio"
                    value="checkbox-size-4"
                  />
                  <span class="custom-checkbox-size"></span>
                  <span class="custom-checkbox-text">46</span>
                </label>
              </div>
            </div>
          </div>

          {# --------- counter --------- #}
          <div class="product-data__counter">
            <h3 class="product-data__table-title">Кол-во</h3>
            <div class="product-data__counter-block">
              <button class="product-data__count-btn btn-count-incr">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
              {#<input
                type="number"
                min(0)
                step="1"
                value="1"
                id="input-counter"
                readonly
              />#}
              <p id="input-counter">1</p>
              <button class="product-data__count-btn btn-count-dec">
                <svg class="icon" aria-hidden="true" focusable="false">
                  <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="consumer__description-product product-description">
          <div class="product-description__characteristic">
            <h2 class="product-description__title">
              Описание и характеристики
            </h2>
            <div class="product-description__lists">
              <ul class="product-description__list">
                <li class="product-description__item">Артикул: 101419471</li>
                <li class="product-description__item">100% хлопок.</li>
                <li class="product-description__item">Прямые.</li>
                <li class="product-description__item">Всесезонные.</li>
                <li class="product-description__item">
                  Застежки: молния, пуговицы.
                </li>
              </ul>
              <ul class="product-description__list">
                <li class="product-description__item">Декор отсутствует.</li>
                <li class="product-description__item">
                  Сделано в Узбекистане.
                </li>
                <li class="product-description__item">
                  Модель: 176 см, бюст 79 см, талия 59 см, бёдра 86 см.
                </li>
                <li class="product-description__item">
                  <a href="#">Доставка и возврат</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-description__text">
            <p>РЕКОМЕНДУЕМ ОБРАТИТЬ ВНИМАНИЕ НА РАЗМЕРНЫЙ РЯД В ФОТО ТОВАРА!</p>
            <p>
              На каждую модель своя размерная сетка. Джинсы с высокой посадкой,
              расклешенные от бедра от бренда Norma Jeane - незаменимая вещь в
              гардеробе каждой девушки и женщины. Наши конструкторы добились
              идеальной посадки этих штанов, внимательно учитывая каждую
              особенность для максимального удобства. Итальянский дизайн и
              особый крой этих джинс подчеркнет достоинства вашей фигуры
              силуэта, не оставив без мужского внимания. Брюки выполнены из
              премиального органического хлопка и эластана, благодаря чему
              невероятно комфортные и дышащие.
            </p>
            <p>
              А стойкое окрашивание будет радовать вас сезон за сезоном.
              Универсальную базовую расцветку этой модели легко сочетать с любым
              образом: с классической блузкой и рубашкой или со свободным
              оверсайз стилем вашей одежды. Молодежные брюки можно носить на
              учебу в колледж или университет, на работу в офис. Стильная
              молодежная классика станет любимой моделью для подростка и совсем
              юной модницы, будет радовать красивыми сочетаниями с модными
              футболками и уютными толстовками, объемными рубашками и узкими
              пиджачками, теплыми свитерами и укороченными топами.
            </p>
            <p>
              То же самое можно сказать и про обувь, бойфренды и бананы
              прекрасно смотрятся с ботинками, туфлями, кедами и даже
              кроссовками. Популярные брючки можно также носить с сабо,
              сандалиями и топ-сайдерами, оксфордами и брогами, лоферами и
              лодочками и, конечно, челси. Действительно стильная модель этих
              джинсов - является трендом сезона. Однотонные штанишки из плотного
              качественного материала с прорезными боковыми карманами идеальны
              для использования и носки как весной и летом, так и осенью и
              зимой. Модная летняя, осенняя и весенняя вещь для долгих прогулок
              с подружками, спортивной ходьбы, встреч с друзьями или свидания с
              любимым.
            </p>
            <p>
              Штанишки в фасоне мом (mom) с завышенной посадкой представлены в
              классических цветах денима на каждый день: черном, голубом, синем.
              А прямые баллоны и багги, бойфренды и бананы, американки из нашего
              ассортимента идеально подойдут на смену этой модели в весеннее и
              летнее, осеннее и зимнее время года. Их немного мешковатая модель
              слегка свободна в бедрах, что помогает скрыть недостатки в этой
              области. Клеш и зауженные к низу штанины носят с модными
              подворотами.
            </p>
            <p>
              Джинсы в стиле кэжуал (casual) выполнены на застежке - молнии и
              пуговице, талию можно подчеркнуть модным ремешком. Современная
              модель представлена в широком размерном ряде и позволяет найти
              подходящий именно вам размер. Таблица размеров представлена в
              карточке товара. Удачно смотрятся на девушках любого роста и
              телосложения, идеально сядут на полных и худеньких, стройных,
              высоких и невысоких модниц.
            </p>
            <p>
              Модные джинсы палаццо - отличный подарок на день рождения для
              мамы, жены и любимой девушки. У нас постоянные акции и распродажи,
              вы можете купить наши товары в подарок со скидкой!
            </p>
          </div>
          <div class="product-description__lists">
            <ul class="product-description__list">
              <li class="product-description__item">
                <a href="#">Все товары Norma Jeane</a>
              </li>
              <li class="product-description__item">
                <a href="#">Все джинсы Norma Jeane.</a>
              </li>
              <li class="product-description__item">
                <a href="#">Все джинсы в категории.</a>
              </li>
            </ul>
            <ul class="product-description__list">
              <li class="product-description__item">
                <a href="#">260 отзывов</a>
                на 1 014 товаров Norma Jean, проданных за 8 мес.
                на маркетплейсе.
              </li>
            </ul>
          </div>
          <div class="product-desscription__comment comment-product">
            <h2 class="comment-product__title">
              Отзывы
              <span> - 55</span>
            </h2>
            <ul class="comment-product__scale">
              {# ----- rating like-------- #}
              <li class="comment-product__item">
                <svg
                  class="icon is-heart is-selected"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#checkbox"></use>
                </svg>
                <label class="comment-product__rating">
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                </label>
                <div class="comment-product__line-rating">
                  <div class="comment-product__line-rating-empty"></div>
                  <div class="comment-product__line-rating-full"></div>
                </div>
                <div class="comment-product__rating-count">
                  <span>90</span>%
                </div>
              </li>
              {# ----- end rating like-------- #} {# ----- rating like--------
              #}
              <li class="comment-product__item">
                <svg
                  class="icon is-heart is-selected"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#checkbox"></use>
                </svg>
                <label class="comment-product__rating">
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                </label>
                <div class="comment-product__line-rating">
                  <div class="comment-product__line-rating-empty"></div>
                  <div class="comment-product__line-rating-full"></div>
                </div>
                <div class="comment-product__rating-count">
                  <span>10</span>%
                </div>
              </li>
              {# ----- end rating like-------- #} {# ----- rating like--------
              #}
              <li class="comment-product__item">
                <svg
                  class="icon is-heart is-selected"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#checkbox"></use>
                </svg>
                <label class="comment-product__rating">
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                </label>
                <div class="comment-product__line-rating">
                  <div class="comment-product__line-rating-empty"></div>
                  <div class="comment-product__line-rating-full"></div>
                </div>
                <div class="comment-product__rating-count"><span>0</span>%</div>
              </li>
              {# ----- end rating like-------- #} {# ----- rating like--------
              #}
              <li class="comment-product__item">
                <svg
                  class="icon is-heart is-selected"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#checkbox"></use>
                </svg>
                <label class="comment-product__rating">
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                </label>
                <div class="comment-product__line-rating">
                  <div class="comment-product__line-rating-empty"></div>
                  <div class="comment-product__line-rating-full"></div>
                </div>
                <div class="comment-product__rating-count"><span>0</span>%</div>
              </li>
              {# ----- end rating like-------- #} {# ----- rating like--------
              #}
              <li class="comment-product__item">
                <svg
                  class="icon is-heart is-selected"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="/assets/sprite/sprite.svg#checkbox"></use>
                </svg>
                <label class="comment-product__rating">
                  <svg
                    class="icon is-heart is-selected"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-full"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                  <svg
                    class="icon is-heart"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <use href="/assets/sprite/sprite.svg#icon-like-empty"></use>
                  </svg>
                </label>
                <div class="comment-product__line-rating">
                  <div class="comment-product__line-rating-empty"></div>
                  <div class="comment-product__line-rating-full"></div>
                </div>
                <div class="comment-product__rating-count"><span>0</span>%</div>
              </li>
              {# ----- end rating like-------- #}
            </ul>
          </div>
        </div>
        {# --------- posts --------- #}
        <div class="consumer__post product-post">
          <div class="comments__items product-post__items">
            <div class="product-post__thread">
              <div class="product-post__comments">
                {# -------------- comment ------------------ #}
                <div class="product-post__comment">
                  <div class="product-post__body">
                    <div class="product-post__header">
                      <a
                        href="#"
                        class="product-post__avatar avatar is-md is-round has-overlay"
                      >
                        <img
                          src="/assets/images/profile_friend.png"
                          alt="alt"
                          class="img-r"
                        />
                      </a>
                      <div class="product-post__info">
                        <div class="product-post__user">
                          <a href="#" class="product-post__author is-bolder"
                            >Кристина</a
                          >
                          <span class="product-post__likes">(5 ❤️)</span>
                          <span class="product-post__text">
                            — АОАОАОАОАОАОАОАОА, самый кайфовые джинсы в моей
                            жизни) После этих - хочется выкинуть все другие)))
                            Походу придется полностью обновлять все джинсы)))
                          </span>
                        </div>
                        <div class="product-post__footer rating-buttons">
                          <div class="product-post__rating-btn">
                            <div class="product-post__counter">
                              <a href="#" class="product-post__link small"
                                >Сегодня, 06.12
                              </a>
                              <a href="#" class="product-post__favorites">
                                <span class="product-post__text-like"
                                  >Нравится</span
                                >
                                <span
                                  class="product-post__counter-like is_success"
                                  >(2)</span
                                >
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {# ----------- end comment -------------- #} {# --------------
                comment ------------------ #}
                <div class="product-post__comment">
                  <div class="product-post__body">
                    <div class="product-post__header">
                      <a
                        href="#"
                        class="product-post__avatar avatar is-md is-round has-overlay"
                      >
                        <img
                          src="/assets/images/profile_friend.png"
                          alt="alt"
                          class="img-r"
                        />
                      </a>
                      <div class="product-post__info">
                        <div class="product-post__user">
                          <a href="#" class="product-post__author is-bolder"
                            >Алина</a
                          >
                          <span class="product-post__likes">(5 ❤️)</span>
                          <span class="product-post__text">
                            Тот момент когда 100% попадание одни заказала и они
                            же и подошли,седи идеально спасибо ☺️
                          </span>
                        </div>
                        <div class="product-post__footer rating-buttons">
                          <div class="product-post__rating-btn">
                            <div class="product-post__counter">
                              <a href="#" class="product-post__link small"
                                >Вчера, 17.55
                              </a>
                              <a href="#" class="product-post__favorites">
                                <span class="product-post__text-like"
                                  >Нравится</span
                                >
                                <span
                                  class="product-post__counter-like is_success"
                                  >(2)</span
                                >
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {# ----------- end comment -------------- #} {# --------------
                comment ------------------ #}
                <div class="product-post__comment">
                  <div class="product-post__body">
                    <div class="product-post__header">
                      <a
                        href="#"
                        class="product-post__avatar avatar is-md is-round has-overlay"
                      >
                        <img
                          src="/assets/images/profile_friend.png"
                          alt="alt"
                          class="img-r"
                        />
                      </a>
                      <div class="product-post__info">
                        <div class="product-post__user">
                          <a href="#" class="product-post__author is-bolder"
                            >Дарья</a
                          >
                          <span class="product-post__likes">(4 ❤️)</span>
                          <span class="product-post__text">
                            Однозначно маломерки. На свой 44 размер 44-46
                            продавца натянула только до попы. Качество материала
                            очень понравилось, перезакажу. Надеюсь, самый
                            большой размер подойдет.
                          </span>
                        </div>
                        <div class="product-post__footer rating-buttons">
                          <div class="product-post__rating-btn">
                            <div class="product-post__counter">
                              <a href="#" class="product-post__link small"
                                >12 ноября, 10:50
                              </a>
                              <a href="#" class="product-post__favorites">
                                <span class="product-post__text-like"
                                  >Нравится</span
                                >
                                <span
                                  class="product-post__counter-like is_success"
                                  >(2)</span
                                >
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {# -------- all comments ------ #}
                  <div class="product-post__all-comments all-comments">
                    <div class="all-comments__toggle">
                      <h3 class="all-comments__title">
                        посмотреть ещё 10 отзывов
                      </h3>
                      <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu">
                          <li>
                            <span class="menu__title"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    {# -------- оставить отзыв --------- #}
                    <form class="comments__form">
                      <div class="form__item">
                        <button class="all-comments__button" type="button">
                          Оставить отзыв
                        </button>
                      </div>
                    </form>
                    {# -------- end оставить отзыв --------- #}
                  </div>
                  {# ----------- end comment -------------- #}
                </div>
              </div>
            </div>
          </div>
          {# -------- end posts ------- #}
        </div>
      </div>
    </div>
  </div>
  <div class="consumer__similar-items similar-products">
    <div class="similar-products__block">
      <div class="similar-products__titles">
        <h2 class="similar-products__title">Похожие товары</h2>
        <a href="#" class="similar-products__link">
          <span>все</span>
          <svg
            class="icon similar-products__arrow"
            aria-hidden="true"
            focusable="false"
          >
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="similar-products__content">
        {# -------- similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/bonny-jeans.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы BONNY GIRL</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #} {# --------
        similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/bonny-jeans.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы BONNY GIRL</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #} {# --------
        similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/bonny-jeans.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы BONNY GIRL</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #} {# --------
        similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/wrangler.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы Wrangler</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #} {# --------
        similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/bonny-jeans.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы BONNY GIRL</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #} {# --------
        similar-product card -------- #}
        <div class="similar-products__card">
          <a href="#">
            <img
              class="similar-products__image"
              src="/assets/images/market/wrangler.jpg"
              alt="product"
            />
          </a>
          <h4 class="similar-products__text">Джинсы Wrangler</h4>
          <p class="similar-products__price">
            2 750 ₽
            <span>2 990 ₽</span>
          </p>
        </div>
        {# -------- end similar-product card -------- #}
      </div>
    </div>
  </div>
</div>
<button class="add-basket-product btn is-primary tooltip" type="button">
  <span class="tooltiptext">
    <span class="mobile-tooltip">
      <span class="mobile-tooltip-text">Добавить к заказу</span>
      <span>Cумма: 3 407 ₽</span>
    </span>
  </span>
  <svg class="icon" aria-hidden="true" focusable="false">
    <use href="/assets/sprite/sprite.svg#icon-shopping"></use>
  </svg>
  <span class="add-order">Добавить к заказу</span>
</button>
{# --------------------------- details ------------------------------ #}
<div class="buyer-menu-categories__dropdown-menu">
  <div class="buyer-menu-categories__dropdown-header"></div>
  <ul class="buyer-menu-categories__select">
    <li class="buyer-menu-categories__dropdown bmc-title">
      <a href="#" class="buyer-menu-categories__link">
        <svg class="icon deg270" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
        <span>назад</span>
      </a>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Автозапчасти,&nbsp;аксессуары"
        />
        <span class="buyer-menu-categories__subtitle"
          >Автозапчасти,&nbsp;аксессуары</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Багаж, сумки и чехлы" />
        <span class="buyer-menu-categories__subtitle"
          >Багаж, сумки и чехлы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая техника" />
        <span class="buyer-menu-categories__subtitle">Бытовая техника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая электроника" />
        <span class="buyer-menu-categories__subtitle">Бытовая электроника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Детский мир" />
        <span class="buyer-menu-categories__subtitle">Детский мир</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Дом и сад" />
        <span class="buyer-menu-categories__subtitle">Дом и сад</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Домашний текстиль" />
        <span class="buyer-menu-categories__subtitle">Домашний текстиль</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Еда и напитки" />
        <span class="buyer-menu-categories__subtitle">Еда и напитки</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Здоровье и медицина" />
        <span class="buyer-menu-categories__subtitle">Здоровье и медицина</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Красота" />
        <span class="buyer-menu-categories__subtitle">Красота</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Мебель" />
        <span class="buyer-menu-categories__subtitle">Мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Модные аксессуары" />
        <span class="buyer-menu-categories__subtitle">Модные аксессуары</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Обувь" />
        <span class="buyer-menu-categories__subtitle">Обувь</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Одежда" />
        <span class="buyer-menu-categories__subtitle">Одежда</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Подарки и ремесла" />
        <span class="buyer-menu-categories__subtitle">Подарки и ремесла</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Свет и освещение" />
        <span class="buyer-menu-categories__subtitle">Свет и освещение</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Спорт и развлечения" />
        <span class="buyer-menu-categories__subtitle">Спорт и развлечения</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Часы, украшения и очки" />
        <span class="buyer-menu-categories__subtitle"
          >Часы, украшения и очки</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Школьные и офисные принадлежности"
        />
        <span class="buyer-menu-categories__subtitle"
          >Школьные и офисные принадлежности</span
        >
      </label>
    </li>
    <li class="d-product-forms__dropdown bmc-title">
      <span class="dividing-line"></span>
    </li>
    <li class="buyer-menu-categories__dropdown bmc-title">
      <h4>Промышленные товары</h4>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Безопасность" />
        <span class="buyer-menu-categories__subtitle">Безопасность</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бизнес-услуги" />
        <span class="buyer-menu-categories__subtitle">Бизнес-услуги</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Инструменты и&nbsp;оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Инструменты и&nbsp;оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="коммерческая мебель" />
        <span class="buyer-menu-categories__subtitle">коммерческая мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Коммерческое сервисное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Коммерческое сервисное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Металлы и сплавы" />
        <span class="buyer-menu-categories__subtitle">Металлы и сплавы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Промышленное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Промышленное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Резина и пластмассы" />
        <span class="buyer-menu-categories__subtitle">Резина и пластмассы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Сельское хозяйство" />
        <span class="buyer-menu-categories__subtitle">Сельское хозяйство</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Строительство и&nbsp;недвижимость"
        />
        <span class="buyer-menu-categories__subtitle"
          >Строительство и&nbsp;недвижимость</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Ткань и текстильное сырье"
        />
        <span class="buyer-menu-categories__subtitle"
          >Ткань и текстильное сырье</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Упаковка и печать" />
        <span class="buyer-menu-categories__subtitle">Упаковка и печать</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Услуги по изготовлению" />
        <span class="buyer-menu-categories__subtitle"
          >Услуги по изготовлению</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Химикаты" />
        <span class="buyer-menu-categories__subtitle">Химикаты</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электронные компоненты, аксессуары и&nbsp;телекоммуникации"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электронные компоненты, аксессуары и&nbsp;телекоммуникации</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электрооборудование и&nbsp;расходные материалы"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электрооборудование и&nbsp;расходные материалы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Энергетические химикаты" />
        <span class="buyer-menu-categories__subtitle"
          >Энергетические химикаты</span
        >
      </label>
    </li>
  </ul>
  <div class="buyer-menu-categories__dropdown-blur"></div>
</div>
{# ------------------------------------- #}
<div class="d-product-forms d-mp-height ovflw-a">
  <div class="d-product-forms__wrapper dropdown-menu_wraps">
    <div class="d-product-forms__header"></div>
    <ul class="d-product-forms__select feed_select">
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-store"></use>
          </svg>
          <span>главная</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-list"></use>
          </svg>
          <span>каталог</span>

          <a href="#" class="d-product-forms__link">
            <svg class="icon deg90" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </label>
      </li>
      <li class="d-product-forms__dropdown">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Покупки</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-shopping"></use>
          </svg>
          <span>корзина</span>
          <span class="d-product-forms__count">5</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-bookmark"></use>
          </svg>
          <span>избранное</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Продажи</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-grid"></use>
          </svg>
          <span>сводка</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-box"></use>
          </svg>
          <span>товары</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
          <span class="d-product-forms__count">99+</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-group"></use>
          </svg>
          <span>покупатели</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-gift"></use>
          </svg>
          <span>купоны</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-chart"></use>
          </svg>
          <span>статистика</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-settings"></use>
          </svg>
          <span>Настройки</span>
        </label>
      </li>
    </ul>
    <div class="d-product-forms__blur"></div>
  </div>
</div>
{% endblock %} {% block footer %}
<div class="footer-wr-full">
  {% include "../components/single_footer.twig" %}
</div>
{% endblock %}
