{% extends "../index_single.twig" %} {# посомтреть в корне #} {#{% set title =
'My Page' %}#} {#посмотреть в индексе#} {% set title = 'Buyer Home' %} {% block
content %}
<div class="buyer">
  <div class="data">
    <div class="data__info">
      <div class="data__picture">
        <img
          src="/assets/images/market/balls.jpg"
          alt="balls"
          class="data__img"
        />
      </div>
      <div class="data__news">
        <a class="data__link" href="#">Актуальное</a>
        <h3 class="data__title">Всё для футбола</h3>
        <p class="data__subtitle">
          Мячи, форма, бутсы с символикой чемпионата в Катаре
        </p>
        <button class="btn btn-primary btn-choice">
          выбрать
          <img src="/assets/images/market/arrow.svg" alt="arrow" />
        </button>
        <div class="data__carousel">
          <a href="#">
            <svg class="icon arrow-left" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
          <span>1/4</span>
          <a href="#">
            <svg class="icon arrow-right" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  {# --------- hits -------- #}
  <div class="hits">
    <div class="hits__titles-info">
      <h4 class="hits__title">Хиты продаж</h4>
      <a href="#" class="hits__link"
        >все
        <svg class="icon arrow-right" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hits__content">
      <!-- cards block -->
      <div class="hits__cards">
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Бытовая электроника</p>
            </div>
            <h5 class="card__title">
              Смартфон Xiaomi Redmi Note 9 Pro 6/128GB Global Version
            </h5>
            <p class="card__text">1000 €</p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/img.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">
              Платье Monki Midi в черно-синий цветочек
            </h5>
            <p class="card__text">1000 €</p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/img.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">
              Платье Monki Midi в черно-синий цветочек
            </h5>
            <p class="card__text">1000</p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/img.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">
              Платье Monki Midi в черно-синий цветочек
            </h5>
            <p class="card__text">
              1000 €
              <span>+ 17 € доставка</span>
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Бытовая электроника</p>
            </div>
            <h5 class="card__title">
              Смартфон Xiaomi Redmi Note 9 Pro 6/128GB Global Version
            </h5>
            <p class="card__text">1000 €</p>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
    {# --------- спецпредлложения --------------- #}
    <div class="hits__special-offer">
      <div class="hits__special-titles">
        <h4 class="hits__title">Спецпредлложения</h4>
        <a href="#" class="hits__link"
          >все
          <svg class="icon arrow-right" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hits__special-cards">
        {# ------- special card ---------- #}
        <div class="hits__special-card">
          <div class="hits__special-picture">
            <img
              src="/assets/images/market/seif.jpg"
              alt="seif"
              class="data__img"
            />
          </div>
          <div class="hits__special-info">
            <h4 class="hits__special-subtitle">Безопасность</h4>
            <div class="hits__special-sale">-20%</div>
          </div>
        </div>
        {# ------- end special card ---------- #} {# ------- special card
        ---------- #}
        <div class="hits__special-card">
          <div class="hits__special-picture">
            <img
              src="/assets/images/market/ny.jpg"
              alt="ney year"
              class="data__img"
            />
          </div>
          <div class="hits__special-info">
            <h4 class="hits__special-subtitle">Новый год</h4>
            <div class="hits__special-sale">-70%</div>
          </div>
        </div>
        {# ------- end special card ---------- #} {# ------- special card
        ---------- #}
        <div class="hits__special-card">
          <div class="hits__special-picture">
            <img
              src="/assets/images/market/seif.jpg"
              alt="balls"
              class="data__img"
            />
          </div>
          <div class="hits__special-info">
            <h4 class="hits__special-subtitle">Одежда</h4>
            <div class="hits__special-sale">-50%</div>
          </div>
        </div>
        {# ------- end special card ---------- #}
      </div>
    </div>
    {# --------- end спецпредлложения --------------- #}
  </div>
  {# -------- popular ------ #}
  <div class="hits">
    <div class="hits__titles-info">
      <h4 class="hits__title">Популярные новинки</h4>
      <a href="#" class="hits__link"
        >все
        <svg class="icon arrow-right" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hits__content">
      <!-- cards block -->
      <div class="hits__cards">
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">Рождественские носки на осень и зиму</h5>
            <p class="card__text">
              0,61 - 0,68 €
              <span> за пару </span>
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">Рождественские носки на осень и зиму</h5>
            <p class="card__text">
              0,61 - 0,68 €
              <span> за пару </span>
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">Рождественские носки на осень и зиму</h5>
            <p class="card__text">
              0,61 - 0,68 €
              <span> за пару </span>
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">Рождественские носки на осень и зиму</h5>
            <p class="card__text">
              0,61 - 0,68 €
              <span> за пару </span>
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Одежда</p>
            </div>
            <h5 class="card__title">Рождественские носки на осень и зиму</h5>
            <p class="card__text">
              0,61 - 0,68 €
              <span> за пару </span>
            </p>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
  </div>
  {# --------- special ------ #}
  <div class="hits">
    <div class="hits__titles-info">
      <h4 class="hits__title">Специально для вас</h4>
      <a href="#" class="hits__link"
        >все
        <svg class="icon arrow-right" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hits__content">
      <!-- cards block -->
      <div class="hits__cards">
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Строительство и недвижимость</p>
            </div>
            <h5 class="card__title">
              Высококачественный контейнерный дом на 2 спальни
            </h5>
            <p class="card__text">
              <span>от</span>
              26 493,70 €
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Строительство и недвижимость</p>
            </div>
            <h5 class="card__title">
              Высококачественный контейнерный дом на 2 спальни
            </h5>
            <p class="card__text">
              <span>от</span>
              26 493,70 €
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Строительство и недвижимость</p>
            </div>
            <h5 class="card__title">
              Высококачественный контейнерный дом на 2 спальни
            </h5>
            <p class="card__text">
              <span>от</span>
              26 493,70 €
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Строительство и недвижимость</p>
            </div>
            <h5 class="card__title">
              Высококачественный контейнерный дом на 2 спальни
            </h5>
            <p class="card__text">
              <span>от</span>
              26 493,70 €
            </p>
          </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="hits__card">
          <div class="hits__image">
            <img
              src="/assets/images/market/phone.jpg"
              class="card-img-top"
              alt="dress"
            />
          </div>
          <div class="card__body">
            <div class="card__info">
              <img
                class="card__img"
                src="/assets/images/market/like.svg"
                alt="like"
              />
              <p class="card__rating">4.9</p>
              <p class="card__counter">(10)</p>
              <p class="card__description">Строительство и недвижимость</p>
            </div>
            <h5 class="card__title">
              Высококачественный контейнерный дом на 2 спальни
            </h5>
            <p class="card__text">
              <span>от</span>
              26 493,70 €
            </p>
          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
  </div>
</div>
<hr>
{# ------------------------------ list --------------------------------- #}
<div class="d-product-forms">
  <div class="d-product-forms__wrapper dropdown-menu_wraps">
    <ul class="d-product-forms__select feed_select">
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-box"></use>
          </svg>
          <input type="radio" name="feed_check" value="искать товары" />
          <span>искать товары</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-user"></use>
          </svg>
          <input type="radio" name="feed_check" value="искать продавцов" />
          <span>искать продавцов</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-globe"></use>
          </svg>
          <input type="radio" name="feed_check" value="по всему сайту" />
          <span>по всему сайту</span>
        </label>
      </li>
    </ul>
  </div>
</div>

<hr />
{# -------------------------------------------- #}
<div class="buyer-menu-categories__dropdown-menu">
  <div class="buyer-menu-categories__dropdown-header"></div>
  <ul class="buyer-menu-categories__select">
    <li class="buyer-menu-categories__dropdown bmc-title">
      <a href="#" class="buyer-menu-categories__link">
        <svg class="icon deg270" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
        <span>назад</span>
      </a>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Автозапчасти, аксессуары"
        />
        <span class="buyer-menu-categories__subtitle"
          >Автозапчасти, аксессуары</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Багаж, сумки и чехлы" />
        <span class="buyer-menu-categories__subtitle"
          >Багаж, сумки и чехлы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая техника" />
        <span class="buyer-menu-categories__subtitle">Бытовая техника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая электроника" />
        <span class="buyer-menu-categories__subtitle">Бытовая электроника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Детский мир" />
        <span class="buyer-menu-categories__subtitle">Детский мир</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Дом и сад" />
        <span class="buyer-menu-categories__subtitle">Дом и сад</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Домашний текстиль" />
        <span class="buyer-menu-categories__subtitle">Домашний текстиль</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Еда и напитки" />
        <span class="buyer-menu-categories__subtitle">Еда и напитки</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Здоровье и медицина" />
        <span class="buyer-menu-categories__subtitle">Здоровье и медицина</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Красота" />
        <span class="buyer-menu-categories__subtitle">Красота</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Мебель" />
        <span class="buyer-menu-categories__subtitle">Мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Модные аксессуары" />
        <span class="buyer-menu-categories__subtitle">Модные аксессуары</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Обувь" />
        <span class="buyer-menu-categories__subtitle">Обувь</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Одежда" />
        <span class="buyer-menu-categories__subtitle">Одежда</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Подарки и ремесла" />
        <span class="buyer-menu-categories__subtitle">Подарки и ремесла</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Свет и освещение" />
        <span class="buyer-menu-categories__subtitle">Свет и освещение</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Спорт и развлечения" />
        <span class="buyer-menu-categories__subtitle">Спорт и развлечения</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Часы, украшения и очки" />
        <span class="buyer-menu-categories__subtitle"
          >Часы, украшения и очки</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Школьные и офисные принадлежности"
        />
        <span class="buyer-menu-categories__subtitle"
          >Школьные и офисные принадлежности</span
        >
      </label>
    </li>
    <li class="d-product-forms__dropdown bmc-title">
      <span class="dividing-line"></span>
    </li>
    <li class="buyer-menu-categories__dropdown bmc-title">
      <h4>Промышленные товары</h4>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Безопасность" />
        <span class="buyer-menu-categories__subtitle">Безопасность</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бизнес-услуги" />
        <span class="buyer-menu-categories__subtitle">Бизнес-услуги</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Инструменты и оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Инструменты и оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="коммерческая мебель" />
        <span class="buyer-menu-categories__subtitle">коммерческая мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Коммерческое сервисное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Коммерческое сервисное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Металлы и сплавы" />
        <span class="buyer-menu-categories__subtitle">Металлы и сплавы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Промышленное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Промышленное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Резина и пластмассы" />
        <span class="buyer-menu-categories__subtitle">Резина и пластмассы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Сельское хозяйство" />
        <span class="buyer-menu-categories__subtitle">Сельское хозяйство</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Строительство и недвижимость"
        />
        <span class="buyer-menu-categories__subtitle"
          >Строительство и недвижимость</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Ткань и текстильное сырье"
        />
        <span class="buyer-menu-categories__subtitle"
          >Ткань и текстильное сырье</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Упаковка и печать" />
        <span class="buyer-menu-categories__subtitle">Упаковка и печать</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Услуги по изготовлению" />
        <span class="buyer-menu-categories__subtitle"
          >Услуги по изготовлению</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Химикаты" />
        <span class="buyer-menu-categories__subtitle">Химикаты</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электронные компоненты, аксессуары и телекоммуникации"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электронные компоненты, аксессуары и телекоммуникации</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электрооборудование и расходные материалы"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электрооборудование и расходные материалы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Энергетические химикаты" />
        <span class="buyer-menu-categories__subtitle"
          >Энергетические химикаты</span
        >
      </label>
    </li>
  </ul>
  <div class="buyer-menu-categories__dropdown-blur"></div>
</div>
{# --------------------------------------------- #}
<div class="d-product-forms d-mp-height">
  <div class="d-product-forms__wrapper dropdown-menu_wraps">
    <div class="d-product-forms__header"></div>
    <ul class="d-product-forms__select feed_select">
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-store"></use>
          </svg>
          <span>главная</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-list"></use>
          </svg>
          <span>каталог</span>

          <a href="#" class="d-product-forms__link">
            <svg class="icon deg90" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </label>
      </li>
      <li class="d-product-forms__dropdown">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Покупки</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-shopping"></use>
          </svg>
          <span>корзина</span>
          <span class="d-product-forms__count">5</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-bookmark"></use>
          </svg>
          <span>избранное</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Продажи</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-grid"></use>
          </svg>
          <span>сводка</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-box"></use>
          </svg>
          <span>товары</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
          <span class="d-product-forms__count">99+</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-group"></use>
          </svg>
          <span>покупатели</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-gift"></use>
          </svg>
          <span>купоны</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-chart"></use>
          </svg>
          <span>статистика</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-settings"></use>
          </svg>
          <span>Настройки</span>
        </label>
      </li>
    </ul>
    <div class="d-product-forms__blur"></div>
  </div>
</div>

{% endblock %} {% block footer %}
<div class="footer-wr-full">
  {% include "../components/single_footer.twig" %}
</div>
{% endblock %}
