{% extends "../index_single.twig" %} {% set title = 'Seller orders' %} {# -----
main page ---- #} {% block content %}

<div class="seller-p-table">
  <div class="seller-p-table__wrapper">
    <div class="seller-p-table__header mb-1">
      <div class="seller-p-table__purchases">
        <a href="#" class="seller-p-table__purchase">
          <span>
            Продажи
            <svg class="icon deg90" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
        <h2 class="seller-p-table__subtitle">Заказы</h2>
      </div>
      <div class="seller-p-table__filtres">
        {# --- product filter --- #}
        <div class="seller-p-table__dropdown-list dropdown is-right">
          <a
            href="#"
            class="dropdown-toggle feed_target is_rubber"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="">
              <span>московская игротека</span>
            </div>
          </a>
          <div class="dropdown-menu_wrap">
            <ul class="dropdown-menu feed_select">
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-diagram"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="все" />
                  <span>все</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-success"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="получен" />
                  <span>получен</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-dislike"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="рекламация" />
                  <span>рекламация</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-truck"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="отправлен" />
                  <span>отправлен</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-partially"></use>
                  </svg>
                  <input
                    type="radio"
                    name="feed_check"
                    value="частичная отгрузка"
                  />
                  <span>частичная отгрузка</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use
                      href="/assets/sprite/sprite.svg#icon-loader-progress"
                    ></use>
                  </svg>
                  <input type="radio" name="feed_check" value="в обработке" />
                  <span>в обработке</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-money-off"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="не оплачен" />
                  <span>не оплачен</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-x-mark"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="отменен" />
                  <span>отменен</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        {# --- product filter --- #} {# ------ time filter ---- #}
        <div class="seller-p-table__dropdown-list dropdown is-right">
          <a
            href="#"
            class="dropdown-toggle feed_target is_rubber"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="">
              <span>все</span>
            </div>
          </a>
          <div class="dropdown-menu_wrap">
            <ul class="dropdown-menu feed_select">
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
                  </svg>
                  <input
                    type="radio"
                    name="feed_check"
                    value="за месяц"
                    checked=""
                  />
                  <span>за месяц</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
                  </svg>
                  <input type="radio" name="feed_check" value="по год" />
                  <span>за год</span>
                </label>
              </li>
              <li class="dropdown custom-radio edit_link open">
                <label>
                  <input type="radio" name="feed_check" value="за всё время" />
                  <span>за всё время</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        {# --- end time filter --- #}
      </div>
    </div>

    {# --- table ---- #}
    <div class="seller-p-tab__table-wrapper scroller mb-1">
      <figure>
        <table class="seller-p-tab__table">
          <tbody class="seller-p-tab__tbody">
            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st">
                <div class="seller-p-tab__subtitle-table">
                  <div class="flex align-center sel-p-more">
                    <button type="button">
                      <svg role="img" class="icon">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="elem-s-line">Заказ</div>
                </div>
              </td>
              <td class="seller-p-tab__product sel-p-dates">
                <div class="seller-p-tab__subtitle-table elem-s-line">
                  дата
                  <svg role="img" class="icon">
                    <use href="/assets/sprite/sprite.svg#icon-down"></use>
                  </svg>
                </div>
              </td>
              <td class="seller-p-tab__product sel-p-status">
                <div class="seller-p-tab__subtitle-table elem-s-line">
                  статус
                </div>
              </td>
              <td class="seller-p-tab__product sel-p-delivery">
                <div class="seller-p-tab__subtitle-table elem-s-line">
                  доставка
                </div>
              </td>
              <td class="seller-p-tab__product sel-p-pay">
                <div class="seller-p-tab__subtitle-table elem-s-line">
                  оплата
                </div>
              </td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__subtitle-table elem-s-line">
                  сумма, ₽
                </div>
              </td>
            </tr>
            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-send ttu">
                    <span>обработка</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Москва</div>
                </div>
              </td>
              <td class="seller-p-tab__product"><div>Карта</div></td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale"></div>
                <div class="seller-p-tab__price">9 060</div>
              </td>
            </tr>

            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-nopay ttu">
                    <span>задержка платежа</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Москва</div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div>Банковский платеж</div>
              </td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale">16400</div>
                <div class="seller-p-tab__price">2860</div>
              </td>
            </tr>

            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-received ttu">
                    <span>Выполнен</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Москва</div>
                </div>
              </td>
              <td class="seller-p-tab__product"><div>Карта</div></td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale"></div>
                <div class="seller-p-tab__price">9 060</div>
              </td>
            </tr>

            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-nopay ttu">
                    <span>возврат</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Сергиев Посад</div>
                </div>
              </td>
              <td class="seller-p-tab__product"><div>Карта</div></td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale"></div>
                <div class="seller-p-tab__price">9 060</div>
              </td>
            </tr>

            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-ad ttu">
                    <span>отмена</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Москва</div>
                </div>
              </td>
              <td class="seller-p-tab__product"><div>Карта</div></td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale"></div>
                <div class="seller-p-tab__price">9 060</div>
              </td>
            </tr>

            <tr class="seller-p-tab__product-items">
              <td class="seller-p-tab__product sel-p-link link-sel-st d-flex">
                <label class="flex align-center sel-p-more">
                  <input
                    class="seller-p-tab__real-check"
                    type="checkbox"
                    name="choice-link-name"
                  />
                  <span class="seller-p-tab__custom"></span>
                </label>
                <div class="seller-p-tab__products-wrap">
                  <div class="seller-p-tab__description">
                    <a href="#" class="seller-p-tab__prod-name">
                      № 90 Владимир Никишин
                    </a>
                  </div>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <span class="seller-p-tab__date-text">27 фев</span>
              </td>
              <td class="seller-p-tab__product">
                <div class="sel-data-grid__status">
                  <button class="status-process ttu">
                    <span>приостановлен</span>
                    <svg role="img" class="icon deg180">
                      <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="seller-p-tab__product">
                <div class="seller-p-tab__block">
                  <div class="seller-p-tab__num">Орехово-Зуево</div>
                </div>
              </td>
              <td class="seller-p-tab__product"><div>Карта</div></td>
              <td class="seller-p-tab__product sel-p-sum">
                <div class="seller-p-tab__sale"></div>
                <div class="seller-p-tab__price">9 060</div>
              </td>
            </tr>
          </tbody>
        </table>
      </figure>
    </div>
    {# --- end table --- #}
  </div>
</div>
{# ---------------------------------- modals ----------------------- #}
<div class="seller-order edit-page">
  <div class="seller-order__wrapper">
    <div class="seller-order__container ovflw-a">
      <div class="seller-order__content">
        <div class="seller-order__header"></div>
        {# ------ header ----- #}
        <div class="seller-order__header-block mb-2">
          <h2 class="seller-order__title">Заказ № <span>90</span></h2>
          {# ---- list choice order ----- #}
          <ul class="seller-order__list">
            <li class="seller-order__item active-order">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>главное</span>
              </button>
            </li>
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>оплата</span>
              </button>
            </li>
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>сообщения</span>
              </button>
            </li>
          </ul>
          {# ----- end list order ----- #}
        </div>
        {# ----- end header ----- #}
        <div class="seller-order__line"></div>
        <form class="seller-order__form">
          {# ---- choice product block ---- #}
          <div class="seller-order__block mb-1">
            <div class="seller-order__info info-sel-or">
              <div class="info-sel-or__sum-title">
                <h4>сумма</h4>
              </div>
              <div class="info-sel-or__sum">
                <h3>9 060,00 ₽</h3>
              </div>
              <div class="info-sel-or__status-text">
                <h4>статус</h4>
              </div>
              <div class="info-sel-or__status">
                <button class="info-sel-or__choice status-seller">
                  <span>обработка</span>
                  <svg role="img" class="icon deg180">
                    <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {# --------- #} {# ---- choice product block ---- #}
          <div class="seller-order__block mb-1">
            <div class="seller-order__info info-sel-or">
              <div class="info-sel-or__sum-title">
                <h4>покупатель</h4>
              </div>
              <div class="info-sel-or__sum">
                <button class="info-sel-or__choice">
                  <span>Владимир Никишин</span>
                  <svg role="img" class="icon deg180">
                    <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
              <div class="info-sel-or__status-text">
                <h4>дата</h4>
              </div>
              <div class="info-sel-or__status">
                <button class="info-sel-or__choice">
                  <h3><span>08.03.2022</span> <span>16:44</span></h3>
                  <svg role="img" class="icon deg180">
                    <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {# ------ line ------ #}
          <div class="seller-order__line"></div>

          {# --------- #} {# ---- choice product block ---- #}
          <div class="seller-order__block">
            <div class="seller-order__info info-sel-address">
              {# ------- block address ------ #}
              <div class="info-sel-address__container">
                <div class="info-sel-address__address-titles">
                  <h4 class="info-sel-address__address-title">
                    Адрес доставки
                  </h4>
                  <button
                    class="is-ghost"
                    type="button"
                    data-bs-toggle=""
                    data-bs-target=""
                    aria-label="editProfile"
                  >
                    <svg class="icon" aria-hidden="true" focusable="false">
                      <use
                        href="/assets/sprite/sprite.svg#icon-editProfile"
                      ></use>
                    </svg>
                  </button>
                </div>
                <div class="info-sel-address__address">
                  <span
                    >Владимир Никишин Большая Переяславская 15, кв. 62 Москва,
                    129110</span
                  >
                </div>
              </div>
              {# ------- block address ------ #}
              <div class="info-sel-address__container">
                <div class="info-sel-address__address-titles">
                  <h4 class="info-sel-address__address-title">контакты</h4>
                  <button
                    class="is-ghost"
                    type="button"
                    data-bs-toggle=""
                    data-bs-target=""
                    aria-label="editProfile"
                  >
                    <svg class="icon" aria-hidden="true" focusable="false">
                      <use
                        href="/assets/sprite/sprite.svg#icon-editProfile"
                      ></use>
                    </svg>
                  </button>
                </div>
                <div class="info-sel-address__address">
                  <ul class="info-sel-address__links">
                    <li>
                      <a href="tel:+79257187967">
                        <svg class="icon" aria-hidden="true" focusable="false">
                          <use
                            href="/assets/sprite/sprite.svg#icon-phone"
                          ></use>
                        </svg>
                        <span>+7 (925) 718-79-67</span>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:nickysheen@yandex.ru">
                        <svg class="icon" aria-hidden="true" focusable="false">
                          <use
                            href="/assets/sprite/sprite.svg#icon-email"
                          ></use>
                        </svg>
                        <span>nickysheen@yandex.ru</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {# ------ line ------ #}
          <div class="seller-order__line"></div>
          {# --------- #} {# ----- block seller data order ------ #}
          <div class="seller-order__data sel-data-order">
            <div class="sel-data-order__wrapper">
              <ul class="sel-data-order__list">
                <li class="sel-data-order__row sel-name-order">
                  <h3 class="sel-name-order__title">товар</h3>
                  <h3 class="sel-name-order__title">цена, ₽</h3>
                  <h3 class="sel-name-order__title">к-во, шт</h3>
                  <h3 class="sel-name-order__title">сумма, ₽</h3>
                </li>
                <li class="sel-data-order__row sel-name-order">
                  <h4 class="sel-name-order__title">Футболка</h4>
                  <span class="sel-name-order__title">1 360</span>
                  <span class="sel-name-order__title">3</span>
                  <span class="sel-name-order__title">4080</span>
                </li>
                <li class="sel-data-order__row sel-name-order">
                  <h4 class="sel-name-order__title">Ремень</h4>
                  <span class="sel-name-order__title">3020</span>
                  <span class="sel-name-order__title">1</span>
                  <span class="sel-name-order__title">3020</span>
                </li>
                <li class="sel-data-order__row sel-name-result">
                  <h4 class="sel-name-order__title">Подытог</h4>
                  <span class="sel-name-order__title">6100</span>
                </li>
                <li class="sel-data-order__row sel-name-result">
                  <h4 class="sel-name-order__title">Доставка</h4>
                  <span class="sel-name-order__title">500</span>
                </li>
                <li class="sel-data-order__row sel-name-result">
                  <h4 class="sel-name-order__title">Купон</h4>
                  <span class="sel-name-order__title">-660</span>
                </li>
                <li class="sel-data-order__row sel-name-result">
                  <h4 class="sel-name-order__title">Комиссия ЮКассы</h4>
                  <span class="sel-name-order__title">-165</span>
                </li>
                <li class="sel-data-order__row sel-name-result">
                  <h2 class="sel-name-order__title">Итого</h2>
                  <h2 class="sel-name-order__title">5775</h2>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    {# ----- footer ----- #}
    <footer class="seller-product-footer">
      <div class="seller-product-footer__wrapper">
        <div class="seller-product-footer__buttons">
          <button class="seller-product-footer__btn btn" type="button">
            <span class="label is-bolder">отмена</span>
          </button>

          <div class="seller-product-footer__btn-container">
            <button
              class="seller-product-footer__btn-cancel btn"
              disabled
              type="button"
            >
              <svg class="icon is-left" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-cart"></use>
              </svg>
              <span class="label is-bolder">удалить</span>
            </button>
            <button
              class="seller-product-footer__btn-complete btn btn-primary"
              disabled
              type="button"
            >
              <span class="label is-bolder">готово</span>
            </button>
          </div>
        </div>
      </div>
    </footer>
    {# -------- end footer ----- #}
  </div>
</div>

{# ------- seller page pay ------- #}
<br />
<br />
<br />
<div class="seller-order edit-page">
  <div class="seller-order__wrapper">
    <div class="seller-order__container ovflw-a">
      <div class="seller-order__content">
        <div class="seller-order__header"></div>
        {# ------ header ----- #}
        <div class="seller-order__header-block mb-2">
          <h2 class="seller-order__title">Заказ № <span>90</span></h2>
          {# ---- list choice order ----- #}
          <ul class="seller-order__list">
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>главное</span>
              </button>
            </li>
            <li class="seller-order__item active-order">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>оплата</span>
              </button>
            </li>
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>сообщения</span>
              </button>
            </li>
          </ul>
          {# ----- end list order ----- #}
        </div>
        {# ----- end header ----- #}
        <div class="seller-order__info-user user-info-product">
          <ul class="user-info-product__list">
            <li class="user-info-product__item info-sel-or__sum-title">
              <h4>сумма</h4>
              <span>9 060,00 ₽</span>
            </li>
            <li class="user-info-product__item">
              <h4>дата</h4>
              <span>9 марта 2022 13:46</span>
            </li>
            <li class="user-info-product__item">
              <h4>плательщик</h4>
              <span>VLADIMIR NIKISHIN</span>
            </li>
            <li class="user-info-product__item">
              <h4>метод</h4>
              <span>Банковская карта (ЮKassа)</span>
            </li>
            <li class="user-info-product__item">
              <h4>ID платежа</h4>
              <span>23876247-000-5000-9000-1c0eae7190b</span>
            </li>
            <li class="user-info-product__item">
              <h4>IP клиента</h4>
              <span>79.140.150.95</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {# ----- footer ----- #}
    <footer class="seller-product-footer">
      <div class="seller-product-footer__wrapper">
        <div class="seller-product-footer__buttons">
          <button class="seller-product-footer__btn btn" type="button">
            <span class="label is-bolder">отмена</span>
          </button>

          <div class="seller-product-footer__btn-container">
            <button
              class="seller-product-footer__btn-cancel btn"
              disabled
              type="button"
            >
              <svg class="icon is-left" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-cart"></use>
              </svg>
              <span class="label is-bolder col-del-seller">удалить</span>
            </button>
            <button
              class="seller-product-footer__btn-complete btn btn-primary"
              disabled
              type="button"
            >
              <span class="label is-bolder">готово</span>
            </button>
          </div>
        </div>
      </div>
    </footer>
    {# -------- end footer ----- #}
  </div>
</div>
{# ------- seller page messages ------- #}
<br />
<br />
<br />
<div class="seller-order edit-page">
  <div class="seller-order__wrapper">
    <div class="seller-order__container ovflw-a">
      <div class="seller-order__content">
        <div class="seller-order__header"></div>
        {# ------ header ----- #}
        <div class="seller-order__header-block mb-2">
          <h2 class="seller-order__title">Заказ № <span>90</span></h2>
          {# ---- list choice order ----- #}
          <ul class="seller-order__list">
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>главное</span>
              </button>
            </li>
            <li class="seller-order__item">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>оплата</span>
              </button>
            </li>
            <li class="seller-order__item active-order">
              <button
                class="btn is-ghost"
                type="button"
                aria-label="Edit order"
              >
                <span>сообщения</span>
              </button>
            </li>
          </ul>
          {# ----- end list order ----- #}
        </div>
        {# ----- end header ----- #}
        <div class="seller-order__info-user seller-order-chat">
          {# ------- messages ------ #}
          <div class="seller-order-chat__messages">
            {# ----- сообщения службы поддержки ----- #}
            <div class="seller-order-chat__message seller-message-sup">
              <div class="seller-message-sup__data">
                <span class="seller-message-sup__text"
                  >Транзакция по ЮКассе завершена:
                  23876247-000-5000-9000-1c0eae7190b. Статус заказа изменен с
                  «Ожидается оплата» на «Обработку».</span
                >
                <span class="seller-message-sup__time">12:38</span>
              </div>
            </div>
            {# ----- сообщения службы поддержки ----- #}
            <div class="seller-order-chat__message seller-message-sup">
              <div class="seller-message-sup__data">
                <span class="seller-message-sup__text"
                  >Запас уменьшен. Ремень муж. Columbia: 92 →91</span
                >
                <span class="seller-message-sup__time">12:38</span>
              </div>
            </div>
            {# ----- сообщения пользователя ----- #}
            <div class="seller-order-chat__message seller-message-user">
              <div class="seller-message-user__data">
                <span class="seller-message-user__text"
                  >Покупатель был пьян.</span
                >
                <span class="seller-message-user__time">12:37</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# ----- footer ----- #}
    <footer class="seller-product-footer">
      <div class="seller-product-footer__wrapper">
        <div class="seller-product-footer__buttons">
          <button class="seller-product-footer__btn btn" type="button">
            <span class="label is-bolder">отмена</span>
          </button>
          <div class="seller-product-footer__footer-container">
            <textarea
              id=""
              class="seller-product-footer__text-area"
              placeholder="Добавить заметку"
            ></textarea>
            <button class="seller-product-footer__send" type="button">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-send"></use>
              </svg>
            </button>
          </div>
          <button
            class="seller-product-footer__btn-complete btn btn-primary"
            disabled
            type="button"
          >
            <span class="label is-bolder">готово</span>
          </button>
        </div>
      </div>
    </footer>
    {# -------- end footer ----- #}
  </div>
</div>

{# ------------------------- details -------------------------- #}
<div class="buyer-menu-categories__dropdown-menu">
  <div class="buyer-menu-categories__dropdown-header"></div>
  <ul class="buyer-menu-categories__select">
    <li class="buyer-menu-categories__dropdown bmc-title">
      <a href="#" class="buyer-menu-categories__link">
        <svg class="icon deg270" aria-hidden="true" focusable="false">
          <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
        </svg>
        <span>назад</span>
      </a>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Автозапчасти,&nbsp;аксессуары"
        />
        <span class="buyer-menu-categories__subtitle"
          >Автозапчасти,&nbsp;аксессуары</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Багаж, сумки и чехлы" />
        <span class="buyer-menu-categories__subtitle"
          >Багаж, сумки и чехлы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая техника" />
        <span class="buyer-menu-categories__subtitle">Бытовая техника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бытовая электроника" />
        <span class="buyer-menu-categories__subtitle">Бытовая электроника</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Детский мир" />
        <span class="buyer-menu-categories__subtitle">Детский мир</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Дом и сад" />
        <span class="buyer-menu-categories__subtitle">Дом и сад</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Домашний текстиль" />
        <span class="buyer-menu-categories__subtitle">Домашний текстиль</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Еда и напитки" />
        <span class="buyer-menu-categories__subtitle">Еда и напитки</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Здоровье и медицина" />
        <span class="buyer-menu-categories__subtitle">Здоровье и медицина</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Красота" />
        <span class="buyer-menu-categories__subtitle">Красота</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Мебель" />
        <span class="buyer-menu-categories__subtitle">Мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Модные аксессуары" />
        <span class="buyer-menu-categories__subtitle">Модные аксессуары</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Обувь" />
        <span class="buyer-menu-categories__subtitle">Обувь</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Одежда" />
        <span class="buyer-menu-categories__subtitle">Одежда</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Подарки и ремесла" />
        <span class="buyer-menu-categories__subtitle">Подарки и ремесла</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Свет и освещение" />
        <span class="buyer-menu-categories__subtitle">Свет и освещение</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Спорт и развлечения" />
        <span class="buyer-menu-categories__subtitle">Спорт и развлечения</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Часы, украшения и очки" />
        <span class="buyer-menu-categories__subtitle"
          >Часы, украшения и очки</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Школьные и офисные принадлежности"
        />
        <span class="buyer-menu-categories__subtitle"
          >Школьные и офисные принадлежности</span
        >
      </label>
    </li>
    <li class="d-product-forms__dropdown bmc-title">
      <span class="dividing-line"></span>
    </li>
    <li class="buyer-menu-categories__dropdown bmc-title">
      <h4>Промышленные товары</h4>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Безопасность" />
        <span class="buyer-menu-categories__subtitle">Безопасность</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Бизнес-услуги" />
        <span class="buyer-menu-categories__subtitle">Бизнес-услуги</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Инструменты и&nbsp;оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Инструменты и&nbsp;оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="коммерческая мебель" />
        <span class="buyer-menu-categories__subtitle">коммерческая мебель</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Коммерческое сервисное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Коммерческое сервисное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Металлы и сплавы" />
        <span class="buyer-menu-categories__subtitle">Металлы и сплавы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Промышленное оборудование"
        />
        <span class="buyer-menu-categories__subtitle"
          >Промышленное оборудование</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Резина и пластмассы" />
        <span class="buyer-menu-categories__subtitle">Резина и пластмассы</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Сельское хозяйство" />
        <span class="buyer-menu-categories__subtitle">Сельское хозяйство</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Строительство и&nbsp;недвижимость"
        />
        <span class="buyer-menu-categories__subtitle"
          >Строительство и&nbsp;недвижимость</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Ткань и текстильное сырье"
        />
        <span class="buyer-menu-categories__subtitle"
          >Ткань и текстильное сырье</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Упаковка и печать" />
        <span class="buyer-menu-categories__subtitle">Упаковка и печать</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Услуги по изготовлению" />
        <span class="buyer-menu-categories__subtitle"
          >Услуги по изготовлению</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Химикаты" />
        <span class="buyer-menu-categories__subtitle">Химикаты</span>
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электронные компоненты, аксессуары и&nbsp;телекоммуникации"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электронные компоненты, аксессуары и&nbsp;телекоммуникации</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input
          type="radio"
          name="feed_check"
          value="Электрооборудование и&nbsp;расходные материалы"
        />
        <span class="buyer-menu-categories__subtitle"
          >Электрооборудование и&nbsp;расходные материалы</span
        >
      </label>
    </li>
    <li class="buyer-menu-categories__dropdown">
      <label>
        <input type="radio" name="feed_check" value="Энергетические химикаты" />
        <span class="buyer-menu-categories__subtitle"
          >Энергетические химикаты</span
        >
      </label>
    </li>
  </ul>
  <div class="buyer-menu-categories__dropdown-blur"></div>
</div>
{# -------------------------------------- #}
<div class="d-product-forms d-mp-height ovflw-a">
  <div class="d-product-forms__wrapper dropdown-menu_wraps">
    <div class="d-product-forms__header"></div>
    <ul class="d-product-forms__select feed_select">
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-store"></use>
          </svg>
          <span>главная</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-list"></use>
          </svg>
          <span>каталог</span>

          <a href="#" class="d-product-forms__link">
            <svg class="icon deg90" aria-hidden="true" focusable="false">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </label>
      </li>
      <li class="d-product-forms__dropdown">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Покупки</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-shopping"></use>
          </svg>
          <span>корзина</span>
          <span class="d-product-forms__count">5</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-bookmark"></use>
          </svg>
          <span>избранное</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <span class="dividing-line"></span>
      </li>
      <li class="d-product-forms__dropdown">
        <h4>Продажи</h4>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-grid"></use>
          </svg>
          <span>сводка</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-box"></use>
          </svg>
          <span>товары</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-arrows-down-up"></use>
          </svg>
          <span>заказы</span>
          <span class="d-product-forms__count">99+</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-group"></use>
          </svg>
          <span>покупатели</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-gift"></use>
          </svg>
          <span>купоны</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-chart"></use>
          </svg>
          <span>статистика</span>
        </label>
      </li>
      <li class="d-product-forms__dropdown custom-radio edit_link">
        <label>
          <svg class="icon" aria-hidden="true" focusable="false">
            <use href="/assets/sprite/sprite.svg#icon-settings"></use>
          </svg>
          <span>Настройки</span>
        </label>
      </li>
    </ul>
    <div class="d-product-forms__blur"></div>
  </div>
</div>
{# ------- #} {# ---------------------- search filter ------------------- #}
<div class="d-product-categories">
  <div class="d-product-categories__container">
    <form class="d-product-categories__form">
      <div class="d-product-categories__wrapper">
        <div class="d-product-categories__block mb-2">
          <h4>Категории:</h4>
          <button class="d-product-categories__select" type="button">
            <span>Все</span>
            <svg role="img" class="icon deg180">
              <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="d-product-categories__list"></div>
        <div class="d-product-categories__main mb-2">
          <div class="d-product-categories__block">
            <h4>статус:</h4>
            <button class="d-product-categories__select" type="button">
              <span class="d-product-categories__subtext">Все</span>
              <svg role="img" class="icon deg180">
                <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="d-product-categories__block">
            <h4>период:</h4>
            <label class="flex align-center">
              <input type="datetime-local" name="choice-status" />
              <svg role="img" class="d-product-categories__icon icon">
                <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
              </svg>
            </label>
          </div>
          <div class="d-product-categories__block">
            <label class="flex align-center">
              <input type="datetime-local" name="choice-status" />
              <svg role="img" class="d-product-categories__icon icon">
                <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
              </svg>
            </label>
          </div>
        </div>

        <div class="d-product-categories__buttons">
          <label
            for="auth-questions-item"
            class="flex align-center near-block-label"
          >
            <input
              id="auth-questions-item"
              type="checkbox"
              name="choice-status"
              checked=""
            />
            <span class="checkout-payment__status">Только в своих товарах</span>
          </label>

          <button
            class="d-product-categories__btn-complete btn btn-primary"
            disabled=""
            type="button"
          >
            <span class="label is-bolder">найти</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{# ------------- #}
<div class="d-product-categories">
  <div class="d-product-categories__container">
    <form class="d-product-categories__form">
      <div class="d-product-categories__wrapper">
        <div class="d-product-categories__block">
          <label class="d-product-categories__label mb-1">
            <span class="ttu">Категории:</span>
            <input
              type="text"
              class="d-product-categories__input"
              required=""
              placeholder="Выберите"
            />
            <button class="d-product-categories__btn-arrow" type="button">
              <svg role="img" class="icon deg180">
                <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </label>
        </div>
        <div class="d-product-categories__list mb-1">
          <div class="d-product-categories__edit">
            <label class="d-product-categories__label-drag ttu"
              ><span>Здравоохранение</span>
            </label>
            <button class="d-product-categories__drag button" type="button">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-sm-remove"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="d-product-categories__main mb-2">
          <div class="d-product-categories__block">
            <h4>статус:</h4>
            <button class="d-product-categories__select" type="button">
              <span class="d-product-categories__subtext">Все</span>
              <svg role="img" class="icon deg180">
                <use href="/assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="d-product-categories__block">
            <h4>период:</h4>
            <label class="flex align-center">
              <input type="datetime-local" name="choice-status" checked="" />
              <svg role="img" class="d-product-categories__icon icon">
                <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
              </svg>
            </label>
          </div>
          <div class="d-product-categories__block">
            <label class="flex align-center">
              <input type="datetime-local" name="choice-status" checked="" />
              <svg role="img" class="d-product-categories__icon icon">
                <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
              </svg>
            </label>
          </div>
        </div>

        <div class="d-product-categories__buttons">
          <label
            for="auth-questions-item"
            class="flex align-center near-block-label"
          >
            <input
              id="auth-questions-item"
              type="checkbox"
              name="choice-status"
              checked=""
            />
            <span class="checkout-payment__status">Только в своих товарах</span>
          </label>

          <button
            class="d-product-categories__btn-complete btn btn-primary"
            disabled=""
            type="button"
          >
            <span class="label is-bolder">найти</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
