@use 'sass:math';

// -----------------------------------------------------------------------------
// LEGACY
// -----------------------------------------------------------------------------
// #region

// MAIN CONTAINERS V1
// #region


// #endregion

// #endregion

// -----------------------------------------------------------------------------
// CONTAINERS
// -----------------------------------------------------------------------------
// #region

%q-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--size-padding-x-container);
  padding-right: var(--size-padding-x-container);
  width: 100%;
}
%q-container-base {
  // we iterate over the map $container-max-widths: save the key to the variable
  // $breakpoint, and save the value to the variable $max-width
  @each $breakpoint, $max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: calc(#{$max-width} + var(--size-padding-x-container) * 2);
    }
  }
}

.wrapper {
    @extend %q-container;
    min-height: 100vh;

  &:not(.home-wrapper, .live-video, .live-audio, .single_entity) {
    @include media-breakpoint-up(md) {
      display: grid;
      align-items: start;
      grid-column-gap: var(--size-gutter-xl);
      grid-row-gap: 2.4rem;
      grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
      grid-template-columns: 11.6rem 1fr;
      grid-template-rows: 12rem 1fr minmax(min-content, max-content);
      padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem) 1fr;
    }
  }

  &.single_entity {
    @include media-breakpoint-up(md) {
      display: grid;
      align-items: start;
      grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
      grid-template-columns: 11.6rem 1fr;
      padding-left: 0;
      grid-template-rows: 0rem 1fr minmax(min-content, max-content);
      grid-column-gap: unset;
      grid-row-gap: unset;
      padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
      padding-right: var(--size-padding-x-container);
      grid-column-gap: var(--size-gutter-xl);
      grid-row-gap: 2.4rem;
      grid-template-rows: 12rem 1fr minmax(min-content, max-content);      
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem) 1fr;
    }
    .main {
      @include media-breakpoint-down(lg) {
          padding: 0 var(--size-gutter-xl) 0 var(--size-gutter-xl);
          &__content{
            &__header {
              &__cover {
                margin: 0 -4rem 0 -4rem;
              }
            }
          }
      }
      @include media-breakpoint-down(md) {
        margin-top: -10rem;
        padding: 0;
        &__content{
            &__header {
              &__cover {
                margin: 0 -2rem 0 -2rem;
              }
            }
          }
      }
    }
  }

  &.live-video {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      display: grid;
      align-items: start;
      grid-template-areas:
        'sidebar main ';
      grid-row-gap: 0;
      grid-template-columns: 11.6rem 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-column-gap: var(--size-gutter-xl);
      grid-template-rows: 12rem 1fr minmax(min-content, max-content);
      grid-template-columns:  1fr  clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem);
      padding-left: var(--size-padding-x-container);
      grid-template-areas:
        'header sidebar '
        'main sidebar '
        'footer sidebar ';
    }
  }

  &.live-audio {
    @include media-breakpoint-up(md) {
      padding-left: 0;
      grid-column-gap: var(--size-gutter-xl);
      display: grid;
      grid-template-areas:
        'sidebar header '
        'sidebar main '
        'sidebar footer ';
      grid-template-rows: 12rem 1fr minmax(min-content, max-content);
      grid-template-columns: 11.6rem  1fr;
    }
    @include media-breakpoint-up(lg) {
      padding-right: 0;
      grid-template-areas:
        'sidebar header toggle '
        'sidebar main toggle '
        'sidebar footer toggle ';
      grid-template-columns: 11.6rem  1fr  clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem);
      grid-row-gap: 2.4rem;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem)  1fr  clamp(27.2rem, #{percentage(math.div(1, 6))}, 32rem);
    }
  }

  &.home-wrapper {
    max-width: 1360px;
    min-height: unset;
  }

}

.primary-nav {
  grid-area: sidebar;
}

.is_audio {
  grid-area: toggle;
  position: fixed;
  transition: all 0.4s ease;

  @include media-breakpoint-up(lg) {
    position: unset;
  }
}

.main {
  grid-area: main;
  background-color: var(--color-background-base);
  width: 100%;
  margin-top: 5rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  
  &__playlist-table {
    margin-top: $size-5;
    margin-bottom: $size-3;
    tbody {
      tr {
        background-color: var(color-background-base);
      }
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      thead {
        display: none;
      }
    }
  }
  &__playlist-paging {
    .paging__list {
      justify-content: flex-end;
    }
  }
}

.live-video {
  .main {
    margin-top: 0;
  }
}
.live-audio {
  .main {
    @include media-breakpoint-up(sm) {
      max-width: 59.2rem;
      margin: auto;
    }
    @include media-breakpoint-up(md) {
      max-width: 69.2rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 79.2rem;
    }
  }
}

.is_aside {
  .main {
    @include media-breakpoint-up(md) {
      --gap: #{$size-3};
      display: grid;
      gap: var(--gap, 1.6rem);
      grid-template-columns: repeat(var(--columns, 12), 1fr);
      margin-right: auto;
      margin-left: auto;
    }    

    @include media-breakpoint-up(xl) {
      max-width: 100.8rem;

    }
  }
  .main__content {
    margin-bottom: 7.2rem;
    max-width: 100%;
    margin-bottom: 0;
    grid-column: 1/span 12;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      grid-column: 1/span 8;
    }
  }  
}

.is_single {
  .main {
    @include media-breakpoint-up(lg) {
      display: grid;
      gap: var(--gap, 1.6rem);
      grid-template-columns: repeat(var(--columns, 12), 1fr);
      .main__content {
            grid-column: 3/span 8;
      }
    }
  }
}


.main__sidebar {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    grid-column: 9/span 4
  }
}

.footer {
  grid-area: footer;
}



// -----------------------------------------------------------------------------
// CSS GRID
// -----------------------------------------------------------------------------
// #region

// @see layout.md

@mixin grid() {
  display: grid;
  gap: var(--gap, #{$size-2});
  grid-template-columns: repeat(var(--columns, 12), 1fr);
  // grid-template-rows: repeat(var(--rows, 1), auto);
}
.tmpBorder {
    opacity: 0.02;
    border-radius: 6px;
    animation: background 1s infinite alternate;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}