.video-js .vjs-time-control {
  @extend %small;
  
  @include flex(none);
  line-height: 3em;
  width: auto;
  align-self: center;
  height: auto;
}

.vjs-live .vjs-time-control {
  display: block;
}

// We need the extra specificity that referencing .vjs-no-flex provides.
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  display: block;
  margin-left: $size-2 - 1rem;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  display: block;
  margin-right: $size-2;
}

.vjs-time-divider {
  display: block;
  line-height: 3em;
  margin: 0 4px;
}

.vjs-live .vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: block;
}

.video-js.is-sm:not(.vjs-fullscreen) {
  .vjs-time-control, .vjs-time-divider {
    height: $size-4;
    line-height: $size-4;
  }

  .vjs-duration {
    margin-right: $size-1;
  }
}