<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title}}</title>
    
    <link rel="stylesheet" href="/css/project.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"
  		integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  		crossorigin="anonymous"></script>
    <script src="/src/js/qwerty/blog.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header" id="header">
			<a class="header__logo logo" href="/src/pages/home/">
				<img class="logo__mark" src="/src/base/graphics/logo/logomark.svg" width="48" height="48" alt="{% block title %}{% endblock %}">
			    <div class="logo__copy">			    	
				    <div class="tagline">Social movement of entrepreneurs</div>
			    </div>
			</a>

			<form class="header__search" id="header-search-form" action="/search" role="search" onsubmit="return false;">
				<div class="form__item">
					<input class="form__control" id="header-search-input" name="blogsearch" type="search" dir="auto" autocomplete="off" aria-label="within mybusines.app" placeholder="Search">

					<button class="header__search-submit" id="header-search-submit" type="submit" aria-label="Submit Search">
						<svg class="icon" aria-hidden="true" focusable="false">
							<use href="/src/base/graphics/sprite.svg#icon-search"></use>
						</svg>
					</button>
				</div>
			</form>

			<ul class="header__menu" id="header-menu">
			    <li class="header__notify">
				  	<button type="button" data-toggle="modal" data-target="#modal-notify">	        
			        	<svg class="icon" aria-hidden="true" focusable="false">
					      	<use href="/src/base/graphics/sprite.svg#icon-bell"></use>
					  	</svg>
					  	<div id="header__notify-count" class="header__notify-label active">1</div>
				  	</button>
			    </li>
				<li class="dropdown header__user is-on">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"aria-expanded="false">
						<div class="header_photo">
							<img src="/src/images/profile_photo.png" alt="Владимир Никишин">
						</div>
						<div class="header__photo-is_online">	        
				        	<svg class="icon" aria-hidden="true" focusable="false">
						      	<use href="/src/base/graphics/sprite.svg#icon-check"></use>
						  	</svg>
						</div>
						<span>Владимир</span>
					</a>
					{% include "components/profile.twig" %}
				</li>    
			    <li class="header__language-toggle dropdown">
			  		<button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        	<svg class="icon" aria-hidden="true" focusable="false">
					      	<use href="/src/base/graphics/flags.svg#icon-flag-ru"></use>
					  	</svg>
			  		</button>
			  		{% include "components/languages.twig" %}

				</li>
				<li class="has-search-button">
					<a class="btn is-compact" href="/ru/search" role="button" data-search-btn="" aria-haspopup="true" aria-label="Submit Search">
						<svg class="icon" aria-hidden="true" focusable="false">
							<use href="/src/base/graphics/sprite.svg#icon-search"></use>
						</svg>
					</a>
				</li>
			</ul>
        </div>

        <div class="main">
	        <div class="main__content">        	
	        	{% block content %}
	        	{% endblock %}
	        </div>
	        <div class="main__sidebar">    	
	        	{% block sidebar %}
	        	{% endblock %}
	        </div>
        </div>

        <nav class="primary-nav">
        	<a class="primary-nav__logo logo" href="/">
			    <img class="logo__mark" src="/src/base/graphics/logo/logomark.svg" width="48" height="48" alt="{% block title %}{% endblock %}">
			    <div class="logo__copy">			    	
				    <div class="tagline">Social movement of entrepreneurs</div>
			    </div>
		  	</a>

            <ul class="menu" role="menu">
                <li class="menu__item is-mypage">
                	<a class="menu__link active" href="/twig/page/mypage/" role="menuitem">
		                <svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-home"></use>
		                </svg>
	                	<span class="label">My page</span>
               	 	</a>
                </li>
                <li class="menu__item is-news">
                	<a class="menu__link" href="/twig/page/news/" role="menuitem">
		                <svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-news"></use>
		                </svg>
	                	<span class="label">News</span>
               	 	</a>
                </li>
                <li class="menu__item is-add">
                	<a class="menu__link active" href="javascript:void(0)" role="menuitem">
		                <svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-plus-gray"></use>
		                </svg>
	                	<span class="label">Add</span>
               	 	</a>
                </li>
                <li class="menu__item is-messenger">
                	<a class="menu__link" href="#" role="menuitem">
		                <svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-messenger"></use>
		                </svg>
	                	<span class="label">Messenger</span>
               	 	</a>
                </li>
                <li class="menu__item is-friends">
                	<a class="menu__link" href="/twig/page/friends/" role="menuitem">
		                <svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-friends"></use>
		                </svg>
	                	<span class="label">Friends</span>
               	 	</a>
                </li>
                <li class="menu__item dropdown is-more">
                	<a href="javascript:void(0)" class="menu__link"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menuitem" >
                		<svg class="icon" aria-hidden="true" focusable="false">
		                	<use href="/src/base/graphics/sprite.svg#icon-more"></use>
		                </svg>
		                <span class="label">More</span>
                	</a>
                	<div class="dropdown-menu_wrap">
			            <ul class="dropdown__menu menu" role="menu"aria-label="More">

			                <li class="menu__item is-friends_copy">
			                	<a class="dropdown__link" href="#" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-friends"></use>
					                </svg>
				                	<span class="label">Friends</span>
			               	 	</a>
			                </li>
			                <li class="menu__item is-community">
			                	<a class="dropdown__link" href="/twig/page/community" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-community"></use>
					                </svg>
				                	<span class="label">Community</span>
			               	 	</a>
			                </li>
			                <li class="menu__item is-organizations">
			                	<a class="dropdown__link" href="#" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-organizations"></use>
					                </svg>
				                	<span class="label">Organizations</span>
			               	 	</a>
			                </li>
			                <li class="menu__item is-events">
			                	<a class="dropdown__link" href="#" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-events"></use>
					                </svg>
				                	<span class="label">Events</span>
			               	 	</a>
			                </li>
			                <li class="menu__item is-promotions">
			                	<a class="dropdown__link" href="/twig/page/discount/" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-promotions"></use>
					                </svg>
				                	<span class="label">Promotions</span>
			               	 	</a>
			                </li>
			                <li class="menu__item is-advertising">
			                	<a class="dropdown__link" href="#" role="menuitem">
					                <svg class="icon" aria-hidden="true" focusable="false">
					                	<use href="/src/base/graphics/sprite.svg#icon-advertising"></use>
					                </svg>
				                	<span class="label">Advertising</span>
			               	 	</a>
			                </li>
			            </ul>                		
                	</div>

                </li>
            </ul> 

			<ul class="buttons">
				<li>
					<a class="btn is-primary iconFix" href="/ru/editpost">
						<svg class="icon is-left" aria-hidden="true" focusable="false">
							<use href="/src/base/graphics/sprite.svg#icon-plus"></use>
						</svg>
						Publication
					</a>
				</li>
				<li>
					<a class="btn" href="https://hlaclub.com/?type=rss" target="_blank">
						<svg class="icon is-left" aria-hidden="true" focusable="false">
							<use href="/src/base/graphics/sprite.svg#icon-broadcast"></use>
						</svg>
						Broadcast
					</a>
				</li>
			</ul>         
        </nav>

    </div>
</body>
</html>