.map-container {
	height: $size-1*51;
}

.main__body-table {
    margin-top: $size-7;
    margin-bottom: $size-3;
}
.friend-nearby {
	&__item {
		display: flex;
		align-items:center;
		justify-content:space-between;
		border-bottom: 1px solid hsl(0, 0%, 0%, .12);
		height: $size-7;
		padding: 0 $size-1;
		cursor: pointer;

		&.active {
			background: #F2F6FD;
			color: #2268D8;
		}
	}
}

.find-place-form {
	ul {
	    list-style: none;
	    padding: 0;
	    margin-top: $size-4;

	    li {
	    	margin-bottom: $size-2;
	    }
	}
}

.find-place-map {
    margin-top: $size-4;
    .map-container {
    	margin-top: $size-3;
    	margin-bottom: $size-3;
    }
}