.co-hosts {
	display: flex;
	align-items:center;
	justify-content:center;
	position: absolute;
    bottom: 23rem;
    bottom: $size-1*30;
    left: 0;
    right: 0;
	padding: 0;
	text-align: center;
    color: var(--color-ink-inverse-base);

    @include media-breakpoint-up(sm) {
		justify-content:flex-end;
		margin: -$size-1;
		right: $size-1*6;
		list-style: auto;
    }
    @include media-breakpoint-up(md) {
    	bottom: $size-1*35;
    }
    @include media-breakpoint-up(lg) {
		bottom: $size-1*15;    	
    }

	&__item {
		list-style:none;
		margin: 0 $size-1;
	}
	&__avatar {
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
		border-radius: 10px;
		overflow: hidden;
		img {
			height: $size-1*11;
			width: $size-1*10;
			object-fit:cover;
		}
	}
}