{% extends "../index.twig" %}

{% block title %}Feed + stories{% endblock %}
{% set title = 'News' %}

{% block content %}
	<div class="main__body main__content__body">
		{% include '../components/group_content_header.twig' %}
		{% include '../components/content_stories.twig' %}
		{% include '../components/content_post_full.twig' %}
	</div>
{% endblock %}