{% extends "../index.twig" %}

{% set title = 'Promotions' %}

{% set captionActions = [
	['isIcon', "Sort", 'sort', [
			['alphabet', 'alphabetically'],
			['calendar', 'date added'],
			['likebig', 'popularity']
		], 'Sort by'
	],
	['isIcon', "Add", 'plus']
] %}

{# ['entetyAvatarImg', "entetyTitle", 'entetySubTytle', 'entetyCount']#}
{% set promoList = [
	['/assets/images/osetinskiy.jpg', "рестораны и кафе — от 990 руб.", 'Осетинские пироги от пекарни «ИрПирог»', 'Осетинские пироги — не просто национально… ', 'м. Преображенская площадь'],
	['/assets/images/imageVolga.jpg', "отели — от 10 780 руб.", 'Отдых на берегу реки Волги с трехразовым питанием в отеле…', '«Лунево на Волге» можно назвать одним из…', 'Костромская обл.'],
	['/assets/images/imageCaring.jpg', "развлечения — от 910 руб.", 'Заезд на электрокарте', 'Спецпредложение от многофункционального картинг-центра Egokarting.', 'м. Нижегородская'],
	['/assets/images/imageCaring.jpg', "развлечения — от 910 руб.", 'Заезд на электрокарте', 'Спецпредложение от многофункционального картинг-центра Egokarting.', 'м. Нижегородская'],
	['/assets/images/imageCaring.jpg', "развлечения — от 910 руб.", 'Заезд на электрокарте', 'Спецпредложение от многофункционального картинг-центра Egokarting.', 'м. Нижегородская'],
	['/assets/images/imageCaring.jpg', "развлечения — от 910 руб.", 'Заезд на электрокарте', 'Спецпредложение от многофункционального картинг-центра Egokarting.', 'м. Нижегородская'],
	['/assets/images/imageCaring.jpg', "развлечения — от 910 руб.", 'Заезд на электрокарте', 'Спецпредложение от многофункционального картинг-центра Egokarting.', 'м. Нижегородская'],
] %}

{% set SidebarGroupList = [
	['/assets/images/rzd.png', "RZD", 'Transport', '#'],
	['/assets/images/mybg.jpg', "VTB", 'Finance', '#'],
	['/assets/images/mybg.jpg', "Ozon", 'Trading', '#'],
	['/assets/images/mybg.jpg', "Tilda", 'Technology', '#'],
] %}


{% set countCols = 'column-2' %}

{% block content %}
	{% include '../components/group_content_header.twig' %}
	{% include '../components/group_content_body.twig' %}
{% endblock %}

{% block sidebar %}
	<div class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__item__title">
			My
		</div>
	</div>
	<div class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__item__title">
			I'll go / I'm interested
		</div>
	</div>
{% endblock %}