.story-slider {
	.slick-list {
	    @include media-breakpoint-up(sm) {
	        overflow: visible;
			max-width: 73rem;
	    }
		
	}
	.slick-prev, .slick-next {
		z-index: 1;
	}
	.slick-next {
	    right: 0px;
	}
	.slick-prev:before, 
	.slick-next:before { 
	    font-size: 42px;
	    color: white;
	    height: 48px;
	    width: 48px;
	    background: rgba(0, 0, 0, 0.64);
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-family: monospace;
	    position: relative;
	    top: -15px;
	    display: none;
	    @include media-breakpoint-up(lg) {
	        display: block;
	    }
	}   

	.slick-prev:before { 
		content: "‹"; 
	}

	.slick-next:before { 
		content: "›"; 
	}
	/* the slides */
	.slick-slide {
	  margin: 0 4px;
	}

	/* the parent */
	.slick-list {
	  margin: 0 -4px;
	}

}
.story-card {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 24rem;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;

	img {
	    position: absolute;
	    background-color: white;
	    padding: 0.25rem;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    bottom: 5.4rem;
	    border-radius: 50%;
	    width: 4rem;
	    height: 4rem;
	    z-index: 2;
	}

}
.story-card-content {
	width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    background: rgba(0, 0, 0, 0.64);
    height: 7.2rem;
    padding: 0 14%;
}
