@use 'sass:math';

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

.primary-nav {
  border-top: .1rem solid var(--color-ink-border);
  position: fixed;
  right: 0;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  left: 0;
  width: 100%;
  height: 5.6rem;
  background-color: var(--color-background-base);
  z-index: 2;
  &:-webkit-scrollbar {
      width: 0;
      background-color: #f9f9fd;
  }

  @include media-breakpoint-up(md) {
    border-top: .8rem solid var(--color-ink-border);
    background-color: var(--color-background-alt);
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
    padding-top: $size-line;
    overflow-y: auto;
    position: sticky;
    top: 0;
    right: auto;
    height: 100vh;
    border-image: var(--asset-background-image-section-nav) 8 round round;
  }

  @include media-breakpoint-up(xl) {
    padding:
      $size-4p5
      $size-4p5
      $size-2
      $size-5;
  }

  >.menu {
    @include media-breakpoint-up(md) {
      margin-top: 5.2rem;
      padding-bottom: 2rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 5.6rem;
    }
  }

  .menu {
    display: flex;
    padding: 0;

    @include media-breakpoint-down(md) {
      align-items: stretch;
      // height: $size-7;
    }

    @include media-breakpoint-up(md) {
      flex: 1;
      flex-direction: column;
      height: auto;
    }
  }

  &.primary-nav-home {
    @include media-breakpoint-up(md) {
      position: fixed;
      width: fit-content;
      left: -100%;
      top: 0;
      bottom: 0;
    }
    &.active {
        left: 0;
        transition: ease all 0.3s;
    }
  }

  &.l-nav {
    @include media-breakpoint-up(lg) {
      padding:
        $size-4p5
        $size-2
        $size-2
        $size-2;
    }
  }


  &__logo {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      border-radius: var(--shape-border-radius-base);

      &:focus {
        background: var(--color-background-alt);
      }
    }

    @include media-breakpoint-up(xl) {
      margin-left: -$size-1;
    }
  }
}
// #endregion


// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
.primary-nav.l-nav {
  display: block; 
  @include media-breakpoint-down(md) {
    height: 0;
  }
  .l-nav__tabs {
    // display: none;
  }

  .l-nav__menu {
    @include media-breakpoint-down(md) {
      display: none;
      position: fixed;
      bottom: 3.2rem;
      z-index: 1;
      height: auto;
      left: 0;
      right: 0;
      margin: auto;
      width: 28rem;
      border-radius: var(--shape-border-radius-lg);
      box-shadow: 0px 0px 0px 1px rgba(142, 157, 180, 0.04), 0px 1px 2px rgba(142, 157, 180, 0.14), 0px 2px 4px -1px rgba(142, 157, 180, 0.14), 0px 4px 8px -1px rgba(142, 157, 180, 0.14), 0px 8px 16px -2px rgba(142, 157, 180, 0.14), 0px 16px 32px -2px rgba(142, 157, 180, 0.14), 0px 32px 64px -2px rgba(142, 157, 180, 0.14);
      background-color: var(--color-background-base);
      .menu {
        display: block;
      }
      .l-nav__menu {
        margin-top: 0; 
        padding: 1rem;     
      }
      .menu__link {
          flex-direction: row;

          .icon {
            width: 3rem;
            margin: 1rem;
          }
      }
      .menu__item {
        width: auto;
      }
      .menu__item--bottom {
        position: unset;
      }
    }    
  }
      .l-nav__modals {
        @include media-breakpoint-down(lg) {
          position: fixed;
          bottom: 4rem;
          right: 4rem;
          left: auto;
          width: calc(100% - 20rem);
          border-radius: var(--shape-border-radius-lg);
          background-color: var(--color-background-base);
          min-height: 75vh;

        }
        @include media-breakpoint-down(md) {
          position: fixed;
          overflow-x: hidden;
          overflow-y: auto;
          top: auto;
          bottom: 0;
          height: 93%;
          right: 0;
          left: 0;
          width: 100%;
          z-index: var(--layer-zindex-modal);
          background-color: var(--color-background-base);
          
          border-radius: 
            var(--shape-border-radius-xl)
            var(--shape-border-radius-xl)
            0
            0;

          .l-item__body {
            padding: 2.1rem;
          }

          .l-item__header {
            padding: 0.8rem 2.1rem;
            box-shadow: 0px 1px 0px rgb(23 25 28 / 4%);
          }
          .hover_in {
            display: block;
          }
        }
      }

}
.l-nav {
  display: none;



  @include media-breakpoint-up(md) {
    display: flex;
  }

  &__tabs {
    display: none;    
    @include media-breakpoint-up(lg) {
       display: block;
    }
  }
  &__modals {
    display: none;
    @include media-breakpoint-up(lg) {
      &:first-child {
        display: block;
      }
    }
  }
  &__menu {
    height: 100%;
    margin-top: $size-5;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .logo {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

// ITEMS

.primary-nav {
  .menu__item {
    z-index: 2;
    @include media-breakpoint-down(md) {
      width: clamp(8rem, 25%, 16.8rem);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: $size-1;
    }
    .btn {
      text-transform: uppercase;
    }
    &--bottom {
      @media screen and (min-height: 553px) {
        position: absolute;
        bottom: $size-2;        
      }

    }
  }
  .dropdown__menu {
    .menu__item {
      width: 100%;
    }
  }  
}

.is-mypage {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.is-add {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }
}

.primary-nav .menu .menu__item,
.primary-nav .dropdown__item {
  @include media-breakpoint-down(md) {
    padding: $size-half 0;
  }
}

// LINKS

.primary-nav .menu__link,
.primary-nav .dropdown__link {
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.4rem;

  &.is-active {
    background-color: var(--color-ink-accent);
  }

  @include media-breakpoint-down(md) {
    height: $size-line * 2;
  }

  @include media-breakpoint-between(md, xl) {
    padding: $size-1;
    justify-content: space-between;
    height: $size-7;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    justify-content: flex-start;
    padding: .2rem 1.6rem;
    height: auto;
    min-height: $size-5;
  }
}

// LABELS


.primary-nav .label,
%bottom-nav-item {
  color: var(--color-ink-2ry);
  font-weight: var(--font-weight-big);
  max-width: 100%;

  @include media-breakpoint-down(xl) {
    text-transform: none;
  }
}
.primary-nav .label {

  @include media-breakpoint-down(sm) {
  padding-top: .4rem;
  }
}
// ICONS

.primary-nav .menu__link .icon,
.primary-nav .dropdown__link .icon {
  display: block;
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    margin: 0 $size-2 0 0;
  }
}

// ACTIVE STATES
.is-dashboard .primary-nav .menu__link.is-dashboard,
.is-wallet .primary-nav .menu__link.is-wallet,
.is-portfolio .primary-nav .menu__link.is-portfolio,
.is-payments .primary-nav .menu__link.is-payments,
.is-history .primary-nav .menu__link.is-history,
.is-api .primary-nav .menu__link.is-api,
.is-contacts .primary-nav .menu__link.is-contacts {
  background-color: var(--color-ink-accent);
}


// #endregion

// -----------------------------------------------------------------------------
// DROPDOWN
// -----------------------------------------------------------------------------
// #region
.primary-nav .dropdown {
  @include media-breakpoint-down(md) {
    position: static;
  }

  @include media-breakpoint-up(md) {
    pointer-events: all;
  }
}

.primary-nav .dropdown__menu{
  @include media-breakpoint-up(md) {
    pointer-events: all;
  }
}

  .is-more.open .dropdown__link {
      height: auto;
      flex-direction: row;
      padding-left: 2rem;
    
    svg {
      margin-right: 1rem;
      margin-left: 0;
    }
  }
// #endregion

// -----------------------------------------------------------------------------
// MYBUSINES
// -----------------------------------------------------------------------------
// #region

// Item

.primary-nav .menu__item.is-cta {
  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(md) {
    margin-top: auto;
    order: 1;
  }
}

// Button

.primary-nav .menu__item.is-cta .menu__link {
  @include media-breakpoint-up(md) {
    background-color: transparent;
    border: .1rem solid var(--color-ink-border);
    border-radius: var(--shape-border-radius-base);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    padding: 0 $size-2;
    user-select: none;
    white-space: nowrap;
    transition:
      background-color var(--motion-duration-sm),
      box-shadow  var(--motion-duration-sm);
    height: $size-8;

    &:hover {
      background-color: var(--color-background-base);
      text-decoration: none;
    }

    &:active {
      box-shadow:
        inset 0 0 0 1px var(--color-ink-border),
        inset 0 3px 5px var(--color-ink-border),
        inset 0 0 0 100px var(--color-ink-accent);
    }

    &:focus {
      box-shadow: var(--layer-box-shadow-focus-outline);
      outline: 0;
    }

    &:focus,
    &:active:focus {
      outline: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    height: $size-5;
  }
}

// Label
// stylelint-disable selector-max-compound-selectors
.primary-nav .is-cta > .menu__link .label {

  @include media-breakpoint-down(lg) {
    @include visually-hidden();
  }

  @include media-breakpoint-up(md) {
    color: var(--color-ink-primary-text);
  }
}

// Icon

.primary-nav .is-cta > .menu__link .icon {
  transform: translateY(-.1rem);

  @include media-breakpoint-up(lg) {
    margin-right: $size-1;
    margin-left: -$size-1;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// MORE
// -----------------------------------------------------------------------------
// #region

.primary-nav .is-more .dropdown__menu {

  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2.4rem 1.6rem;


  @include media-breakpoint-up(md) {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 2rem;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    opacity: 1;
    position: static;
    visibility: visible;
    width: 100%;
  }
}

.primary-nav .is-more .dropdown__item {
  @include media-breakpoint-up(lg) {
    margin-bottom: $size-1;
  }
}

// .primary-nav .is-more .dropdown__link {
//   @include media-breakpoint-between(md, xl) {
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     padding: $size-1;
//     justify-content: space-between;
//     height: $size-8;
//   }
// }

// .primary-nav .is-more .dropdown__link .icon {
//   @include media-breakpoint-between(md, xl) {
//     margin: 0 auto;
//   }
// }

.primary-nav .menu__item.is-more.for_mobile {
  @include media-breakpoint-up(md) {
    padding: 0;
  }
}

.primary-nav .is-more.for_mobile > .menu__link {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.primary-nav .is-more.for_tablet > .menu__link {
  display: none;
  @include media-breakpoint-between(md, xl) {
    display: block;
  }
}
// #endregion
.primary-nav .buttons {
  padding-bottom: 0;
  a {
    @include media-breakpoint-down(xl) {
      font-size: 0;
      display: flex;
      justify-content: center;
      width: 7rem;
      margin: auto;
      border-radius: var(--shape-border-radius-base);
    }
    svg {
      @include media-breakpoint-down(xl) {
        margin: 0;
      }
    }
  }

}


