.main-orders {
  & h2,
  h3,
  p,
  div,
  a {
    padding: 0 !important;
  }

  width: 100%;
  max-width: 118.4rem;
  margin: 0 auto;
  @include media-breakpoint-down(xl) {
    max-width: 84.8rem;
  }
  @include media-breakpoint-down(lg) {
    max-width: 59.2rem;
  }

  // .main-orders__table-wrapper
  &__table-wrapper {
    overflow-x: auto;
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid var(--ink-dark-border, #d1d9e6);
      border-left: 1px solid var(--ink-dark-border, #d1d9e6);
      border-right: 1px solid var(--ink-dark-border, #d1d9e6);
    }
  }

  // .main-orders__table
  &__table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    position: relative;
  }

  // .main-orders__tbody
  &__tbody {
    & td {
      vertical-align: middle;
    }
  }

  // .main-orders__product-items
  &__product-items {
  }

  // .main-orders__product
  &__product {
    color: var(--ink-dark-base, #081935);
    font-size: 1.2rem;
    font-family: "Roboto";
    line-height: 1.33;
    letter-spacing: 0.05rem;
    text-transform: uppercase !important;
    padding: 0.8rem 1.6rem;
    white-space: nowrap;
    position: relative;
    border-top: 1px solid var(--ink-dark-border, #d1d9e6);

    & img {
      min-width: 4rem;
      height: 4rem;
      object-fit: cover;
      
      border-radius: 0.667rem;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12) inset;
      border: 0.08rem solid var(--ink-dark-border, #d1d9e6);
    }

    & span {
      @include style-text;
      text-transform: none;
    }

    & div,
    a,
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.7rem;
      font-family: "Roboto";
      line-height: 1.41;
      @include media-breakpoint-down(sm) {
        text-overflow: clip;
      }
    }
  }

  // .main-orders__subtitle-table
  &__subtitle-table {
    padding: 0.8rem 0;
    color: var(--ink-dark-2-ry, #475f85);
    font-size: 1.2rem !important;
    font-family: "Roboto";
    line-height: 1.33 !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  // .main-orders__description
  &__description {
    & a {
      display: block;
      padding: 0;
    }
  }

  // .main-orders__prod-name
  &__prod-name {
    text-transform: none;
    color: var(--ink-blue-text-brand-700, #2268d8);
  }
}

.status-prod {
  & span {
    display: block;
    text-align: center;
    font-size: 1.2rem !important;
    font-family: "Roboto";
    line-height: 1.33 !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border-radius: 10rem;
    padding: 0.9rem 1.2rem 0.7rem 1.2rem;
  }
}

.products-pos-st {
  align-items: center;
  gap: 0.8rem;
  max-width: 41.9rem;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--background-bg-base, #fcfcfd);
  & span {
    @include style-link;
    text-transform: none;
    color: var(--ink-dark-2-ry, #475f85);
  }
  @include media-breakpoint-down(xl) {
    min-width: 17.1rem;
  }
  @include media-breakpoint-down(md) {
    min-width: calc(50vw - 2rem);
    max-width: calc(50vw - 2rem);
  }
  @include media-breakpoint-down(sm) {
    padding: 0.8rem 0 0.8rem 1.6rem !important;
  }
}

.td-w-products {
  min-width: 41.9rem;
  @include media-breakpoint-down(xl) {
    min-width: 19.7rem;
  }
  @include media-breakpoint-down(md) {
    min-width: calc(50vw - 2rem);
    max-width: calc(50vw - 2rem);
  }
}
//108 105 156 165 143

.td-w-sum-prod {
  min-width: 10.8rem;
}
.td-w-date-prod {
  min-width: 10.5rem;
}
.td-w-id-prod {
  min-width: 15.6rem;
}
.td-w-delivery-prod {
  min-width: 16.5rem;
}
.td-w-status-prod {
  min-width: 14.3rem;
}

.td-w-sum-prod,
.td-w-date-prod,
.td-w-id-prod,
.td-w-delivery-prod,
.td-w-status-prod {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 3rem;
    background-color: #d1d9e6;
    @include media-breakpoint-down(md) {
      width: 0;
    }
  }
}


