.main__body {
	margin-bottom: 5rem;
}
.main__content__body__item {
	padding: 1.6rem 3.2rem;
	margin-top: 3.2rem;

	.main__content__body__item__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 1.6rem;
		align-items: center;
		.main__content__body__list__link {
			display: flex;
		    flex-wrap: wrap;
    		align-items: center;
    		span {
			    width: 4rem;
			    height: 4rem;
			    margin-right: 1.7rem;
			    .entety__avatar {
			        overflow: hidden;
			    }
    		}

			.main__content__entety__title {
			    font-weight: 500;
			    font-size: 12px;
			    line-height: 16px;
			    color: #081935;
			}
			.main__content__entety__subtitle {
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				color: #475F85;
			}
		}
		.dropdown-menu {
			    left: -24rem;
		}


	}
}
.is_link {
	cursor: pointer;
}
.main__content__body__txt {
	margin-top: 1.6rem;
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #475F85;
}

a.morelink {
    text-decoration: none;
    outline: none;
    color: #475F85;
    font-weight: 600;

}
.morecontent span {
	display: none;
}