.main__body {
	margin-bottom: 5rem;
}
.content-card {
	padding: 1.6rem;
	margin-top: 3.2rem;

  @include media-breakpoint-up(md) {
    padding: $size-2 $size-4 $size-4;
  }

	&__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 1.6rem;
		align-items: center;

		h2{
			max-width: 85%;
		}

		.dropdown-menu {
			    /* padding: 0.5rem 3.2rem 0.5rem; */
		}
	}
} 
.drop_second {
	&__menu {
    padding: $size-1p5 $size-4 $size-1p5 $size-2;
    .custom-radio.edit_link {
    	padding: 0;
    	label {
    		    padding: $size-1p5 0 $size-1p5 $size-1p5;
    	}
    }
	}
}
.header__notify {
	.dropdown-menu {
	    height: 42rem;
	    width: 30.5rem;
	    overflow: hidden;
	}
	.drop_first {
    position: absolute;
    top: 0;
    transition: ease all 0.3s;
    width: 28rem;
  	left: 100%;


	}
	.drop_second {
    margin-top: 2.4rem;
    position: absolute;
    top: 0;
  	left: -100%;
    transition: ease all 0.3s;
    width: 28rem;

	}
 .drop_first.active {
  	left: 12px;
  	
  	.l-comments__items {
  		overflow-y:auto;
  		height: 31rem;
  	}
  }
  .drop_second.active {
  	left: 12px;
  }
}




.line-cell {
		display: flex;
    flex-wrap: wrap;
		align-items: center;
	&__title,
	&__title a {
	    font-weight: 500;
	    font-size: var(--font-size-small);
	    line-height: var(--font-line-height-small);
	    color: var(--color-ink-base);
	}
	&__subtitles {
		font-weight: 400;
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-small);
		color: var(--color-ink-2ry);
	}	

} 
  	
.entety__avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--color-ink-inverse-base);
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: 0.3s;

  &:not(.item-people__avatar) {
  	margin-right: 1.7rem;
  }

  &.is-lg {
    width: 12rem;
    height: 12rem;
    overflow: visible;
  }
  
  img {
	  width: 100%;
	  height: 100%;
	  object-fit:cover;
  }
}

.main__content__body__txt {
	margin-top: 1.6rem;
	font-family: 'SF Pro Text';
	line-height: var(--font-line-height-base);
	color: var(--color-ink-2ry);
}

.crop-height__txt {
	color: var(--color-ink-2ry);
}
a.morelink {
    text-decoration: none;
    outline: none;
    color: var(--color-ink-2ry);
    font-weight: 600;

}
.morecontent span {
	display: none;
}