.main__body {
	margin-bottom: 10rem;
}
.content-card {
	padding: 1.6rem;
	margin-top: 3.2rem;
	display: flex;
	flex-direction: column;

  @include media-breakpoint-up(md) {
    padding: $size-2 $size-4 $size-4;
  }

	&__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 1.6rem;
		align-items: center;

		h2{
			max-width: 85%;
		}

		.dropdown-menu {
			    /* padding: 0.5rem 3.2rem 0.5rem; */
		}
	}

	.main__content__body__txt {
		order:1;
	}
	.main__content__body__list__captio {
		order:2;
	}
	.tag_wrapper {
    order: 2;
	}
	.crop-height__txt {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	}
	.crop-height__txt.fullshow {
    -webkit-line-clamp: unset;
	}
} 
.drop_second {
	&__menu {
    padding: $size-1p5 $size-4 $size-1p5 $size-2;
    .custom-radio.edit_link {
    	padding: 0;
    	label {
    		    padding: $size-1p5 0 $size-1p5 $size-1p5;
    	}
    }
	}
}
.header__notify {
	.dropdown-menu {
	    height: 42rem;
	    width: 30.5rem;
	    overflow: hidden;
	}
	.drop_first {
    position: absolute;
    top: 0;
    transition: ease all 0.3s;
    width: 28rem;
  	left: 100%;


	}
	.drop_second {
    margin-top: 2.4rem;
    position: absolute;
    top: 0;
  	left: -100%;
    transition: ease all 0.3s;
    width: 28rem;

	}
 .drop_first.active {
  	left: 12px;
  	
  	.l-comments__items {
  		overflow-y:auto;
  		height: 31rem;
  	}
  }
  .drop_second.active {
  	left: 12px;
  }
}




.line-cell {
		display: flex;
    flex-wrap: wrap;
		align-items: center;
	&__title,
	&__title a {
	    font-weight: 500;
	    font-size: var(--font-size-small);
	    line-height: var(--font-line-height-small);
	    color: var(--color-ink-base);
	}
	&__subtitles {
		font-weight: 400;
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-small);
		color: var(--color-ink-2ry);
	}	
} 

.line-big {
    flex-wrap: unset;

		&__avatar  {
			width: $size-1*10;
			height: $size-1*12;
			border-radius: var(--shape-border-radius-base);
			overflow: hidden;
	    min-width: $size-1*10;
    	margin-right: $size-2;
    	position: relative;

			img{
			    height: 100%;
			    width: 100%;
			    object-fit: cover;
			}
			.sale_notice {
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: fit-content;
		    height: 31px;
			}
		}
		&__content {
		    width: auto;
		}

}
.is_community {
	.main__content__body__txt span {
		overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
	}
}
.is_promo {
  @include media-breakpoint-down(sm) {
  	.line-big__avatar {
  		width: 100%;
  		height: $size-1*6;
  	}
  	.line-big {
  		flex-wrap:wrap;
  	}
  }
}
.is_post {
	.main__content__body__txt span {
		overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;

	  @include media-breakpoint-down(sm) {
	  	line-clamp: 6;
    	-webkit-line-clamp: 3;
	  }
	}
}
  	
.entety__avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--color-ink-inverse-base);
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: 0.3s;

  &:not(.item-people__avatar) {
  	margin-right: 1.7rem;
  }

  &.is-lg {
    width: 12rem;
    height: 12rem;
    overflow: visible;
  }
  
  img {
	  width: 100%;
	  height: 100%;
	  object-fit:cover;
  }
}

.main__content__body__txt {
	margin-top: 1.6rem;
	font-family: 'SF Pro Text';
	line-height: var(--font-line-height-base);
	color: var(--color-ink-2ry);
}

.crop-height__txt {
	color: var(--color-ink-2ry);
}
a.morelink {
    text-decoration: none;
    outline: none;
    color: var(--color-ink-2ry);
    font-weight: 600;

}
.morecontent span {
	display: none;
}