.group__body__list {
    display: grid;
    grid-column-gap: $size-line;
    grid-row-gap: $size-4;
    grid-template-columns: repeat(auto-fill, minmax(14rem,1fr));    
}
.group__body__list__item {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.group__body__list__ava {
    border-radius: 50%;
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    margin-bottom: 1.4rem;
    .entety__avatar {
        height: 100%;
        img {
            object-fit:cover;
            width: 100%;
            height: 100%;
        }
    }
}

.group__name {

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: #081935;

        &:hover {
            text-decoration: none;
        }
    }
}
.list__captio__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    text-align: center;
    color: #475F85;
}






.link.is-wrapper {
  text-decoration: none;
  position: relative;

  &::before {
    border-radius: var(--shape-border-radius-lg);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  &:focus-visible,
  &:hover {
    &::before {
      box-shadow: var(--layer-box-shadow-focus-outline);
    }
  }
}