.group__body {
    margin-top: 5rem;
    
  @include media-breakpoint-up(md) {

      margin-top: 0;
  }
}
.group__body__list {
    display: grid;
    grid-column-gap: $size-line;
    grid-row-gap: 3.9rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));    
}
.column-2 {
    .group__body__list {
        grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));    
    }
}
.column-3 {
    .group__body__list {
        grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));    
    }
}
.group__body__list__item {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.group__body__list__ava {
    cursor: pointer;
    width: 12rem;
    height: 12rem;
    margin-bottom: 1.4rem;
    position: relative;
    
    .entety__avatar {
        overflow: hidden;
    }
    .entety__btns {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: 0.3s;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        .entety__btns {
            opacity: 1;
            transition: 0.3s;
        }
        .entety__avatar {
            filter: brightness(40%);
            transition: 0.3s;
        }
    }
}

.entety__avatar {
    border-radius: 50%;
    transition: 0.3s;
    height: 100%;
    img {
        object-fit:cover;
        width: 100%;
        height: 100%;
    }
}
.group__name {

    a {
        text-decoration: none;
        font-weight: var(--font-weight-title);
        font-size: var(--font-size-middle);
        line-height: var(--font-line-height-middle);
        color: var(--color-ink-2ry);

        &:hover {
            text-decoration: none;
        }
    }
}
.list__captio__item {
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-base);
    /* or 133% */

    text-align: center;
    color: var(--color-ink-2ry);
}
.event__body__list__ava {
    position: relative;
    .entety__bg {
        overflow: hidden;
        border-radius: var(--shape-border-radius-base) var(--shape-border-radius-base) 0 0;
    }
}
.event__body__list__body {
    padding: 1.2rem 2.4rem;
}
.round_circle,
.round_circle.dropdown {
    cursor: pointer;
    background: var(--color-background-base);
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -1.9rem;
    right: 2.2rem;
    box-shadow: 0 0 0 1px rgb(142 157 180 / 4%), 0 1px 2px rgb(142 157 180 / 14%), 0 2px 4px -1px rgb(142 157 180 / 14%), 0px 4px 8px -1px rgb(142 157 180 / 14%);

}




.link.is-wrapper {
  text-decoration: none;
  position: relative;
      width: 100%;
    display: block;

  &::before {
    border-radius: var(--shape-border-radius-lg);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  &:focus-visible,
  &:hover {
    &::before {
      box-shadow: var(--layer-box-shadow-focus-outline);
    }
  }
}
.event__body__list__body {
    padding: 1.2rem 2.4rem;
    display: flex;
    flex-direction: column;
    height: 12rem;
}
.event__category__name {
    .user__title {
        font-size: var(--font-size-small);
        color: var(--color-ink-2ry);
        letter-spacing: 0.05rem;
        line-height: var(--font-line-height-small);
        text-transform: uppercase;
        font-weight: 500;
    }
}
.event__name {
    margin-top: $size-half;
    .user__title {
        color: var(--color-ink-title);
        font-weight: 500;
        font-size: var( --font-size-middle);
        color: var(--color-ink-base);
        line-height: var( --font-line-height-middle);
    }
}
.event__captio__item {
    margin-top: $size-half;
}
.event__body__list_date {
    font-size: var(--font-size-small);
    letter-spacing: 0.05rem;
    line-height: var(--font-line-height-small);
    color: var(--color-ink-2ry);
    font-weight: 500;
    margin-top: auto;
}