.main__sidebar__item {
  padding: 2.8rem 2.3rem;

  .entety__avatar {
    overflow: hidden;
  }
}
.main__sidebar__item__title {
  margin-bottom: 1.6rem;
  &.is_birthday {
    margin-top: $size-7;
  }
}
.is_pickout {
  .main__sidebar__item__list {
    li {
      &.active{
        .pull-right {
            padding: $size-half 1.3rem;
            background: var(--color-sidebar-count);
            border-radius: var(--shape-border-radius-pill);
            color: var(--color-ink-inverse-max);
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
        }        
      }
    }


  }
}
.main__sidebar__item__list {
  padding-left: 0;
  li {    
    list-style-position: inside;
    width: 100%;
    padding: 1.2rem 1.5rem;
    margin: 0 0 0.8rem;
    position: relative;
    border-radius: var(--shape-border-radius-base);

    a {
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      .label {
        padding-left: $size-4;
        color: var(--color-ink-2ry);
        font-weight: var(--font-weight-big);
        max-width: 100%;
      }
      .pull-right {
        float: right;
        position: absolute;
        right: 1.5rem;
            color: var(--color-ink-2ry);
        font-size: var(--font-size-small);
      }
    }


    &:hover,
    &.active{
      background: var(--color-background-hover);
    }
  }
}

.main__sidebar__group__list {
  list-style: none;
  padding: 0;
}

.main__sidebar__group__list li {
    margin-bottom: $size-1;
}

.main__sidebar__footer {
  // main.css override
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-small);
  padding-bottom: calc(var(--size-space-base) * 4);  
  text-align: center;
  &,
  ul {
    font-weight: normal;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: var(--size-space-base);
        margin-top: 5.6rem;
  }
  .footer__meta-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0;
      flex-direction: column;

      li {
        margin-bottom: 0.8rem;
      }
  }
  .footer__logo {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}

.comment-aside {
  padding-bottom: $size-5;

  &__box {
    color: var(--color-ink-dark-base);
    padding: $size-1p5 + .2rem $size-2 $size-2p5 - .2rem;
    border: 1px solid var(--color-ink-border);
    border-radius: var(--shape-border-radius-base);
    position: relative;
    margin-top: 1rem;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      border-left: .7rem solid transparent;
      border-right: .7rem solid transparent;
      border-bottom: .7rem solid var(--color-background-base);
      bottom: 100%;
      left: 2.7rem;
    }

    &::before {
      border-left: .9rem solid transparent;
      border-right: .9rem solid transparent;
      border-bottom: .9rem solid;
      border-bottom-color: var(--color-ink-border);
      bottom: calc(100%);
      left: calc(2.7rem - .2rem); 
    }
  }
  &__article {
    color: var(--color-ink-dark-2ry);
    display: flex;
    align-items: center;
    margin-top: $size-1p5;
    padding: 0 0 0 $size-1p5;
    .icon {
      margin-right: $size-1p5;
    }
  }
  &__form {
    margin-top: 1rem;
    display: none;
  }
}
.block-aside {
  &__actions {
        margin: 2.2rem 0 5rem;
  }
}