{% extends "../index.twig" %}

{% set title = 'Organizations' %}

{% set captionActions = [
	['details', "Subscriptions", 9],
	['details', "My", 3],
	['isIcon', "Sort", 'sort', [
			['alphabet', 'alphabetically'],
			['calendar', 'date added'],
			['likebig', 'popularity']
		], 'Sort by'
	],
	['isIcon', "Add", 'plus-gray']
] %}

{# ['entetyAvatarImg', "entetyTitle", 'entetySubTytle', 'entetyCount']#}
{% set groupList = [
	['/assets/images/yandex.jpg', "Яндекс", 'Technology', '17 тыс.', 'sm-like'],
	['/assets/images/alpha.jpg', "Альфа-банк", 'Finance', '16 тыс.', 'sm-like'],
	['/assets/images/lifeline.jpg', "Линия жизни", 'НКО', '15 тыс.', 'sm-like'],
	['/assets/images/mybg.jpg', "Пиво-воды", 'Production', '14 тыс.', 'sm-like'],
	['/assets/images/mybg.jpg', "Металлургический завод «Петросталь»", 'Production', '', 'sm-like'],
	['/assets/images/mybg.jpg', "АвтоВАЗ", 'Production', '12 тыс.', 'sm-like'],
	['/assets/images/mybg.jpg', "Wildberries", 'Trading', '17 тыс.', 'sm-like'],
	['/assets/images/mybg.jpg', "Детский мир", 'Trading', '17 тыс.', 'sm-like'],
	['/assets/images/mybg.jpg', "Аэрофлот", 'Transport', '9 тыс.', 'sm-like'],
] %}

{% set SidebarGroupList = [
	['/assets/images/rzd.png', "RZD", 'Transport', '#'],
	['/assets/images/mybg.jpg', "VTB", 'Finance', '#'],
	['/assets/images/mybg.jpg', "Ozon", 'Trading', '#'],
	['/assets/images/mybg.jpg', "Tilda", 'Technology', '#'],
] %}

{% block content %}
	{% include '../components/group_content_header.twig' %}
	{% include '../components/group_content_body.twig' %}
{% endblock %}


{% block sidebar %}
	<div class="main__sidebar__item has-shadow has-border-radius-base">
		<div class="main__sidebar__item__title">
			Recommendations
		</div>
		{% include '../components/sidebar_group_list.twig' %}
	</div>
{% endblock %}