{% extends "../index.twig" %}	

{% set title = 'Single Organization' %}

{% set profileCoverImg = '/assets/images/alphaBack.jpg' %}
{% set entetyAvatarImg = '/assets/images/alpha.png' %}
{% set groupNameH = 'Alfa Bank' %}
{% set groupNameInfo = 'Finance. Working as usual' %}
{% set headerActions = {
	likeblue: "Like",
	more: "Edit profile"
} %}

{% set mainContentList = [
	['alpha.jpg', 'Альфа-Банк', "10 minuts ago", 'mybg3.jpg', 'Зарплаты резать точно не буду — не хочу потерять людей.Так решил Александр, владелец небольшой мебельной мастерской. Алёна, хозяйка кофейни, сокращает меню. А Сергей, совладелец автосервиса, планирует закупиться запчастями. Вместе с Яндекс Бизнесом мы сняли ролик про предпринимателей, которые перестраивают бизнес в кризис. А чтобы помочь им не на словах, а на деле, запускаем акцию — даём деньги на развитие'],
	['alpha.jpg', 'Альфа-Банк', "2 hours ago", 'mybg4.jpg', ]
] %}

{% set mainSidebarList = [
	['#', "About"],
	['#', "Timeline", '2'],
	['#', "Themes", '100 500'],
	['#', "Photo/Video", 204],
	['#', "Events"],
	['#', "Files", '20']
] %}

{% set headerActionsList = [
	['#', 'Message'],
	['#', 'Invite friends'],
	['#', 'Block'],
] %}
{% block content %}
	{% include '../components/main_content_header.twig' %}
	{% include '../components/main_content_body.twig' %}
{% endblock %}


{% block sidebar %}
	<div class="main__sidebar__item has-shadow has-border-radius-base is_pickout">
		{% include '../components/main_sidebar_item.twig' %}
	</div>
{% endblock %}