@use 'sass:math';

.icon {
  --icon-stroke: var(--color-ink-3ry);
  --icon-stroke-width: 2;
  --icon-fill: var(--color-background-alt);

  display: inline-block;

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0;
  overflow: hidden;

  // Vertical-align: middle не всегда
  // выравнивает по визуальному центру. В таких случаях надо
  // экспериментировать с цифровыми значениями
  vertical-align: -.4rem;
  transition: fill var(--motion-duration-sm);

  width: var(--size-height-icon);
  height: var(--size-height-icon);

  &.is-lg,
  .icon-badge.is-lg {
    --size-height-icon: 4.4rem;
  }
  &.is-left{
    margin-right: $size-1;
  }
  &.is-right{
    margin-left: $size-1;
  }
    
  &.is-left-xl {
    @include media-breakpoint-up(xl) {
      margin-right: $size-1;
    }
  }


  // Sizes
  &.is-sm {
    width: $size-2p5;
    height: $size-2p5;
  }


  // Colors
  &.is-primary {
    color: var(--color-primary);
  }

  &.is-danger{
    color: var(--color-ink-danger-fill);
  }

}
.header__language-toggle .icon {
  height: var(--size-height-icon-md);
  width: var(--size-height-icon-md);
}

%icon-active,
.icon-active {
  --icon-stroke: var(--color-ink-inverse-base);
  filter: drop-shadow(var(--layer-box-shadow-z1));
}
%icon-alert,
.icon-alert {
  --icon-stroke: var(--color-ink-error-base);
  filter: drop-shadow(var(--layer-box-shadow-z1));
}

%icon-ready,
.icon-ready {
  --icon-stroke: var(--color-ink-success-fill);
  filter: drop-shadow(var(--layer-box-shadow-z1));
}

%icon-backround,
.icon-backround {
  --icon-stroke: var(--color-background-base);
  filter: drop-shadow(var(--layer-box-shadow-z1));
}



// -----------------------------------------------------------------------------
// OVERRIDES
// -----------------------------------------------------------------------------


