.logo {
  // reset main.css
    all: unset;
    margin-right: auto;
    display: flex;
    align-items: center;

  &:hover {
    text-decoration: none;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-between(md, xl) {
    align-items: center;
    flex-direction: column;
    width: $size-line * 4;
    margin: auto;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    width: 19.2rem;
  }
}


.logo__mark {
  margin-right: $size-2;

  @include media-breakpoint-up(md) {
    margin-bottom: $size-1;
    margin-right: 0;
  }

  @include media-breakpoint-up(xl) {
    margin-right: $size-2;
    margin-bottom: 0;
  }
}

.logo__copy {
  @include media-breakpoint-between(md, xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.tagline {
  color: var(--color-primary-base);
  font-size: var( --font-size-base);
  line-height: var(--font-line-height-middle);
  font-weight: var(--font-weight-subhead-h2);
  font-family: var(--font-weight-hero-title);
  transform: translateY(-.1rem);
  margin-top: .35rem;
  span {
    color: var(--color-btn-reduce);
  }

  @include media-breakpoint-between(md, xl) {
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
  }
}

.header__logo {
  max-width: 19rem;
  @include media-breakpoint-up(md) {
    display: none;
  }
}