// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
// #region

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: $size-line;
  position: relative;
  width: 100%;

  @include media-breakpoint-up(md) {
    --gap: #{$size-2};

    @include grid();

    margin-right: auto;
    margin-left: auto;

    padding: $size-5 0 0;
    z-index: 3;
  }

}
// #endregion

// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------
// #region

// @see base/graphics/logo
// #endregion

// -----------------------------------------------------------------------------
// SEARCH
// -----------------------------------------------------------------------------
// #region
.has-search-button {
  display: inline-block;
  margin-left: auto;
  .btn {    
    background-color: var(--color-background-base);
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

// Base
.header__search {
  display: none;
  @include media-breakpoint-down(md) {
    background-color: var(--color-background-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-$size-line);
    transition:
      opacity var(--motion-duration-sm) var(--motion-easing-base),
      transform var(--motion-duration-sm) var(--motion-easing-base);
    height: $size-1 * 10;
    z-index: var(--layer-zindex-drawer);

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  @include media-breakpoint-up(md) {
    display: block;
    transform: none;
    height: auto;

    grid-column: 1/span 7;
  }
  @include media-breakpoint-up(lg) {
    grid-column: 1/span 8;
  }
}

// Input and its container
.header__search [type='text'],
.header__search .input,
.header__search .form__item {
  flex-grow: 1;
}

.header__search [type='search'],
.header__search [type='text'] {
  padding-right: $size-7;
  min-width: 100%;
  border: 1px solid var(--color-ink-border);
}
.search__filter {
    z-index: 1;
    background-color: rgb(252, 252, 253);
    position: absolute;
    left: 0;
    right: 0;
    top: 96%;
    padding: 3.6rem 2.5rem 0.8rem;
    border-radius: var(--shape-border-radius-base);
    display: none;
    &.is_small {
      left: auto;
      padding: 0.5rem 3.2rem 1.3rem;
      min-width: 28rem;
    }
}
#smart-search-btn.open + .search__filter {
  display: block;
}
.search__filter__item {
  label:not(.flex) {
    display: block;

  }
}
.flex .form-label__title {
  margin-right: $size-2;
}
.form__item-countries .select  {
  background-color: #F6F7F9;
  background-image: var(--asset-data-image-chevron-down);
  background-position: right 0.8rem top 50%, 0 0;
  background-repeat: no-repeat;
}
.search__filter__item {
    margin-bottom: 17px;
    &.sex_select {
      margin-top: 3.4rem;
      margin-bottom: 5rem;
    }
}
.form-label__title {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-ink-2ry);
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.select__age {
  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
  .age__from, .age__to {
    @include media-breakpoint-up(md) {
      width: 49%;
      border: 1px solid #D1D9E6;
    }
  } 
}

.search__filter__item_footer {
  label {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  input[type=checkbox] {
    width: 2rem;
    height: 2rem; 
    margin-right: 1rem;
  }
}
.search__filter__item__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.items_scroll {
    padding: 5px 16px;
    border: 1px solid #D1D9E6;
    border-radius: var(--shape-border-radius-xl);
    list-style: none;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-ink-2ry);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    .icon {
      display: none;
      margin-right: 1rem;
    }

    &.active {
      background: #F2F6FD;
      .icon {
        display: inline;
      }
    }
}
// Submit
.header__search-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: $size-6;
  height: $size-6;

  &#smart-search-btn {
    right: 4rem;
  }
  &.is_rubber {
    width: auto;
  }

  .icon {
    margin-right: 0;
  }
}

// -----------------------------------------------------------------------------
// MENU
// -----------------------------------------------------------------------------
// #region

.header__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 0 0 $size-1;

  button {
      position: relative;
  }

  .header__notify {    
    display: none;

    .header__notify-label {
      display: none;
      font-size: 10px;
      line-height: 12px;
      padding: 0px 0px;
      text-align: center;
      color: #fff;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 15px;
      height: 16px;
      left: 19px;
      top: -7px;
      background: #3073DF;
      border-radius: var(--shape-border-radius-pill);

      &.active {
        display: flex;
      }
    }
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    // An explicit start is used to preserve right alignment when hiding other
    // header elements
    grid-column: 8/span 6;
    justify-content: flex-end;
    padding-left: 0;
    position: static;
  }

  @include media-breakpoint-up(lg) {
      grid-column: 9/span 5;
  }
}


// -----------------------------------------------------------------------------
// AVATAR
// -----------------------------------------------------------------------------
// #region

.header_photo {
  @extend %avatar, %avatar-sm;

  background-image: var(--asset-data-image-user);
  border-radius: var(--shape-border-radius-pill);

  > img {
    border-radius: var(--shape-border-radius-pill);
  }

  @include media-breakpoint-up(md) {
    // Add right padding if user menu contains user name
    // margin-right: $size-1;
  }
}
// #endregion
// Override complicated selector
.dropdown-menu > li > button .is-user-menu-icon {
  margin-right: 0;
  margin-left: auto;
}

.header__user {
  margin-left: 3rem;
  a {
    color: var(--color-ink-2ry);
        position: relative;
  }
  span {
    display: none;
    font-size: var(--font-size-small);
    letter-spacing: var(--size-letter-spacing-small);
    text-transform: uppercase;
    margin-left: 2.5rem;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  .header__photo-is_online {
    position: absolute;
    bottom: 0.3rem;
    left: 3rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .dropdown-menu {
    left: auto;
    right: -2rem;

    @include media-breakpoint-up(md) {
      right: 0;
    }
  }  
}


// LANGUAGE TOGGLE

.header__language-toggle {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 0;
    // margin-left: auto;
    width: $size-5;
    min-width: $size-5;
    margin-left: 0.3rem;
  }
}

.header__language-toggle .btn {
  color: var(--color-ink-2ry);
  padding-right: 0;
  padding-left: $size-1 * 1.5;

}

.header__language-toggle .dropdown-menu {
  left: auto;
  right: 0;
}

// #endregion
.custom-radio {
  position: relative;
  margin: 2rem 0;

  label {
    display: block;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked,
      &:not(:checked) {
        position: absolute;
        left: -9999px;

        &+span {
          cursor: pointer;
          font-weight: var(--font-weight-big);
          font-size: var(--font-size-small);
          line-height: var(--font-line-height-small);
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: var(--color-ink-2ry);;
          margin-left: $size-1;

          &:after {
            content: "";
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;            
            right: -.3rem;
            top: 1.2rem;
            width: 1.7rem;
            height: 1.2rem;
            background: var(--asset-data-image-check);
          }
        }
      }

      &:not(:checked) + span:after {
        opacity: 0;
      }
      &:checked + span:after {
        opacity: 1;
      }
    }
  }
}
.is_rubber {
      font-size: var(--font-size-small);
      line-height: var(--font-line-height-small);
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color: var(--color-ink-2ry);
      max-height: 3.2rem;
      padding: $size-1 $size-1p5;
      
      &:after {
        content: "";
        width: 0.8rem;
        height: 0.4rem;
        background-image: var(--asset-data-image-down);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 1rem;
      }
}
.header button.is_rubber {
      background: var(--color-background-alt);
      border-radius: var(--shape-border-radius-lg);

  }