.profile-info {
	&__detail {
	  .one-liner {
	    color: var(--color-ink-dark-2ry);
	  }
	  &:not(:last-child) {
	    margin-bottom: $size-1;
	  }
	  @include media-breakpoint-up(lg) {
	  	white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		}
	}
	&__about {
		
	}
	&__kpis {
	  margin-top: auto;

	  @include media-breakpoint-down(md) {
	    display: none;
	  }
	}	
}
.back_profile {
	&__wrap {
		display: flex;
	    align-items: center;
	    height: 7.2rem;

		a {
		    display: flex;
	    	align-items: center;
		}
		
		.entety__avatar {
		    margin: 0 2rem 0 1rem;
		}
	}
	h1,h2 {
		padding: 0;
		max-width: 38rem;
	}
}