{% extends "../index.twig" %}

{% set title = 'Friends' %}

{% set captionActions = [
	['dropText', "All", 'Sort', [
			['all', 'All'],
			['favorites', 'Close friends'],
			['portfolio', 'Scope'],
			['community', 'portfolio'],
			['friends', 'Mutual friends'],
			['geotag', 'Native city'],
			['geotag', 'Current city'],
		], ''
	],
	['dropText', "By last name", 'Sort', [
			['id', 'By last name'],
			['calendar', 'By date added'],
			['cake', 'By birthday'],
		], ''
	],
] %}

{# ['entetyAvatarImg', "entetyTitle", 'entetySubTytle', 'entetyCount']#}
{% set friendList = [
	['/assets/images/profile_friend.png', "Eugene Potapenko", 'Petrovac'],
	['/assets/images/profile_friend.png', "Mia Suono-Oro", 'Moscow'],
	['/assets/images/profile_friend.png', "Александр Бойко", 'Moscow'],
	['/assets/images/profile_friend.png', "Екатерина Велик…", 'Moscow'],
	['/assets/images/profile_friend.png', "Валентина Ветер", 'Moscow'],
	['/assets/images/profile_friend.png', "Design Inspiration", 'Kyiv'],
	['/assets/images/profile_friend.png', "Павел Дорошенко", 'Moscow'],
] %}

{% set SidebarGroupList = [
	['/assets/images/profile_friend.png', "Оксана Терехова", 'today', '#'],
	['/assets/images/profile_friend.png', "Анна Новикова", 'today', '#'],
	['/assets/images/profile_friend.png', "Ксения Образцова", 'tomorrow', '#'],
	['/assets/images/profile_friend.png', "Руслан Кислицин", 'July 7', '#'],
] %}

{% set mainSidebarList = [
	['info', 'link', '#', "Friends", '825', 'active'],
	['info', 'link', '#', "Nearby", '2'],
	['info', 'link', '#', "Friend requests", '135'],
	['info', 'link', '#', "Recommendations", ''],
	['info', 'link', '#', "Subscriptions", '20'],
	['info', 'link', '#', "Subscribers", '3']
] %}

{% block content %}
	{% include '../components/group_content_header.twig' %}
	{% include '../components/group_content_body.twig' %}
{% endblock %}


{% block sidebar %}
	<div class="main__sidebar__item has-shadow has-border-radius-base is_pickout">
		{% include '../components/main_sidebar_item.twig' %}
		<div class="main__sidebar__item__title is_birthday">
			Birthdays
		</div>
		{% include '../components/sidebar_group_list.twig' %}
	</div>
{% endblock %}