{% extends "../index.twig" %}
{% set title = 'My Page' %}
{% set profileCoverImg = '/assets/images/mybgF.jpg' %}
{% set entetyAvatarImg = '/assets/images/avatarF.jpg' %}
{% set groupNameH = 'Андрей Ковалёв' %}
{% set groupNameInfo = 'Председатель Общероссийского Движения предпринимателей' %}
{% set headerActions = {
	likeblue: "Like",
	more: "statisticForm",
} %}

{% set mainSidebarList = [
	['info', 'link','#', "About Andrey", '', 'active'],
	['news', 'link','#', "Newsline", ''],
	['camera', 'link','#', "Photo and video", '204'],
	['tag', 'link','#', "Favorites", '248'],
	['archive', 'link','#', "Stories archive", '3']
] %}
{% set headerActionsList = [
	['messenger', 'toggle', 'statisticForm', 'Message'],
	['blocked', 'toggle', 'statisticForm', 'Block']
] %}


{% set mainContentList = [
	['avatarF.jpg', 'Андрей Ковалёв', "Hannah Coates - 10 minuts ago", 'mybghome.jpg', 'Я родился в Москве в семье оперной певицы и военного. Около четырех лет мы тесной компанией (мама, папа, бабушка и я с младшим братом Алексеем) жили на Рогожской Заставе в крохотной 15-метровой коммунальной комнате. В те годы не было замысловатых современных игрушек, и мы с братом развлекали себя всем, что могли найти. Я помню, как в длинных коридорах коммуналки мы катали на согнутой
'],
	['avatarF.jpg', 'Андрей Ковалёв', "2 days ago", '', '-А можете дать маленькую бесплатную консультацию по продаже квартиры? Так-то я по образованию юрист и сама все знаю, просто хочу уточнить. -Ну ок. <br>
	Через день:<br>
	-А наши покупатели хотят с нами рассчитаться таким-то образом, но я боюсь мошенничества. Скажите, как правильно сделать в нашей ситуации?<br>
	-Возьмите у меня платную консультацию и я вам под запись пошагово расскажу, что надо и чего не надо делать' ]
] %}

{% block content %}
	{% include '../components/main_content_header.twig' %}
	{% include '../components/main_content_body.twig' %}
{% endblock %}


{% block sidebar %}
<div class="main__sidebar__item has-shadow has-border-radius-base">
	{% include '../components/main_sidebar_item.twig' %}
</div>
{% endblock %}