<div class="comment__dropdown dropdown is-top-right">
    <button class="button is-bare is-ghost is-icon dropdown-toggle" type="button">
        <svg role="img" class="icon">
            <use href="/assets/sprite/sprite.svg#icon-more"></use>
        </svg>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">
                <svg role="img" class="icon is-left">
                    <use href="/assets/sprite/sprite.svg#icon-copylink"></use>
                </svg>
                <span class="label is-bolder">copy link</span>
            </a>
        </li>
        <li>
            <a href="#">
                <svg role="img" class="icon is-left">
                    <use href="/assets/sprite/sprite.svg#icon-eye-slash"></use>
                </svg>
                <span class="label is-bolder">hide comment</span>
            </a>
        </li>
        <li>
            <a href="#">
                <svg role="img" class="icon is-left">
                    <use href="/assets/sprite/sprite.svg#icon-complain"></use>
                </svg>
                <span class="label is-bolder">complain</span>
            </a>
        </li>
    </ul>
</div>