
<div class="main__content__body__item has-shadow has-border-radius-lg">
    <div class="main__content__body__item__header">
        <h3 class="edit__title no_padding">Stories</h3>
        <button class="btn is-right" type="button" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">   
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-plus-gray"></use>
            </svg>
        </button>
    </div>
    <ul class="story-slider">
        <li>
            <a href="#">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <img src="/assets/images/mybg.jpg" alt="">
                    <div class="story-card-content">
                        <h4> Dennis </h4>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <img src="/assets/images/mybg.jpg" alt="">
                    <div class="story-card-content">
                        <h4> Jonathan </h4>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <img src="/assets/images/mybg.jpg" alt="">
                    <div class="story-card-content">
                        <h4> Jonathan </h4>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <img src="/assets/images/mybg.jpg" alt="">
                    <div class="story-card-content">
                        <h4> Jonathan </h4>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <img src="/assets/images/mybg.jpg" alt="">
                    <div class="story-card-content">
                        <h4> Jonathan </h4>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
