
<div class="content-card has-shadow has-border-radius-lg is_overflow">
    <div class="content-card__header">
        <h3 class="edit__title no_padding">Stories</h3>
        <button class="btn is-right" type="button" data-bs-toggle="modal" data-bs-target="#addStories" aria-label="editProfile">   
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-plus"></use>
            </svg>
        </button>
    </div>
    <div class="story-slider">
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/imageCaring.jpg">
                    <div class="story-card-content">
                        <div class="story-card-content__title">
                            Татьяна лесная
                        </div>
                    </div>
                    <img src="/assets/images/profile_friend.png" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/imageVolga.jpg">
                    <div class="story-card-content">
                       Сергей Сим
                    </div>
                    <img src="/assets/images/avatarF.jpg" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/mybgF.jpg">
                    <div class="story-card-content">
                       Анастасия Морозова
                    </div>
                    <img src="/assets/images/avatar.jpg" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/mybghome.jpg">
                    <div class="story-card-content">
                         Светлана Никова
                    </div>
                    <img src="/assets/images/profile_friend.png" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/mybg.jpg">
                    <div class="story-card-content">
                         Natalie Rosschina 
                    </div>
                    <img src="/assets/images/avatarF.jpg" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/imageVolga.jpg">
                    <div class="story-card-content">
                       Сергей Сим
                    </div>
                    <img src="/assets/images/avatarF.jpg" alt="">
                </div>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#getStories" aria-label="editProfile">
                <div class="story-card" data-src="/assets/images/mybgF.jpg">
                    <div class="story-card-content">
                       Анастасия Морозова
                    </div>
                    <img src="/assets/images/avatar.jpg" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
