<div class="l-video">
	<div class="l-video__frame">
		<img src="/assets/images/video.jpg" alt="">
        <ul class="co-hosts">
            <li class="co-hosts__item">
                <div class="co-hosts__avatar">
                    <img src="/assets/images/avatarF.jpg" alt="">
                </div>
                <div class="co-hosts__name">
                    Кирилл
                </div>
            </li>
            <li class="co-hosts__item">
                <div class="co-hosts__avatar">
                    <img src="/assets/images/lili.jpg" alt="">
                </div>
                <div class="co-hosts__name">
                    Мария
                </div>
            </li>
            <li class="co-hosts__item">
                <div class="co-hosts__avatar">
                    <img src="/assets/images/avatarnew.jpg" alt="">
                </div>
                <div class="co-hosts__name">
                    Нина
                </div>
            </li>
        </ul>
		<div class="l-video__control-bar control-bar">
			<div class="control-bar__indicators">
				<div class="control-bar__items is_uppercase indicators">
					<div class="control-bar__item is_camera-status">
			            <svg class="icon is-left is_white" aria-hidden="true" focusable="false">
			                <use href="/assets/sprite/sprite.svg#icon-vcamera"></use>
			            </svg>
			            <span>On</span>		
					</div>
					<div class="control-bar__item">
			            <svg class="icon is-left is_white" aria-hidden="true" focusable="false">
			                <use href="/assets/sprite/sprite.svg#icon-sm-mic"></use>
			            </svg>	
			            <span>On</span>			
					</div>
				</div>

				<div class="control-bar__items">
                    <div class="is_white line-cell" href="#">
                            <figure class="entety__avatar">
                                <img src="/assets/images/avatar.jpg" alt="" class="entety__avatar_img">
                            </figure>  
                        
                        <div class="line-cell__content">
                            <div class="name is-bolder">Владимир Никшин</div>
                            <div class="flex align-center">
                                <svg class="icon is-sm is_white is-left" aria-hidden="true" focusable="false">
                                    <use href="/assets/sprite/sprite.svg#icon-broadcast"></use>
                                </svg>
                                live —
                            </div>
                        </div>
                    </div>
					<div class="control-bar__item is_timer">
						<div class="timer">1:04:24</div>
					</div>
                    <div class="flex align-center">
                        <svg class="icon is-left is_white" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-eye"></use>
                        </svg>
                        <span class=" is_white">120 040</span>
                    </div>
					<div class="control-bar__item">
						<button class="btn menu__link menu__link is_reduce is_uppercase" type="button"> 
	            			<span>Finish broadcast</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-card modal-card">
        <div class="modal-card__wrap">
            <div class="content-card__header">
                <a class="content-card__line-cell line-cell" href="#">
                        <figure class="entety__avatar">
                            <img src="/assets/images/avatar.jpg" alt="" class="entety__avatar_img">
                        </figure>  
                    
                    <div class="line-cell__content">
                        <div class="line-cell__title">Владимир Никшин</div>
                        <div class="line-cell__subtitles"><span>Broadcast started 2 minutes ago</span></div>
                    </div>
                </a> 

                <div class="main__content__body__list__captio lg_hidden">
                   <div class="btn is-ghost count_btn">
                        <span class="grow">+44</span>
                        <div class="dropdown-menu_wrap">
                            <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                            </ul>  
                        </div>
                    </div>
                   <div class="btn is-ghost count_btn">
                        <span class="reduce">-1</span>
                        <div class="dropdown-menu_wrap">
                            <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                            </ul>  
                        </div>
                    </div>
                   <div class="btn is-compact is-ghost sm_hidden">
                        <svg class="icon is-left" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-eye"></use>
                        </svg>
                        <span>120 040</span>
                        <div class="dropdown-menu_wrap">
                            <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                            </ul>  
                        </div>
                    </div>
                    
                    <div class="btn is-ghost sm_hidden dropdown is-top">
                        <svg class="icon is-left" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-more"></use>
                        </svg>
                        <div class="dropdown-menu_wrap">
                            <ul class="dropdown-menu"> 
                                <li class="edit_link">             
                                    <a href="javascript:void(0);" class="alphabet" data-bs-toggle="modal" data-bs-target="#editLiveVideo" aria-label="editLiveVideo">
                                        <svg class="icon" aria-hidden="true" focusable="false">
                                            <use href="/assets/sprite/sprite.svg#icon-editProfile"></use>
                                        </svg>
                                        <span>change annotation</span>
                                    </a>
                                </li>
                                <li>              
                                    <a href="javascript:void(0);" class="alphabet" data-bs-toggle="modal" data-bs-target="#statisticLive" aria-label="statisticLive">
                                    
                                        <svg class="icon" aria-hidden="true" focusable="false">
                                            <use href="/assets/sprite/sprite.svg#icon-stats"></use>
                                        </svg>
                                        <span>Stats</span>
                                    </a>
                                </li>
                                <li class="edit_link">
                                    <button class="button" type="button">
                                        <svg class="icon" aria-hidden="true" focusable="false">
                                            <use href="/assets/sprite/sprite.svg#icon-repposts"></use>
                                        </svg>
                                        <span class="label">Share</span>
                                    </button>
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>   
            </div>
            
            <div class="main__content__body__txt crop-height">
            	<h2>Life in Montenegro: pros, cons, pitfalls</h2>
                <span href="/post" class="crop-height__txt">Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. </span> 
            </div>
        </div>
    </div>
</div>