<div class="l-video">
	<div class="l-video__frame">
		<img src="/assets/images/video.jpg" alt="">
		<div class="l-video__control-bar control-bar">
			<div class="control-bar__indicators">
				<div class="control-bar__items">
					<div class="control-bar__item is_camera-status">
			            <svg class="icon is-left is_white" aria-hidden="true" focusable="false">
			                <use href="/assets/sprite/sprite.svg#icon-vcamera"></use>
			            </svg>
			            <span>On</span>		
					</div>
					<div class="control-bar__item">
			            <svg class="icon is-left is_white" aria-hidden="true" focusable="false">
			                <use href="/assets/sprite/sprite.svg#icon-sm-mic"></use>
			            </svg>	
			            <span>On</span>			
					</div>
				</div>

				<div class="control-bar__items">
					<div class="control-bar__item is_timer">
						<div class="timer">1:04:24</div>
					</div>
					<div class="control-bar__item">
						<button class="btn menu__link menu__link is_reduce is_uppercase" type="button"> 
	            			<span>Finish broadcast</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-card">
        <div class="content-card__header">
            <a class="content-card__line-cell line-cell" href="#">
                    <figure class="entety__avatar">
                        <img src="/assets/images/avatar.jpg" alt="" class="entety__avatar_img">
                    </figure>  
                
                <div class="line-cell__content">
                    <div class="line-cell__title">Владимир Никшин</div>
                    <div class="line-cell__subtitles"><span>Broadcast started 2 minutes ago</span></div>
                </div>
            </a> 

            <div class="main__content__body__list__captio">
               <div class="btn is-ghost count_btn">
                    <span class="grow">+44</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-ghost count_btn">
                    <span class="reduce">-1</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-compact is-ghost sm_hidden">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-eye"></use>
                    </svg>
                    <span>120 040</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-compact is-ghost comments_toggle">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-comment"></use>
                    </svg>
                    <span>89+3</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-ghost sm_hidden dropdown is-top">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li class="edit_link">             
                                <a href="javascript:void(0);" class="alphabet" data-bs-toggle="modal" data-bs-target="#editLiveVideo" aria-label="editLiveVideo">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-editProfile"></use>
                                    </svg>
                                    <span>change annotation</span>
                                </a>
                            </li>
                            <li>              
                                <a href="javascript:void(0);" class="alphabet" data-bs-toggle="modal" data-bs-target="#statisticLive" aria-label="statisticLive">
                                
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-stats"></use>
                                    </svg>
                                    <span>Stats</span>
                                </a>
                            </li>
                            <li class="edit_link">
                                <button class="button" type="button">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-repposts"></use>
                                    </svg>
                                    <span class="label">Share</span>
                                </button>
                            </li>
                        </ul>  
                    </div>
                </div>
            </div>   
        </div>
        
        <div class="main__content__body__txt crop-height">
        	<h2>Life in Montenegro: pros, cons, pitfalls</h2>
            <span href="/post" class="crop-height__txt">Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. Отвечаю на вопросы, пока пью ракию и закусываю мясным ассорти с картошкой фри. </span> 
        </div>


        <div class="post__comments comments">
            <h3 class="comments__title">Комментарии</h3>
            <div class="comments__items">
                <div class="comments__thread thread">
                    <div class="thread__indent-l-0">
                        <div class="thread__comment comment">
                            <div class="comment__body">
                                <div class="comment__header">
                                    <a href="#" class="comment__avatar entety__avatar avatar is-md is-round has-overlay">
                                        <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
                                    </a>
                                    <div class="comment__info">
                                        <div class="comment__user">
                                            <a href="#" class="comment__author small is-bolder">Agressia</a>
                                            <a href="#" class="comment__link small">вчера</a>
                                        </div>
                                        <div class="comment__dropdown dropdown is-top-right">
										    <button class="button is-bare is-ghost is-icon dropdown-toggle" type="button">
										        <svg role="img" class="icon">
										            <use href="/assets/sprite/sprite.svg#icon-more"></use>
										        </svg>
										    </button>
										    <ul class="dropdown-menu">
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-copylink"></use>
										                </svg>
										                <span class="label is-bolder">copy link</span>
										            </a>
										        </li>
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-eye-slash"></use>
										                </svg>
										                <span class="label is-bolder">hide comment</span>
										            </a>
										        </li>
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-complain"></use>
										                </svg>
										                <span class="label is-bolder">complain</span>
										            </a>
										        </li>
										    </ul>
										</div>
                                    </div>
                                </div>
                                <div class="comment__text">
                                    <p> Будучи в Японии обратила внимание на то что рядом с огромными городами рядом соседствует леса и никто не стремится там построить новый район или новый бизнес-центр. Т.е. внимание в отношении места где они живут дает очень большое уважение к ним самим.</p>
                                </div>
                            </div>
                            <div class="comment__footer rating-buttons">
                                <div class="comment__rating-buttons">
                                    <div class="btn is-ghost count_btn">
                                        <span class="grow">+44</span>
                                        <div class="dropdown-menu_wrap">
                                            <ul class="dropdown-menu"> 
                                                <li><span class="menu__title"></span></li>
                                            </ul>  
                                        </div>
                                    </div>
                                    <div class="btn is-ghost count_btn">
                                        <span class="reduce">-1</span>
                                        <div class="dropdown-menu_wrap">
                                            <ul class="dropdown-menu"> 
                                                <li><span class="menu__title"></span></li>
                                            </ul>  
                                        </div>
                                    </div>
                                </div>
                                <button class="btn is-ghost">
                                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-comment"></use>
                                    </svg>
                                    <span class="small is-bolder">Ответить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="thread__children">
                        <div class="comments__thread thread">
                            <div class="thread__indent-l-1">
                                <div class="thread__comment comment">
                                    <div class="comment__body">
                                        <div class="comment__header">
                                            <a href="#" class="comment__avatar entety__avatar avatar is-md is-round has-overlay">
                                            <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
                                            </a>
                                            <div class="comment__info">
                                                <div class="comment__user">
                                                    <a href="#" class="comment__author small is-bolder">Mirlan Akynbekov</a>
                                                    <a href="#" class="comment__link small">8 ч. назад</a>
                                                </div>
                                                <div class="comment__dropdown dropdown is-top-right">
												    <button class="button is-bare is-ghost is-icon dropdown-toggle" type="button">
												        <svg role="img" class="icon">
												            <use href="/assets/sprite/sprite.svg#icon-more"></use>
												        </svg>
												    </button>
												    <ul class="dropdown-menu">
												        <li>
												            <a href="#">
												                <svg role="img" class="icon is-left">
												                    <use href="/assets/sprite/sprite.svg#icon-copylink"></use>
												                </svg>
												                <span class="label is-bolder">copy link</span>
												            </a>
												        </li>
												        <li>
												            <a href="#">
												                <svg role="img" class="icon is-left">
												                    <use href="/assets/sprite/sprite.svg#icon-eye-slash"></use>
												                </svg>
												                <span class="label is-bolder">hide comment</span>
												            </a>
												        </li>
												        <li>
												            <a href="#">
												                <svg role="img" class="icon is-left">
												                    <use href="/assets/sprite/sprite.svg#icon-complain"></use>
												                </svg>
												                <span class="label is-bolder">complain</span>
												            </a>
												        </li>
												    </ul>
												</div>
                                            </div>
                                        </div>
                                        <div class="comment__text">
                                            <p> Читал, что в Японии в период бурного экономического роста в крупных городах стояли автоматы по продаже чистого воздуха! </p>
                                        </div>
                                    </div>
                                    <div class="comment__footer rating-buttons">
                                        <div class="comment__rating-buttons">
                                            <div class="btn is-ghost count_btn">
                                                <span class="grow">+44</span>
                                                <div class="dropdown-menu_wrap">
                                                    <ul class="dropdown-menu"> 
                                                        <li><span class="menu__title"></span></li>
                                                    </ul>  
                                                </div>
                                            </div>
                                            <div class="btn is-ghost count_btn">
                                                <span class="reduce">-1</span>
                                                <div class="dropdown-menu_wrap">
                                                    <ul class="dropdown-menu"> 
                                                        <li><span class="menu__title"></span></li>
                                                    </ul>  
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn is-ghost">
                                            <svg class="icon is-left" aria-hidden="true" focusable="false">
                                                <use href="/assets/sprite/sprite.svg#icon-comment"></use>
                                            </svg>
                                            <span class="small is-bolder">Ответить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments__thread thread">
                    <div class="thread__indent-l-0">
                        <div class="thread__comment comment">
                            <div class="comment__body">
                                <div class="comment__header">
                                    <a href="#" class="comment__avatar entety__avatar avatar is-md is-round has-overlay">
                                    <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
                                    </a>
                                    <div class="comment__info">
                                        <div class="comment__user">
                                            <a href="#" class="comment__author small is-bolder">Андрей Борджиа</a>
                                            <a href="#" class="comment__link small">15 мая</a>
                                        </div>
                                        <div class="comment__dropdown dropdown is-top-right">
										    <button class="button is-bare is-ghost is-icon dropdown-toggle" type="button">
										        <svg role="img" class="icon">
										            <use href="/assets/sprite/sprite.svg#icon-more"></use>
										        </svg>
										    </button>
										    <ul class="dropdown-menu">
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-copylink"></use>
										                </svg>
										                <span class="label is-bolder">copy link</span>
										            </a>
										        </li>
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-eye-slash"></use>
										                </svg>
										                <span class="label is-bolder">hide comment</span>
										            </a>
										        </li>
										        <li>
										            <a href="#">
										                <svg role="img" class="icon is-left">
										                    <use href="/assets/sprite/sprite.svg#icon-complain"></use>
										                </svg>
										                <span class="label is-bolder">complain</span>
										            </a>
										        </li>
										    </ul>
										</div>
                                    </div>
                                </div>
                                <div class="comment__text">
                                    <p> Японские предприниматели могут усыновлять преданных сотрудников — они становятся частью семьи и наследуют бизнес </p>
                                </div>
                            </div>
                            <div class="comment__footer rating-buttons">
                                <div class="comment__rating-buttons">
                                    <div class="btn is-ghost count_btn">
                                        <span class="grow">+44</span>
                                        <div class="dropdown-menu_wrap">
                                            <ul class="dropdown-menu"> 
                                                <li><span class="menu__title"></span></li>
                                            </ul>  
                                        </div>
                                    </div>
                                    <div class="btn is-ghost count_btn">
                                        <span class="reduce">-1</span>
                                        <div class="dropdown-menu_wrap">
                                            <ul class="dropdown-menu"> 
                                                <li><span class="menu__title"></span></li>
                                            </ul>  
                                        </div>
                                    </div>
                                </div>
                                <button class="btn is-ghost">
                                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-comment"></use>
                                    </svg>
                                    <span class="small is-bolder">Ответить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="comments__form">
                <a href="#" class="entety__avatar is-md is-round has-overlay">
                <img src="/assets/images/profile_friend.png" alt="alt" class="img-r">
                </a>
                <div class="form__item">
                    <div class="form__control-group">
                        <button class="form__control-icon is-right button is-bare is-icon" type="button">
                            <svg role="img" class="icon is-md">
                                <use href="/assets/sprite/sprite.svg#icon-send"></use>
                            </svg>
                        </button>
                        <input type="text" class="form__control has-icon-right" required="" placeholder="Добавить комментарий">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>