
    <div class="modal fade" id="editCommunity" aria-labelledby="community-selector-title" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h2 class="modal__title" id="community-selector-title">Edit community page</h2>
               
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                  
                </div>
                <div class="modal__subheader">
                    Choose photos for your avatar and cover. Tell about the community. Required fields are marked with asterisks *.
                </div>
                
                <form class="modal__body" id="edit_community">
                    <div class="flex edit__images">
                        <div class="edit__images__ava">
                            <div class="entety__avatar">
                                <img src="/assets/images/tailors.jpg" alt="" class="entety__avatar_img">
                            </div>
                        </div>
                        <div class="edit__images__bg">
                            <div class="edit__images__bg__slider">
                                <img src="/assets/images/tailors.jpg" alt="" class="edit__images__bg_img">
                            </div>
                        </div>
                    </div>     

                    <div class="accordion">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editCommunitycollapseOne" aria-expanded="true" aria-controls="editCommunitycollapseOne">
                                    General information
                                </button>
                            </h3>
                            <div id="editCommunitycollapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionGeneralInfo">
                                <div class="accordion-body">
                                    <div class="form__item has-select">
                                        <label for="communityName">Country:</label>
                                        <input class="form__control" id="communityName" name="communityName" type="text" placeholder="add Name">
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="communityDescription">Description:</label>
                                        <textarea name="communityDescription" id="communityDescription" cols="20" ></textarea>
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="communitySubject">Subject:</label>
                                        <input class="form__control" id="communitySubject" name="communitySubject" type="text" placeholder="add Name">
                                    </div>
                                    <div class="form__item has-checkbox">
                                        <label class="flex align-center">
                                            <input type="checkbox"> 
                                            The community contains content for adults
                                        </label>
                                    </div>
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Type of community</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityType" value="public">
                                                <span><b>Publications.</b> Articles, user publications, reviews</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityType" value="closest">
                                                <span><b>Closed publications.</b> Closed community (member approval)</span>
                                            </label>
                                        </div> 
                                        <div class="form__item_notice">
                                            Changing the community type is only allowed when it is created!
                                        </div>                
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="communitySite">Site:</label>
                                        <input class="form__control" id="communitySite" name="communityUrl" type="text" placeholder="add url">
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="communityPhone">Phone:</label>
                                        <input class="form__control" id="communityPhone" name="communityPhonet" type="text" placeholder="add phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editCommunitycollapseTwo" aria-expanded="true" aria-controls="editCommunitycollapseTwo">
                                    Roles and Security
                                </button>
                            </h3> 
                            <div id="editCommunitycollapseTwo" class="accordion-collapse collapse show"  data-bs-parent="#accordionGeneralInfo">
                                <div class="accordion-body">
                                    <div class="form__item has-select">
                                        <div class="form-label__title">Administrators and moderators:</div>
                                        <div class="search__filter__item__items">
                                            <div class="items_scroll select_all" data-select="" data-id="">
                                                <span>Владимир Никишкин</span>
                                                <svg class="icon" aria-hidden="true" focusable="false">
                                                    <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                                </svg>
                                            </div>
                                            <div class="items_scroll" data-select="" data-id="">
                                                <span>Татьяна Сергеева</span>
                                                <svg class="icon" aria-hidden="true" focusable="false">
                                                    <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Access</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityAccess" value="any">
                                                <span>Community is open to everyone</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityAccess" value="password">
                                                <span>Password access</span>
                                            </label>
                                        </div>            
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityAccess" value="private">
                                                <span>Only available to me</span>
                                            </label>
                                        </div>           
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Who can visit the community</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityVisit" value="any">
                                                <span>All community members</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityVisit" value="admins">
                                                <span>Only moderators and administrators </span>
                                            </label>
                                        </div>            
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityVisit" value="private">
                                                <span>Only me</span>
                                            </label>
                                        </div>           
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Moderation</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityModeration" value="moderate">
                                                <span>Moderate before posting</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="communityModeration" value="publish">
                                                <span>Publish immediately</span>
                                            </label>
                                        </div>    
                                    </div>
                                </div>
                            </div>                           
                        </div>

                        <div class="accordion-item">
                            <h3 class="accordion-header" >
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editCommunitycollapseThree" aria-expanded="true" aria-controls="editCommunitycollapseThree">
                                    Blocked Users
                                </button>
                            </h3> 
                            <div id="editCommunitycollapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionGeneralInfo">
                                <div class="accordion-body">

                                </div>
                            </div>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editProfile" aria-labelledby="profile-selector-title" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h3 class="modal__title" id="profile-selector-title">Profile</h3>
                   
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                   
                </div>
                
                <div class="modal__subheader">
                    Tell us about yourself. This information will be displayed on your personal page. Required fields are marked with asterisks *.
                </div>
                
                <form class="modal__body" id="edit_profile">
                    <div class="flex edit__images">
                        <div class="edit__images__ava">
                            <div class="entety__avatar">
                                <img src="/assets/images/tailors.jpg" alt="" class="entety__avatar_img">
                            </div>
                        </div>
                        <div class="edit__images__bg">
                            <div class="edit__images__bg__slider">
                                <img src="/assets/images/tailors.jpg" alt="" class="edit__images__bg_img">
                            </div>
                        </div>
                    </div>     

                    <div class="accordion" id="accordionProfileInfo">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editProfilecollapseOne" aria-expanded="true" aria-controls="editProfilecollapseOne">
                                    General information
                                </button>
                            </h3>
                            <div id="editProfilecollapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionProfileInfo">
                                <div class="accordion-body">
                                    <div class="main_info">
                                        <h3>Владимир Никишин</h3>
                                    </div>
                                    
                                    <div class="form__item has-select">
                                        <label for="profileName">Country:</label>
                                        <input class="form__control" id="profileName" name="profileName" type="text" placeholder="add Name">
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="profileDescription">Description:</label>
                                        <textarea name="profileDescription" id="profileDescription" cols="20" ></textarea>
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="profileSubject">Subject:</label>
                                        <input class="form__control" id="profileSubject" name="profileSubject" type="text" placeholder="add Name">
                                    </div>
                                    <div class="form__item has-checkbox">
                                        <label class="flex align-center">
                                            <input type="checkbox" > 
                                            The profile contains content for adults
                                        </label>
                                    </div>
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Type of profile</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileType" value="public">
                                                <span><b>Publications.</b> Articles, user publications, reviews</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileType" value="closest">
                                                <span><b>Closed publications.</b> Closed profile (member approval)</span>
                                            </label>
                                        </div> 
                                        <div class="form__item_notice">
                                            Changing the profile type is only allowed when it is created!
                                        </div>                
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="profileSubjectSite">Site:</label>
                                        <input class="form__control" id="profileSubjectSite" name="profileUrl" type="text" placeholder="add url">
                                    </div>
                                    <div class="form__item has-select">
                                        <label for="profileSubjectPhone">Phone:</label>
                                        <input class="form__control" id="profileSubjectPhone" name="profilePhonet" type="text" placeholder="add phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editProfilecollapseTwo" aria-expanded="true" aria-controls="editProfilecollapseTwo">
                                    Roles and Security
                                </button>
                            </h3> 
                            <div id="editProfilecollapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionGeneralInfo">
                                <div class="accordion-body">
                                    <div class="form__item has-select">
                                        <div class="form-label__title">Administrators and moderators:</div>
                                        <div class="search__filter__item__items">
                                            <div class="items_scroll select_all" data-select="" data-id="">
                                                <span>Владимир Никишкин</span>
                                                <svg class="icon" aria-hidden="true" focusable="false">
                                                    <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                                </svg>
                                            </div>
                                            <div class="items_scroll" data-select="" data-id="">
                                                <span>Татьяна Сергеева</span>
                                                <svg class="icon" aria-hidden="true" focusable="false">
                                                    <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Access</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileAccess" value="any">
                                                <span>profile is open to everyone</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileAccess" value="password">
                                                <span>Password access</span>
                                            </label>
                                        </div>            
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileAccess" value="private">
                                                <span>Only available to me</span>
                                            </label>
                                        </div>           
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Who can visit the profile</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileVisit" value="any">
                                                <span>All profile members</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileVisit" value="admins">
                                                <span>Only moderators and administrators </span>
                                            </label>
                                        </div>            
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileVisit" value="private">
                                                <span>Only me</span>
                                            </label>
                                        </div>           
                                    </div>
                                
                                    <div class="form__item radio_select">
                                        <div class="form-label__title">Moderation</div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileModeration" value="moderate">
                                                <span>Moderate before posting</span>
                                            </label>
                                        </div>             
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label flex align-center">
                                                <input type="radio" class="form-check-input" name="profileModeration" value="publish">
                                                <span>Publish immediately</span>
                                            </label>
                                        </div>    
                                    </div>
                                </div>
                            </div>                           
                        </div>

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editProfilecollapseThree" aria-expanded="true" aria-controls="editProfilecollapseThree">
                                    Blocked Users
                                </button>
                            </h3> 
                            <div id="editProfilecollapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionGeneralInfo">
                                <div class="accordion-body">

                                </div>
                            </div>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="inviteForm" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h3 class="modal__title">Invite</h3>
                    {#
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/projects/#{ExtraData.domain}/images/base/graphics/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    #}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statisticForm" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h3 class="modal__title">Statistic</h3>
                    {#
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/projects/#{ExtraData.domain}/images/base/graphics/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    #}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-notify" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h3 class="modal__title">Statistic</h3>
                    {#
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/projects/#{ExtraData.domain}/images/base/graphics/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    #}
                </div>
            </div>
        </div>
    </div>