{% import "../base/macros.twig" as nameMacro %}


<div class="main__sidebar__actions">
	
		
		
    <div class="dropdown is-right">
        <a href="javascript:void(0)" class="dropdown-toggle block-aside_target is_rubber" data-toggle="dropdown" aria-expanded="false">
            <div class="">
                <span>All comments</span>
            </div>
        </a>
        <div class="dropdown-menu_wrap">
            <ul class="dropdown-menu block-aside__select">
                                        
                    <li class="dropdown custom-radio"> 
                        <label>
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="/assets/sprite/sprite.svg#icon-all"></use>
                            </svg>
                            
                                <input type="radio" name="block-aside-check" id="rb0" value="All comments" checked=""> 
                            
                            <span>All comments</span>                        
                        </label>
                    </li>
                                        
                    <li class="dropdown custom-radio"> 
                        <label>
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="/assets/sprite/sprite.svg#icon-friends"></use>
                            </svg>
                            
                                <input type="radio" name="block-aside-check" id="rb1" value="Friends comments"> 
                            
                            <span>Friends comments</span>                        
                        </label>
                    </li>
                
            </ul>
        </div>
    </div>

	
</div>



<div class="block-aside__comments">
	{% for key, value in asideComments %}
		{{ nameMacro.asideComments(value[0], value[1], value[2], value[3], value[4]) }}
	{% endfor %}
</div> 
