
<img class="logo__mark" src="/assets/images/logo/logomark.svg" width="48" height="48" alt="{% block title %}{% endblock %}">
<div class="logo__copy">			    	
    <div class="tagline">Eco<span>system</span><br><span>Business</span> Power</div>
    {# <div class="tagline">Эко<span>Система</span><br><span>Бизнес</span>Сила</div> #}
</div>