{% import "../base/macros.twig" as nameMacro %}

<div class="main__body main__content__body">
	{% if mainContentList|length > 0 %}
		{% for key, value in mainContentList %}
			{{ nameMacro.contentList(value[0], value[1], value[2], value[3], value[4], value[5]) }}
		{% endfor %}
	{% elseif mainContentListMy|length > 0 %}
		{% for key, value in mainContentListMy %}
			{{ nameMacro.contentListMy(value[0], value[1], value[2], value[3], value[4], value[5]) }}
		{% endfor %}
	{% endif %}
</div>