{% set profileLink = {
  mypage: "my profile",
  finances: "my finances",
  bonuses: "bonuses and discounts",
  settings: "settings",
  exit: "exit"
} %}
<div class="dropdown-menu_wrap">
  <ul class="dropdown-menu">  
    {% for key, value in profileLink %}
      <li><a href="/{{ key }}">{{ value }}</a></li>
    {% endfor %}
  </ul>  
</div>
