		<footer class="footer">
			<div class="footer__container container">
				<nav class="footer__nav">
					<ul>
						<li><a href="#">Справка</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Соглашение</a></li>
						<li><a href="#">Конфиденциальность</a></li>
					</ul>
				</nav>

				<img src="/assets/images/logo/logomark.svg" alt="alt" class="footer__logo img-r">

				<div class="footer__language-toggle dropdown is-top is-languages">
					<button class="button is-ghost dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-auto-close="outside">
						<svg role="img" class="icon is-left">
							<use href="/assets/images/flags.svg#icon-flag-ru"></use>
						</svg>

						<span>Русский</span>

						<svg role="img" class="icon is-sm">
							<use href="/assets/sprite/sprite.svg#icon-chevron-down-sm"></use>
						</svg>
					</button>
					<div class="footer__languages languages dropdown-menu">
						{% include "../components/languages.twig" %}
					</div>
				</div>

				<div class="footer__site-credits">
					<p class="footer__copyright">Social movement of entrepreneurs ™</p>
					<a href="#" class="footer__link">Powered by Qwerty Social Network Engine</a>
				</div>
			</div>
		</footer>