.seller-p-tab {
    // .seller-p-tab__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        @include media-breakpoint-down(md) {
            border-right: 1px solid var(--ink-dark-border, #d1d9e6);
            border-left: 1px solid var(--ink-dark-border, #d1d9e6);
            border-bottom: 1px solid var(--ink-dark-border, #d1d9e6);
        }
    }

    // .seller-p-tab__table
    &__table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        position: relative;
    }

    // .seller-p-tab__tbody
    &__tbody {
    }

    // .seller-p-tab__product-items
    &__product-items {
    }

    // .seller-p-tab__product
    &__product {
        @include style-text;
        color: var(--ink-dark-2-ry, #475f85);
        font-weight: 400;

        align-items: center;
        padding: 0.8rem 1.6rem;
        white-space: nowrap;
        position: relative;
        border-top: 1px solid var(--ink-dark-border, #d1d9e6);
        @include media-breakpoint-down(sm) {
            padding: 0.8rem 0 0.8rem 1.6rem;
        }
    }

    // .seller-p-tab__subtitle-table
    &__subtitle-table {
        display: flex;
        margin-right: 1rem;
        align-items: center;
    }

    // .seller-p-tab__real-check
    &__real-check {
    }

    // .seller-p-tab__custom
    &__custom {
    }

    // .seller-p-tab__products-wrap
    &__products-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .seller-p-tab__description
    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .seller-p-tab__prod-name
    &__prod-name {
        @include style-text;
        color: var(--ink-blue-text-brand-700, #2268d8);
        font-weight: 400;
        text-decoration-line: underline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // .seller-p-tab__block
    &__block {
        @include style-text;
        color: var(--ink-dark-2-ry, #475f85);
        font-weight: 400;
    }

    // .seller-p-tab__num
    &__num {
    }

    &__date-text {
        color: var(--ink-dark-base, #081935);
        text-align: right;
        font-weight: 400;
    }

    // .seller-p-tab__price
    &__price {
        color: var(--ink-dark-base, #081935);
        text-align: right;
        font-weight: 400;
    }

    // .seller-p-tab__sale
    &__sale {
        color: #8197bb;
        text-align: right;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: line-through;
    }
}
// 56 350 105 217 152 191 113

.link-sel-st {
    min-width: 35rem;
    max-width: 35rem;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    background: var(--background-bg-base, #fcfcfd);
    & span {
        @include style-link;
        color: var(--ink-dark-2-ry, #475f85);
    }
    @include media-breakpoint-down(xl) {
        min-width: 24rem;
        max-width: 24rem;
    }
    @include media-breakpoint-down(md) {
        min-width: calc(50vw - 2rem);
        max-width: calc(50vw - 2rem);
    }
}

.sel-p-link {
    min-width: 35rem;
    max-width: 37rem;
    padding: 1.6rem !important;
    margin: 0 !important;
    @include media-breakpoint-down(xl) {
        min-width: 24rem;
        max-width: 24rem;
    }
    @include media-breakpoint-down(md) {
        min-width: calc(50vw - 2rem);
        max-width: calc(50vw - 2rem);
    }
}

.sel-p-more {
    min-width: 5.6rem;
    & button {
        background-color: transparent !important;
        padding: 0;
    }
}

.sel-p-dates {
    min-width: 10.5rem;
}

.sel-p-status {
    min-width: 22rem;
    max-width: 22rem;

}
.sel-p-delivery {
    min-width: 15.2rem;
}
.sel-p-pay {
    min-width: 19.1rem;
}
.sel-p-sum {
    min-width: 11.3rem;
}

.sel-data-grid {
    // .sel-data-grid__status

    &__status {
    }
}
