.label,
%label {
  font-size: var(--font-size-small);
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: var(--font-line-height-small);
  text-transform: uppercase;
}
.has-shadow,
%has-shadow {
  box-shadow: 0px 0px 0px 1px rgba(142, 157, 180, 0.04), 0px 1px 2px rgba(142, 157, 180, 0.14), 0px 2px 4px -1px rgba(142, 157, 180, 0.14), 0px 4px 8px -1px rgba(142, 157, 180, 0.14);
  border: 1px solid rgba(23, 25, 28, 0.04);
}
.has-border-radius-sm,
%border-radius-sm {
  border-radius: var(--shape-border-radius-sm);
}
.has-border-radius-base,
%border-radius-base {
  border-radius: var(--shape-border-radius-base);
}
.has-border-radius-lg,
%border-radius-lg {
  border-radius: var(--shape-border-radius-lg);
}
.has-border-radius-xl,
%border-radius-xl {
  border-radius: var(--shape-border-radius-xl);
}
.has-border-radius-pill,
%border-radius-pill {
  border-radius: var(--shape-border-radius-pill);
}

.open .dropdown-menu_wrap:before {
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: 0.3;
  z-index: 3;
}
.dropdown__menu, .dropdown-menu {
  z-index: 5;
}
.no_list_style,
%no_list_style {
  list-style: none;
  padding: 0;
}

.active_visible {
  display: none;
}
.active {
  .active_visible {
    display: block;
  }
}

// Backdrop / scrim / overlay
.backdrop,
.scrim,
%backdrop {
  background-color: var(--color-scrim-base);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity var(--motion-duration-base);
  z-index: var(--layer-zindex-scrim);

  &.is-on,
  &.in,
  &.show {
    opacity: 1;
  }
}
.font-size-small,
%font-size-small {
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-base);
}
.no_bg,
%no_bg {
  background: unset;
}
.border-bottom,
%border-bottom {
  border-bottom: 1px solid #D1D9E6;
}
%hidden,
.hidden {
  display: none;
}
.entety__avatar_img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.small,
%small {
  font-size: var(--font-size-small);
  font-weight: normal;
  line-height: var(--font-line-height-small); 

  &.is-bolder {
    font-weight: bold;
  }
}

.big,
%big {
  font-size: var(--font-size-big);
  line-height: var(--font-line-height-big);

  &.is-md {
    font-weight: 500;
    letter-spacing: -0.05rem;
  }

}