.float,
%float {
  background-color: var(--color-background-alt);
  // BS override
  border: 0;
  box-shadow:
    var(--layer-box-shadow-contour),
    var(--layer-box-shadow-z3);
  color: var(--color-ink-2ry);
  float: none;
  text-align: left;
  list-style: none;
  margin: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--motion-duration-sm);
  z-index: var(--layer-zindex-dropdown);
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2.4rem 1.6rem;
  position: fixed;

  @include media-breakpoint-up(sm) {
    position:absolute;
    width: max-content;
    min-width: var(--size-width-sm);
    border-radius: var(--shape-border-radius-base);
    top: auto;
    bottom: auto;

  }

}

.float.is-open,
.dropup.open .float,
.dropdown.open .float,
%float-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

// -----------------------------------------------------------------------------
// PLACEMENT
// -----------------------------------------------------------------------------

.float.is-dropup,
%float-dropup {
  top: auto;
  bottom: 100%;
}

.float.is-right,
%float-right {
  left: auto;
  right: 0;
}


%float-languages {
  overflow-y: auto;
  width: 100%;
  max-width: 78.2rem;
  left: 0;
  right: 0;
  margin: auto;
}
