.story-pop {
    grid-template-columns: clamp(27.2rem, 16.6666666667%, 32rem) 1fr;
    display: grid;
    grid-column-gap: var(--size-gutter-xl);
    grid-row-gap: 2.4rem;
    padding-left: 0;

    &__side {
        min-height: 100vh;
        background: #fff;

        &__content {
            margin-top: $size-3;        
        }   
        &__title {
            margin-bottom: $size-3;  
            margin-top: $size-5;
        }  
        .primary-nav {
            padding: 3rem 2rem 2.4rem 3rem;
        }      
    }
}
.border-right {
    border-left: 1px solid var(--color-ink-border);
    padding: 0.2rem 0 0.2rem 1rem;
}
